<div (click)="pause()" *ngIf="Mostrar" class="" style="height: 100%">
  <div
    style="
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
    "
    *ngIf="individual"
  >
    <video muted class="videoBack">
      <source [src]="Challenge.challenged.media | safeUrl" type="video/mp4" />
      <source [src]="Challenge.challenged.media | safeUrl" type="video/ogg" />
    </video>
  </div>
  <img
    src="https://img.icons8.com/nolan/64/play.png"
    *ngIf="pauseVideo"
    style="
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    "
  />
  <div
    style="
      top: 0;
      height: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    "
  >
    <video
      width="100%"
      height="100%"
      style="margin-top: auto; margin-bottom: auto"
      loop
      [id]="Challenge.challenged.media + Challenge._id"
    >
      <source
        [src]="Challenge.challenged.media | safeUrl"
        [id]="Challenge.challenged.media + Challenge._id"
        type="video/mp4"
      />
      <source
        [src]="Challenge.challenged.media | safeUrl"
        [id]="Challenge.challenged.media + Challenge._id"
        type="video/ogg"
      />
      <br />
    </video>
    <span class="movement iconChain" style="bottom: 180px">
      <img
        src="https://img.icons8.com/fluent/48/000000/chain.png"
        (click)="goChallenge()"
        style="cursor: pointer; height: 30px;"
      />
    </span>
    <span class="viewsNumber" 
      style="
        z-index: 99999999999999999999;
        bottom:180px
       " >
      <ion-icon name="eye-outline" class="iconViews"></ion-icon>
      {{ Challenge.views.length }}
    </span
    >
  </div>
</div>
