
<div 
(click)="pause()" 
style="
  height: 100%;
  position:relative;
  border-radius: 20px;
  text-align: center;
  background-color: black;
  "
>
  <ion-spinner *ngIf="!Mostrar" style="height: 100%; width: 10%; color:white; z-index: 999999999999999;"></ion-spinner>
  <div
    style="
      top: 0;
      height: inherit;
      left: 0;
      right: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      position:relative;
    "
    [hidden]="!Mostrar"
  >
    <img
      src="https://img.icons8.com/ios-filled/100/000000/circled-play.png"
      *ngIf="pauseVideo || paused"
      style="
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index:999999999999999 !important;
        background:white;
        border-radius:50px
      "
    />
    <video
      width="100%"
      height="100%"
      style="
        margin-top: auto; 
        margin-bottom: auto; 
        border-radius: 20px;
      "
      loop
      [id]="Challenge.challenged.media + Challenge._id"
    >
      <source
        [src]="Challenge.challenged.media | safeUrl"
        [id]="Challenge.challenged.media + Challenge._id"
        type="video/mp4"
      />
      <source
        [src]="Challenge.challenged.media | safeUrl"
        [id]="Challenge.challenged.media + Challenge._id"
        type="video/ogg"
      />
      <br />
    </video>
    <span 
      *ngIf="chain && scrollEvent"
      class="movement iconChain" 
      style="bottom: 50px; left:20px"
    >
      <img
        src="https://img.icons8.com/windows/32/000000/decentralized-network.png"
        *ngIf="chain"
        (click)="goChallenge()"
        style="
         cursor: pointer; 
         height: 40px; 
         background:rgba(255,255,255,0.5);
         border-radius:30px
        "
      />
    </span>
    <app-challenges-post-options
      *ngIf="scrollEvent"
      [Challenge]="Challenge"
      [pause]="pauseS"
    ></app-challenges-post-options>
  </div>
</div>
