<div >
  <p  style="white-space:pre-wrap"><span class="message" [innerHTML]="post.message | links"></span></p>
  <div style="text-align: center;">
    <img (click)="goToPost(post._id)" class="img-post"  *ngIf="post.image != null" [src]="post.image"/>
  </div>             
  
  
    <video *ngIf="post.video != null && post.video != ''" controlslist="nodownload"  controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer">
      <source [src]="post.video | safeUrl" type="video/mp4" />
      <source [src]="post.video | safeUrl" type="video/ogg" />
     </video>
  
 
  <iframe *ngIf="post.message  | youtube" [src]="post.message  | youtube" frameborder="0"></iframe>
</div>