<ion-card-header class="user-header">
  <ion-avatar
    class="mini"
    (click)="
      goToProfile(
        Challenge.challenged.userId.data._id,
        Challenge.challenged.userId.data.username
      )
    "
  >
    <ion-img
      class="img-user-mini"
      [src]="Challenge.challenged.userId.data.photo"
    ></ion-img>
    <div
      class="connectedDIVlittlePost"
      *ngIf="Challenge.challenged.userId.data.connected"
    ></div>
  </ion-avatar>
  <div class="user-name">
    <span
      class="message profile-name"
      (click)="
        goToProfile(
          Challenge.challenged.userId.data._id,
          Challenge.challenged.userId.data.username
        )
      "
    >
      {{ Challenge.challenged.userId.data.name }}
      {{ Challenge.challenged.userId.data.last_name }}
    </span>
    <br />
  </div>
  <ion-button [fill]="buttonFollowState ? 'outline' : 'clear'" style="right: 0; position: absolute"
    (click)="buttonFollowState === true ? followUser(ownerChallengeId) : unFollowUser(ownerChallengeId)" 
    *ngIf="buttonFollowState !== null"
  >
    {{buttonFollowText | translate}}
    <ion-icon [name]="buttonFollowState ? 'flame-outline' : 'checkmark-circle-outline'" style="margin-left: 5px;"></ion-icon>
  </ion-button>
</ion-card-header>
<div style="padding-left: 20px; padding-right: 20px">
  <p class="title">{{ Challenge.title }}</p>
  <p class="description">{{ Challenge.description }}</p>
</div>
<ion-item-divider> </ion-item-divider>
<app-challenges-post-options
  [Challenge]="Challenge"
  [pause]="pauseS"
></app-challenges-post-options>
<div class="buttonNext" (click)="goNext()">
  <img src="https://img.icons8.com/nolan/64/circled-chevron-right.png"/>
</div>
