<div class="footer-login">
  <div *ngIf=" !platform.is('cordova')" class="stores">
    <div>
      <a
        href="https://play.google.com/store/apps"
        ><img
          style="height: 40px"
          alt="Disponible en Google Play"
          src="assets/logos/available-google.png"
      /></a>
    </div>
    <div>
      <a
        href="https://apps.apple.com"
        ><img
          src="assets/logos/available-ios.png"
          alt="Download on the App Store"
          style="height: 40px"
      /></a>
    </div>
  </div>
  <div class="legal">
    <a class="item" *ngFor="let item of legalTexts" [href]="item.url"
      >{{item.text | translate}}</a
    >
  </div>
</div>