.close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-shadow: 0px 0px 4px black;
    z-index: 2;
    top: 1px;
}
.back{
    color: white;
    z-index: 2;
    font-size: 30px;
    padding: 5px;
    top: 10px;
    position: absolute;
    left: 10px;
    background: #00000073;
    cursor: pointer;
    border-radius: 50%;
  }

  .white{
      background: white !important;
  }
  