.content {
  padding: 15px;
  .title {
    text-align: center;
  }
  .mini {
    flex: auto;
    text-align: center;
    img {
      width: 80px;
      height: 40px;
      box-shadow: 0 0 1px 1px black;
      border-radius: 10px;
      object-fit: cover;
    }
    p {
      margin: 2px;
    }
  }
  .profile {
    flex: auto;
    img {
      width: 120px;
      height: 120px;
      border-radius: 10px;
      box-shadow: 0 0 2px 2px black;
      object-fit: cover;
    }
    p {
      margin: 2px;
    }
  }
}
.hint {
  font-size: 13px;
  color: var(--color-primary);
  margin: 5px !important;
  ion-icon {
    vertical-align: middle;
    font-size: 15px;
  }
}

.change-btn-content{
  margin: 5px;
  ion-button{
    font-size: 12px !important;
  }
}