<ion-content>
  <div class="text-center">
    <img
      [src]="photo"
      style="
        cursor: pointer;
        height: 300px;
        width: 600px;
        border-radius: 10px;
        object-fit: cover;
        object-position: cover;
      "
      (click)="changePhoto()"
    />
    <form [formGroup]="form">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">{{
            "sponsorURL" | translate
          }}</ion-label>
          <ion-input
            type="text"
            placeholder="URL"
            formControlName="url"
          ></ion-input>
        </ion-item>
      </ion-list>
    </form>
    <div style="margin-top:30px;">
      <ion-button
        (click)="save()"
        [disabled]="form.status !== 'VALID'"
        shape="round"
        *ngIf="!editing"
      >
        {{ "new_event.button" | translate }}
      </ion-button>
      <ion-button
        (click)="save()"
        [disabled]="form.status !== 'VALID'"
        shape="round"
        *ngIf="editing"
      >
        {{ "edit" | translate }}
      </ion-button>

      <ion-button
        (click)="close()"
        shape="round"
        color="lighted"
        style="color: black"
      >
        {{ "close" | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
