<div class="user-header">
  <ion-avatar
    class="mini"
    (click)="userService.goToProfile(post.user.username)"
  >
    <img class="img-user-mini" [src]="post.user.photo" />
    <div class="connectedDIVlittlePost" *ngIf="post.user.connected"></div>
  </ion-avatar>
  <div class="user-name">
    <p
      class="profile-name"
      style="margin: 0"
      (click)="userService.goToProfile(post.user.username)"
    >
      {{ post.user.name }} {{ post.user.last_name }}
    </p>

    <p style="margin: 0px">
      <span
        *ngIf="post.edited == null"
        (click)="goToPost(post._id)"
        class="profile-name date"
        >{{ post.date | customDisplayDate }}</span
      >
      <span
        *ngIf="post.edited != null"
        (click)="goToPost(post._id)"
        class="profile-name date"
        style="font-size: 11px"
        >{{ "edit_at" | translate }} {{ post.edited | customDisplayDate }}</span
      >
      <span class="views">
        <ion-icon name="eye-outline"></ion-icon>
        {{ post.views.length }}</span
      >
    </p>
  </div>

  <ion-icon
    *ngIf="post.user._id == userService.User?._id && displayOptions"
    name="chevron-down"
    (click)="openOptions($event)"
    class="options-down"
  ></ion-icon>
</div>

<view-sponsors
  [sponsors]="post.user.sponsors"
  (onSelect)="goToSponsor($event)"
></view-sponsors>
<!-- SPONSORS -->
