<div
  class="notification"
  (click)="read()"
  [ngClass]="notification.read ? '' : 'unread'"
  routerLink="{{ notification.routerlink }}"
>
  <div class="notification-user">
    <img class="user" [src]="notification.friend.photo" />
    <ion-icon name="arrow-redo" class="icon"></ion-icon>
  </div>

  <div style="padding-left: 15px">
    <p style="margin-left: 5px; color: black">
      {{ notification.friend.name }} {{ notification.friend.last_name }}
      {{ "notifications.shared.text" | translate }}
    </p>

    <span class="date">{{ notification.date | customDisplayDate }}</span>
  </div>
</div>
