<ion-grid class="chat-footer">
  <form [formGroup]="form">
    <ion-row *ngIf="question.questionGroup">
      <ion-col size="12">
        <edit-question
        class="question-chat"
          [question]="question.questionGroup"
          (delete)="deleteQuestion()"
          (edit)="editQuestion()"
        ></edit-question>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="files.length > 0">
      <preview-files-chat
        style="max-width: 100%"
        [(files)]="files"
      ></preview-files-chat>
    </ion-row>

    <ion-row>
      <div (click)="stopPropagation($event)">
        <emoji-mart
          [style]="{ width: '100%' }"
          *ngIf="emojis"
          (emojiClick)="addEmoji($event)"
          title="Pick your emoji…"
          emoji="point_up"
          [showPreview]="false"
        ></emoji-mart>
      </div>
    </ion-row>
    <ion-row
      fxShow.xs="true"
      fxShow="false"
      class="footer-content"
      style="justify-content: flex-end; min-height: 40px !important"
    >
      <assets-buttons
        #assetsBtn
        [chat]="true"
        [group]="chat.group"
        (videoToUpload)="pushVideoToUpload($event)"
        (newFile)="addFile($event)"
        (emoji)="openEmojis()"
        (emoji)="stopPropagation($event)"
        (newQuestion)="newQuestion($event)"
        [question]="question.questionGroup"
      ></assets-buttons>
    </ion-row>
    <ion-row>
      <ion-col class="footer-content">
        <assets-buttons
          #assetsBtn
          [chat]="true"
          [group]="chat.group"
          fxShow.xs="false"
          fxShow="true"
          (videoToUpload)="pushVideoToUpload($event)"
          (newFile)="addFile($event)"
          (emoji)="openEmojis()"
          (emoji)="stopPropagation($event)"
          (newQuestion)="newQuestion($event)"
          [question]="question.questionGroup"
        ></assets-buttons>

        <!-- Esto va en el input, pero se buscara un metodo mas factible xd -->
        <!-- (click)="readMessages(messages, chat._id)" -->
        <div class="textarea">
          <ion-textarea
            (click)="stopPropagation($event)"
            (focusout)="focusout($event)"
            (keydown.enter)="send($event)"
            rows="1"
            formControlName="message"
            class="input-message"
            placeholder="{{ 'chat.input_placeholder' | translate }}"
            autoGrow="true"
          >
          </ion-textarea>
        </div>
        <div
          class="button"
          *ngIf="form.controls.message.value || files.length > 0"
        >
          <ion-icon name="send" class="icon" (click)="send($event)"></ion-icon>
        </div>
        <record-audio
          *ngIf="!form.controls.message.value && files.length == 0"
          (newAudio)="msgAudio($event)"
        ></record-audio>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
