<div [ngClass]="{chat:chat}" >
  <ion-button
  class="btn-rounded-options hidden-mobile"
  (click)="clickEmoji($event)"
>
  <ion-icon name="happy"></ion-icon>
</ion-button>

<ion-button [disabled]="question" class="btn-rounded-options" (click)="assetsOptions('galery')">
  <ion-icon name="image"></ion-icon>
</ion-button>
<ion-button [disabled]="question" class="btn-rounded-options" (click)="assetsOptions('link')">
  <ion-icon name="link"></ion-icon>
</ion-button>
<ion-button [disabled]="question" *ngIf="chat" class="btn-rounded-options" (click)="openDocument.click()">
  <ion-icon name="document"></ion-icon
></ion-button>
<ion-button [disabled]="question" class="btn-rounded-options" (click)="assetsOptions('online')">
  <ion-icon name="globe-outline"></ion-icon>
</ion-button>
<ion-button [disabled]="question" class="btn-rounded-options" (click)="assetsOptions('gif')">
  GIF
</ion-button>
<ion-button [disabled]="files.length > 0" *ngIf="!editPost"  (click)="createQuestion()">
  <ion-icon name="help-outline"></ion-icon>
</ion-button>

<ion-button
  *ngIf="platform.is('mobile')"
  class="btn-rounded-options"
  (click)="assetsOptions('camera')"
>
  <ion-icon name="camera-outline"></ion-icon>
</ion-button>
</div>
<input
  #openImage
  type="file"
  accept="image/*,video/*"
  (change)="uploadFile($event)"
  multiple
  hidden
/>

<input
#openDocument
type="file"
accept="application/*"
(change)="uploadDocumet($event)"
multiple
hidden
/>
