<div [ngClass]="{ chat: chat }">
  <ion-button class="{{chat ? 'btn-primary hidden-mobile btn-grad' : 'btn-primary hidden-mobile'}}" (click)="clickEmoji($event)">
    <ion-icon name="happy"></ion-icon>
  </ion-button>

  <ion-button
    [disabled]="question"
    class="{{chat ? 'btn-primary btn-grad' : 'btn-primary'}}"
    (click)="assetsOptions('galery')"
  >
    <ion-icon name="image"></ion-icon>
  </ion-button>
  <ion-button
    [disabled]="question"
    class="{{chat ? 'btn-primary btn-grad' : 'btn-primary'}}"
    (click)="assetsOptions('link')"
  >
    <ion-icon name="link"></ion-icon>
  </ion-button>
  <ion-button
    [disabled]="question"
    *ngIf="chat"
    class="{{chat ? 'btn-primary btn-grad' : 'btn-primary'}}"
    (click)="openDocument.click()"
  >
    <ion-icon name="document"></ion-icon
  ></ion-button>
  <ion-button
    [disabled]="question"
    class="{{chat ? 'btn-primary btn-grad' : 'btn-primary'}}"
    (click)="assetsOptions('online')"
  >
    <ion-icon name="globe-outline"></ion-icon>
  </ion-button>
  <ion-button
    [disabled]="question"
    class="{{chat ? 'btn-primary btn-grad' : 'btn-primary'}}"
    (click)="assetsOptions('gif')"
  >
    GIF
  </ion-button>
  <ion-button
    class="btn-primary"
    [disabled]="files.length > 0"
    *ngIf="canCreateQuestion"
    (click)="createQuestion()"
  >
    <ion-icon name="help-outline"></ion-icon>
  </ion-button>

  <ion-button
    *ngIf="platform.is('mobile')"
    class="btn-primary"
    (click)="assetsOptions('camera')"
  >
    <ion-icon name="camera-outline"></ion-icon>
  </ion-button>
</div>
<input
  #openImage
  type="file"
  accept="image/*,video/*"
  (change)="uploadFile($event)"
  multiple
  hidden
/>

<input
  #openDocument
  type="file"
  accept="application/*"
  (change)="uploadDocumet($event)"
  multiple
  hidden
/>
