.status{
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.options{
    position: absolute;
    right: 5px;
    cursor: pointer;
    z-index: 1000;
}

.options:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.title{
    color: white;
    font-size: 18px;
    font-family: cursive;
}

.description{
    color: white;
}

.date{
    color: white;
    font-size: 12px;
    position: absolute;
    right: 5px;
    top: -15px;
}

.price{
    color: #06f370;
    font-size: 17px;
}

.wish{
    background: var(--color-primary);
    border-radius: 5px;
    padding: 10px;
}

.pointer{
    cursor: pointer;
}