<ion-row>
  <ion-col>
    <h6 style="color: black; font-weight: bold">
      {{'aptitudes.title' | translate}}
    </h6>
  </ion-col>
  <ion-col>
    <ion-icon *ngIf="id==userService.User?._id" class="addPlus" name="add-outline"
      (click)="aptitudeService.aptitudeSelected=null" routerLink="new-aptitudes"></ion-icon>
  </ion-col>
</ion-row>
<div *ngFor="let e of aptitudeService.aptitudes" style="margin-bottom:10px;">
  <div style="border-bottom: 2px solid rgb(243 242 239);" *ngIf="!e.deleted">
    <ion-row>
      <ion-col size="4" class="text-center">
        <h2 class="t-16 t-black t-bold">{{e.title}} </h2>
      </ion-col>
      <ion-col size="8">
        <rating 
            [rate]="e.score" 
            readonly="true" 
            size="default"> 
        </rating>

        <ion-button *ngIf="id==userService.User?._id" style="float: right;" (click)="aptitudeService.delete(e._id)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="id==userService.User?._id" style="float: right;"
          (click)="aptitudeService.changeSelected(e)" routerLink="new-aptitudes">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>

      </ion-col>
    </ion-row>
  </div>
</div>
<div class="text-center mb" *ngIf="aptitudeService.noAptitudes">{{'awards.no-info' | translate}}</div>
