
  <ion-content>
    <ion-list>
      <ion-item style="cursor:pointer" (click)="option('chat')">
        <span> <ion-icon  style="color: #3d30ef;vertical-align: middle;font-size: 24px;"  name="chatbubble-outline"></ion-icon> {{'chat.options.new_chat' | translate}} </span>
      </ion-item>
      <ion-item style="cursor:pointer" (click)="option('group')">
        <span> <ion-icon  style="color: #cc30ef;vertical-align: middle;font-size: 24px;"  name="chatbubbles-outline"></ion-icon> {{'chat.options.new_group' | translate}} </span>
      </ion-item>
      <ion-item style="cursor:pointer" (click)="option('close')">
        <span> <ion-icon  style="color: #ef3030;vertical-align: middle;font-size: 24px;"  name="close"></ion-icon> {{'chat.options.close' | translate}} </span>
      </ion-item>
  
    </ion-list>
  </ion-content>
   