<div *ngIf="awards.length === 0" class="text-center">
  <img src="https://img.icons8.com/clouds/100/000000/medal.png" />
  <br />
  <h3>{{ "challenge.noAwards" | translate }}</h3>
</div>
<ion-list style="padding-bottom: 200px">
  <ng-container *ngFor="let a of awards; let i = index">
    <app-awards-accordion
      [a]="a"
      [creator]="creator"
      [i]="i"
      (delete)="delete($event)"
    ></app-awards-accordion>
  </ng-container>
</ion-list>

<ion-button
  class="bottom-button2"
  (click)="next.emit(awards)"
  *ngIf="creator"
  >{{ "next" | translate }}</ion-button
>
<ion-button
  class="bottom-button"
  (click)="next.emit(null)"
  *ngIf="creator"
  >{{ "challenge.createAward" | translate }}</ion-button
>
