<div class="options">
  <div class="item" (click)="option('see')">
    <span>
      <ion-icon name="eye-outline"></ion-icon>
      {{ "profile_banner_options.see" | translate }}
    </span>
  </div>
  <div class="item" (click)="option('upload')">
    <span>
      <ion-icon name="image-outline"></ion-icon>
      {{ "profile_banner_options.upload" | translate }}
    </span>
  </div>
  <div class="item" (click)="option('online')">
    <span>
      <ion-icon name="image-outline"></ion-icon>
      {{ "profile_banner_options.online" | translate }}
    </span>
  </div>
  <div class="item" (click)="option('cancel')">
    <span>
      <ion-icon name="close-circle-outline"></ion-icon>
      {{ "cancel" | translate }}
    </span>
  </div>
</div>
