.mb {
  margin-bottom: 20px;
  margin-top: 20px;
}

.addPlus {
  float: right;
  font-size: 30px;
  margin-top: 12px;
  cursor: pointer;
  color: rgba(35, 112, 61, 0.993);
}

.pv-entity__summary-info {
  flex: 1 0;
}

.slide {
  width: 100%;
}

.divExperiences {
  border-bottom: 2px solid rgb(243 242 239);
}
