.sponsors {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 0px 10px;
}

.sponsor-img {
  height: 30px;
  width: 60px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  border: solid 1px var(--color-secondary);
  background: var(--color-primary);
}
