.trashIcon{
  cursor: pointer;
  color: gray;
  font-size: 20px;
  border-radius: 50%;
  z-index: 9999999;
}
.trashIconVideo{
  cursor: pointer;
  color: red;
  float: right;
  font-size: 30px;
  font-size: 20px;
  border-radius: 50%;
}
