<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="--color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'change-slider.title' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: white ;margin: 0; padding: 0;">
  <div
    class="text-center"
    style="margin: 0; padding: 0; background-color: white; "
  >
    <input
      multiple
      type="file"
      #fileChooser
      accept="video/*, image/*"
      (change)="sliderLogic.uploadFile($event)"
      hidden
    />
    <ion-card-content class="text-center">
      <ion-row>
        <ion-col size-sm="12" size-xs="12" size-md="6" size-lg="6" size-xl="4">
          <div
            (click)="addContent()"
            width="300px"
            height="225px"
            alt=""
            style="cursor: pointer; text-align: center"
          >
            <ion-icon
              slot="start"
              name="add-circle-outline"
              style="height: 225px; width: 168px; color: black"
            ></ion-icon>
            <br />
            <p style="color: black">¡Agrega una imagen a tu slider!</p>
          </div>
        </ion-col>
        <ng-container *ngFor="let img of sliderLogic.content">
          <ion-col
            size-sm="12"
            size-xs="12"
            size-md="6"
            size-lg="6"
            size-xl="4"
          >
            <div
              *ngIf="img.indexOf('youtube') === -1 && img.indexOf('video') === -1"
            >
              <ion-icon
                name="close-outline"
                class="trashIconVideo"
                (click)="sliderLogic.delete(img)"
              ></ion-icon>
              <br />
              <img
                [src]="img"
                (click)="openImg(img)"
                alt=""
                style="width: 100%; height: 100%"
              />
            </div>
            <div
              *ngIf="img.indexOf('video') !== -1"
            >
              <ion-icon
                name="close-outline"
                class="trashIconVideo"
                (click)="sliderLogic.delete(img)"
              ></ion-icon>
              <br />

              <video
                controlslist="nodownload"
                style="width: 100% !important; height: 100% !important"
                controls="controls"
                preload="metadata"
                webkit-playsinline="webkit-playsinline"
                class="videoPlayer"
              >
                <source [src]="img | safeUrl" type="video/mp4" />
                <source [src]="img | safeUrl" type="video/ogg" />
                <br />
              </video>
            </div>
            <div
              *ngIf="img.indexOf('youtube') !== -1 && img | youtube"
            >
              <ion-icon
                name="close-outline"
                class="trashIconVideo"
                (click)="sliderLogic.delete(img)"
              ></ion-icon>
              <br />
              <iframe
                style="width: 100% !important; height: 100% !important"
                [src]="img | youtube"
              >
              </iframe>
            </div>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-card-content>
  </div>
  <ion-fab-button color="secondary" (click)="addContent()" class="new"
    ><ion-icon name="add"></ion-icon
  ></ion-fab-button>
</ion-content>
