<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="--color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'aptitudes.create' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<input type="file" #fileChooser accept="video/*" (change)="imgVideoUpload.uploadFile($event)" hidden>

<ion-content class="bg-gradient-person">
    <ion-row   class="height-100vh ion-justify-content-center">
      <ion-col  size-md="8" size-sm="12">
        <ion-card  style="max-width: 700px; margin-top:10px !important;">
          <form [formGroup]="form">
            <ion-grid >
              <ion-row >
                <ion-col size-sm="12" size-xs="12">
                  <ion-item >
                    <ion-label position="stacked">{{'aptitudes.form.title' | translate}}</ion-label>
                    <ion-input type="text" formControlName="title"></ion-input>
                  </ion-item>
                </ion-col>
                <br>
                <ion-col size-sm="12" size-xs="12" class="text-center">
                    <ion-label position="stacked">{{'aptitudes.form.score' | translate}}</ion-label>
                    <rating formControlName="score" 
                            readonly="false" 
                            size="default"> 
                    </rating>
                </ion-col>
             </ion-row>
             <hr>
              <ion-row>
                <ion-button (click)="save()" [disabled]="form.invalid" style="margin: auto;" class="bg-gradient-person">
                  {{'awards.btn' | translate}}
               </ion-button>
              </ion-row>
            </ion-grid>
          </form> 
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
