<div
  class="notification"
  (click)="read()"
  [ngClass]="notification.read ? '' : 'unread'"
  routerLink="{{ notification.routerlink }}"
>
  <div class="notification-user">
    <img class="user" [src]="notification.friend.photo" />
    <ion-icon name="bookmark" class="icon"></ion-icon>
  </div>

  <div style="padding-left: 15px">
    <p *ngIf="notification.action == 'mention'">
      {{ "notifications.mention.text" | translate: notification.friend }}
    </p>
    <p *ngIf="notification.action == 'mention_comment'">
      {{
        "notifications.mention_comment.text" | translate: notification.friend
      }}
    </p>

    <span class="date">{{ notification.date | customDisplayDate }}</span>
  </div>
</div>
