.notification{
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #cf4be4 ;
    padding: 10px;
    position: relative;
}

.unread{
    background: lavender;
  
}
.notification:hover{
    background: lavender;
}

.date{
    font-size: 12px;
    position: absolute;
    bottom: 2px; right: 5px;
}

.icon{
    color: var(--color-primary);
    font-size: 32px;
}

.see{
    position: relative;
    left: 90%;
}

.eye{
    color: rgba(0, 0, 0, 0.808);
    font-size: 32px;
}

@media screen and (max-width:600px){
    .see{
        position: relative;
        left: 80%;
    }
    
  }