.back{
  color: white;
  z-index: 2;
  font-size: 30px;
  padding: 5px;
  top: 10px;
  position: absolute;
  left: 10px;
  background: #00000073;
  cursor: pointer;
  border-radius: 50%;
}


.white{
  background: white !important;
}
