<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="--color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'awards.create' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>
<input type="file" #fileChooser accept="video/*" (change)="imgVideoUpload.uploadFile($event)" hidden>

<ion-content class="bg-gradient-person">
    <ion-row   class="height-100vh ion-justify-content-center">
      <ion-col  size-md="8" size-sm="12">
        <ion-card  style="max-width: 700px; margin-top:10px !important;">
          <form [formGroup]="form">
            <ion-grid >
              <ion-row >
                <ion-col size-sm="12" size-xs="12">
                  <ion-item >
                    <ion-label position="stacked">{{'awards.form.position' | translate}}</ion-label>
                    <ion-input type="text" formControlName="position"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-sm="12" size-xs="12">
                  <ion-item >
                    <ion-label
                      position="stacked ">{{'awards.form.federationTeam' | translate}}</ion-label>
                    <ion-input type="text" formControlName="federationTeam" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size-sm="12"  size-xs="12">
                  <ion-item >
                    <ion-label position="stacked ">{{'awards.form.place' | translate}}</ion-label>
                    <ion-input formControlName="place"  type="text"></ion-input>
                  </ion-item>
               </ion-col>
               <ion-col size-sm="12"  size-xs="12">
                  <ion-item >
                    <ion-label position="stacked ">{{'awards.form.eventDate' | translate}}</ion-label>
                    <ion-input formControlName="eventDate"  type="date"></ion-input>
                  </ion-item>
                </ion-col>
               <ion-col size-sm="12"  size-xs="12">
                  <ion-item >
                    <ion-label position="stacked ">{{'awards.form.title' | translate}}</ion-label>
                    <ion-input formControlName="title"  type="text"></ion-input>
                  </ion-item>
               </ion-col>
               <ion-col size-sm="12"  size-xs="12">
                  <ion-item >
                    <ion-label
                      position="stacked ">{{'awards.form.description' | translate}}</ion-label>
                    <ion-textarea formControlName="description"
                      type="text"></ion-textarea>
                  </ion-item>
               </ion-col>
             </ion-row>
             <hr>
             <div class="text-center">
              <span>
                <ion-button *ngIf="fileChooser" (click)="AddMultimedia()">
                 <ion-icon slot="start" name="add-circle"></ion-icon>
                 {{ 'awards.form.multimediaContent' | translate }}
                </ion-button>   
              </span>


                <ion-row >
                  <ion-col size-sm="12" size-xs="12" size-md="12" *ngFor="let c of content" >
                    <ion-icon name="close-outline" class="trashIcon" 
                      (click)="deleteContent(c)"
                    ></ion-icon>
                    <img [src]="c" *ngIf="c.indexOf('image') !== -1" />  
                    <video *ngIf="c.indexOf('video') !== -1" 
                      controlslist="nodownload"  controls="controls" preload="metadata"  webkit-playsinline="webkit-playsinline" class="videoPlayer"
                    >
                     <source [src]="c | safeUrl" type="video/mp4" />
                     <source [src]="c | safeUrl" type="video/ogg" />
                     <br>
                    </video>
                    <iframe
                      *ngIf="c.indexOf('youtube') !== -1"
                      width="100%"
                      height="100%"
                      [src]="c | youtube"
                    >
                    </iframe>
                  </ion-col>
                </ion-row>
             </div>
              <br>
              <ion-row>
                <ion-button (click)="save()" [disabled]="form.invalid" style="margin: auto;" class="bg-gradient-person">
                  {{'awards.btn' | translate}}
               </ion-button>
              </ion-row>
            </ion-grid>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
