<ion-header *ngIf="!postPage" style="max-width: 100% !important">
  <ion-toolbar class="main-bg">
    <ion-title style="--color: white">{{
      "new_comment.title" | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalController.dismiss()" style="--color: white"
        ><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid class="white">
  <ion-row>
    <ion-col size="12">
      <new-post-header></new-post-header>
    </ion-col>
    <ion-col size="12">
      <form [formGroup]="form">
        <span
          *ngIf="form.controls.message.value == ''"
          class="fake-placeholder"
          >{{ "new_comment_placeholder" | translate }}</span
        >
        <div
          #mainInput
          class="custom-textarea box-input"
          formControlName="message"
          contenteditable
          Mentions
          (usersRender)="usersChange($event)"
          (click)="stopPropagation($event)"
        ></div>

        <div style="max-height: 400px; overflow: auto">
          <div
            class="users-mentions"
            id="mentionsUser"
            *ngFor="let user of users"
            (click)="setUser(user.user)"
          >
            <ion-avatar class="mention">
              <ion-img [src]="user.user.photo"></ion-img>
            </ion-avatar>
            <span class="name-mention">
              {{ user.user.name }} {{ user.user.last_name }}</span
            >
          </div>
        </div>
      </form>

      <div (click)="stopPropagation($event)">
        <emoji-mart
          *ngIf="emoji"
          (emojiClick)="addEmoji($event)"
          title="Pick your emoji…"
          emoji="point_up"
          [showPreview]="false"
        ></emoji-mart>
      </div>
    </ion-col>

    <ion-col class="buttons" size="12">
      <assets-buttons
        #assetsBtn
        (videoToUpload)="pushVideoToUpload($event)"
        (newQuestion)="newQuestion($event)"
        (newFile)="addFile($event)"
        (emoji)="openEmojis()"
        (emoji)="stopPropagation($event)"
        [question]="question.questionGroup"
        [files]="files"
      ></assets-buttons>

      <ion-button
        class="btn-green"
        [disabled]="
          form.invalid && files.length == 0 && !question.questionGroup || creating
        "
        (click)="send()"
      >
        {{ "new_comment.btn" | translate }}
      </ion-button>
    </ion-col>
    <ion-col>
      <post-preview-images
        [loading]="loading"
        [(files)]="files"
      ></post-preview-images>
    </ion-col>
    <ion-col size="12">
      <edit-question
        *ngIf="question.questionGroup"
        #editQuestionHash
        [question]="question.questionGroup"
        (delete)="deleteQuestion()"
        (edit)="editQuestion()"
      ></edit-question>
    </ion-col>
  </ion-row>
</ion-grid>
