.title{
    color: var(--color-primary);
    text-align: center;
}
.add-button{
    font-size: 10px;
    --background: var(--color-primary);
    height: 30px;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

