.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-lg-left{
  font-size:20px;
  font-weight: bold;
}
.icons{
  font-size: 50px;
  padding:20px;
}
.iconsText{
  margin-top:20px;
  margin-bottom:20px;
}
