<div class="options">
  <div class="item" (click)="option('now')">
    <span>
      <ion-icon name="bookmark-outline"></ion-icon>
      {{ "share.now" | translate }}</span
    >
  </div>
  <div class="item" (click)="option('wall')">
    <span>
      <ion-icon name="create-outline"></ion-icon>
      {{ "share.wall" | translate }}</span
    >
  </div>
  <div class="item" (click)="option('with')">
    <span>
      <ion-icon name="arrow-redo-outline"></ion-icon>
      {{ "share.with" | translate }}</span
    >
  </div>
  <div class="item" (click)="option('cancel')">
    <span>
      <ion-icon name="close-circle-outline"></ion-icon>
      {{ "cancel" | translate }}
    </span>
  </div>
</div>
