.imageArray{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.imageSelected{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.views{
  text-align: center;
  width: 80px;
  border-radius: 45px;
  background: #669dcd;
  position: absolute;
  right: 10px;
}