<ion-header>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white">{{
      "structure.title.text" | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="structure">
    
    <div class="header">
      <h1 class="title">{{ structure.name | translate }}</h1>
      <h6>
        {{ structure.description }}
      </h6>

      <p class="sdate">
        {{ Texts.init | translate }} -
        {{ structure.date | customDisplayDate: true }}
      </p>
      <ion-button (click)="edit()" class="btn-primary">{{
        Texts.edit | translate
      }}</ion-button>
    </div>
    <div class="content">
      <div class="section" routerLink="organization">
        <div class="text-content">
          <h2 class="text">{{ Texts.organizationChart | translate }}</h2>
          <img src="assets/structure/orgChart.jpeg" alt="" />
        </div>
      </div>
      <div class="section">
        <div class="text-content">
          <h2 class="text">{{ Texts.structureClub | translate }}</h2>
          <img src="assets/structure/stadium.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <div style="display: flex; padding: 10px; justify-content: center">
      <div class="social-content" *ngFor="let social of socialNetworks">
        <div
          style="cursor: pointer"
          (click)="redirectTo(social.name, social.username)"
        >
          <ion-icon
            class="icons social-icon"
            [name]="social.icon"
            [ngClass]="social.name"
          ></ion-icon>
          <p *ngIf="social.username">@{{ social.username }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
