.chat-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: background-color .3s ease;
}

.friends-chat-card{
    width: 100%;
    height: 100%;
    overflow: auto !important;
}

.chat-img{
    margin: auto;
 
    width: 500px;
}
