.overlay:hover{
  visibility: visible;
  opacity:1;
}
.overlay {
  position:absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 25px;
  z-index:9;
}
.icon-div{
  display:flex;
  justify-content: center;
  height:100%;
}
.icon{
  border-radius:30%;
  cursor:pointer;
  margin-top:auto;
  margin-bottom:auto;
}
