<ion-content>
  <lang-button></lang-button>
  <ion-grid class="main-grid">
    <ion-row class="main-row">
      <ion-col class="main-col" size-lg="5" size-md="8" size-sm="12">
        <ion-card ngClass.xs="login-xs" class="main-card">
          <ion-card-header class="text-center">
            <div
              class="title-project"
              style="cursor: pointer"
              (click)="userService.goLanding()"
            >
              <img
                src="assets/logos/logo.png"
                alt="SportYeah"
                width="150px"
                style="vertical-align: middle !important"
              />
            </div>
            <ion-card-title>{{'login.login' | translate}}</ion-card-title>
            <ion-card-subtitle>{{'login.msg' | translate}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <form [formGroup]="loginForm">
                    <ion-grid class="max-widht-520 center">
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-label position="floating"
                              >{{'login.email' | translate}}</ion-label
                            >
                            <ion-input
                              formControlName="email"
                              type="email"
                            ></ion-input> 
                          </ion-item>
                        </ion-col>
                        <ion-col size="12">
                          <ion-item>
                            <ion-input
                              placeholder="{{'login.password' | translate}}"
                              formControlName="password"
                              [type]="(show)?'text':'password'"
                            ></ion-input>
                            <ion-icon
                              class="eyeIcon"
                              [name]="(show)?'eye-off':'eye'"
                              slot="end"
                              style="cursor: pointer"
                              (click)="show = !show"
                            ></ion-icon>
                          </ion-item>
                        </ion-col>
                        <ion-col>
                          <ion-checkbox
                            [(ngModel)]="remember"
                            [ngModelOptions]="{standalone: true}"
                            style="vertical-align: middle"
                          ></ion-checkbox
                          ><span> {{'rememberme' | translate}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </form>
                  <div class="forgot">
                    <a routerLink="/forgot"
                      >{{'login.forgot_password'| translate}}</a
                    >
                  </div>
                  <div style="text-align: center">
                    <ion-button (click)="login()" class="btn-primary"
                      >{{'login.login' | translate}}</ion-button
                    >
                  </div>
                  <div class="max-widht-300 center margin-top-10 text-center">
                    <a routerLink="/signup"
                      >{{'login.create_account'| translate}}</a
                    >
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
