<ion-grid *ngIf="item" style="position: relative">
  <div
    class="reacts"
    (mouseover)="time = true"
    (mouseout)="time = false"
    #reacts
  >
    <div class="overlay" fxShow="false" fxShow.xs="true"></div>
    <div class="circle" (click)="like(item.post._id, item.likes, 1)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png"
        alt=""
      />
      <p>{{ "post.like" | translate }}</p>
    </div>
    <div class="circle" (click)="like(item.post._id, item.likes, 2)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png"
        alt=""
      />
      <p>{{ "post.love" | translate }}</p>
    </div>
    <div class="circle" (click)="like(item.post._id, item.likes, 3)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png"
        alt=""
      />
      <p>{{ "post.haha" | translate }}</p>
    </div>
    <div class="circle" (click)="like(item.post._id, item.likes, 4)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png"
        alt=""
      />
      <p>{{ "post.wow" | translate }}</p>
    </div>
    <div class="circle" (click)="like(item.post._id, item.likes, 5)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png"
        alt=""
      />
      <p>{{ "post.sad" | translate }}</p>
    </div>
    <div class="circle" (click)="like(item.post._id, item.likes, 6)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png"
        alt=""
      />
      <p>{{ "post.angry" | translate }}</p>
    </div>
  </div>

  <ion-row class="options">
    <ion-col size="4">
      <ion-button
        fill="clean"
        (mouseover)="reactionsON()"
        (mouseout)="Changefalse()"
        (touchstart)="reactionsON()"
        (click)="like(item.post._id, item.likes, 1, true)"
      >
        <ion-icon
          *ngIf="!(item.likes | liked: userService.User?._id)"
          name="heart"
          style="margin-right: 2px"
        ></ion-icon>
        <span *ngIf="!(item.likes | liked: userService.User?._id)">{{
          "post.like" | translate
        }}</span>
        <img
          *ngIf="rea == 1 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png"
          alt=""
        />
        <img
          *ngIf="rea == 2 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png"
          alt=""
        />
        <img
          *ngIf="rea == 3 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png"
          alt=""
        />
        <img
          *ngIf="rea == 4 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png"
          alt=""
        />
        <img
          *ngIf="rea == 5 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png"
          alt=""
        />
        <img
          *ngIf="rea == 6 && (item.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png"
          alt=""
        />
        <span
          *ngIf="rea == 1 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          [style]="{
            color:
              (item.likes | liked: userService.User?._id) ? '#1877F2' : null
          }"
          fxShow="false"
          >{{ "post.like" | translate }}</span
        >
        <span
          *ngIf="rea == 2 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #fd5f7a"
          fxShow="false"
          >{{ "post.love" | translate }}</span
        >
        <span
          *ngIf="rea == 3 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.haha" | translate }}</span
        >
        <span
          *ngIf="rea == 4 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.wow" | translate }}</span
        >
        <span
          *ngIf="rea == 5 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.sad" | translate }}</span
        >
        <span
          *ngIf="rea == 6 && (item.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #e9651e"
          fxShow="false"
          >{{ "post.angry" | translate }}</span
        >
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(item.post._id)"
        class="profile-name"
      >
        {{ item.likes.length }} {{ "post.likes" | translate }}
      </p>
      <p
        style="margin: 0"
        *ngIf="isPost"
        (click)="seeLikes()"
        class="profile-name"
      >
        {{ item.likes.length }} {{ "post.likes" | translate }}
      </p>
    </ion-col>
    <ion-col size="4">
      <ion-button
        fill="clean"
        [ngClass]="item.comments | commented: userService.User?._id"
        (click)="comment(item.post)"
      >
        <ion-icon name="chatbox-outline" style="margin-right: 2px"></ion-icon>
        <span fxShow.gt-xs="true" fxShow="false">{{
          "post.comment" | translate
        }}</span>
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(item.post._id)"
        class="profile-name"
      >
        {{ item.comments.length }} {{ "post.comments" | translate }}
      </p>
      <p style="margin: 0" *ngIf="isPost">
        {{ item.comments.length }} {{ "post.comments" | translate }}
      </p>
    </ion-col>
    <ion-col size="4">
      <ion-button
        fill="clean"
        [ngClass]="item.shareds | shared: userService.User?._id"
        (click)="shared(item.post)"
      >
        <ion-icon
          name="arrow-redo-outline"
          style="margin-right: 2px"
        ></ion-icon>
        <span fxShow.gt-xs="true" fxShow="false">{{
          "post.share" | translate
        }}</span>
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(item.post._id)"
        class="profile-name"
      >
        {{ item.shareds.length }} {{ "post.shared" | translate }}
      </p>
      <p
        style="margin: 0"
        *ngIf="isPost"
        (click)="seeShareds()"
        class="profile-name"
      >
        {{ item.shareds.length }} {{ "post.shared" | translate }}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid *ngIf="news" style="position: relative">
  <div
    class="reacts"
    (mouseover)="time = true"
    (mouseout)="time = false"
    #reacts
  >
    <div class="overlay" fxShow="false" fxShow.xs="true"></div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 1)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png"
        alt=""
      />
      <p>{{ "post.like" | translate }}</p>
    </div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 2)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png"
        alt=""
      />
      <p>{{ "post.love" | translate }}</p>
    </div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 3)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png"
        alt=""
      />
      <p>{{ "post.haha" | translate }}</p>
    </div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 4)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png"
        alt=""
      />
      <p>{{ "post.wow" | translate }}</p>
    </div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 5)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png"
        alt=""
      />
      <p>{{ "post.sad" | translate }}</p>
    </div>
    <div class="circle" (click)="like2(news.news._id, news.likes, 6)" #circle>
      <img
        #img
        src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png"
        alt=""
      />
      <p>{{ "post.angry" | translate }}</p>
    </div>
  </div>

  <ion-row class="options">
    <ion-col size="4">
      <ion-button
        fill="clean"
        (mouseover)="reactionsON()"
        (mouseout)="Changefalse()"
        (touchstart)="reactionsON()"
        (click)="like2(news.news._id, news.likes, 1, true)"
      >
        <ion-icon
          *ngIf="!(news.likes | liked: userService.User?._id)"
          name="heart"
          style="margin-right: 2px"
        ></ion-icon>
        <span *ngIf="!(news.likes | liked: userService.User?._id)">{{
          "post.like" | translate
        }}</span>
        <img
          *ngIf="rea == 1 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png"
          alt=""
        />
        <img
          *ngIf="rea == 2 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png"
          alt=""
        />
        <img
          *ngIf="rea == 3 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png"
          alt=""
        />
        <img
          *ngIf="rea == 4 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png"
          alt=""
        />
        <img
          *ngIf="rea == 5 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png"
          alt=""
        />
        <img
          *ngIf="rea == 6 && (news.likes | liked: userService.User?._id)"
          style="margin-right: 2px; height: 20px; width: 20px"
          #img
          src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png"
          alt=""
        />
        <span
          *ngIf="rea == 1 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          [style]="{
            color:
              (news.likes | liked: userService.User?._id) ? '#1877F2' : null
          }"
          fxShow="false"
          >{{ "post.like" | translate }}</span
        >
        <span
          *ngIf="rea == 2 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #fd5f7a"
          fxShow="false"
          >{{ "post.love" | translate }}</span
        >
        <span
          *ngIf="rea == 3 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.haha" | translate }}</span
        >
        <span
          *ngIf="rea == 4 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.wow" | translate }}</span
        >
        <span
          *ngIf="rea == 5 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #f0b125"
          fxShow="false"
          >{{ "post.sad" | translate }}</span
        >
        <span
          *ngIf="rea == 6 && (news.likes | liked: userService.User?._id)"
          fxShow.gt-xs="true"
          style="color: #e9651e"
          fxShow="false"
          >{{ "post.angry" | translate }}</span
        >
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(news.news._id)"
        class="profile-name"
      >
        {{ news.likes.length }} {{ "post.likes" | translate }}
      </p>
      <p
        style="margin: 0"
        *ngIf="isPost"
        (click)="seeLikes()"
        class="profile-name"
      >
        {{ news.likes.length }} {{ "post.likes" | translate }}
      </p>
    </ion-col>
    <ion-col size="4">
      <ion-button
        fill="clean"
        [ngClass]="news.comments | commented: userService.User?._id"
        (click)="comment2(news.news)"
      >
        <ion-icon name="chatbox-outline" style="margin-right: 2px"></ion-icon>
        <span fxShow.gt-xs="true" fxShow="false">{{
          "post.comment" | translate
        }}</span>
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(news.news._id)"
        class="profile-name"
      >
        {{ news.comments.length }} {{ "post.comments" | translate }}
      </p>
      <p style="margin: 0" *ngIf="isPost">
        {{ news.comments.length }} {{ "post.comments" | translate }}
      </p>
    </ion-col>
    <ion-col size="4">
      <ion-button
        fill="clean"
        [ngClass]="news.shareds | shared: userService.User?._id"
        (click)="shared2(news.news)"
      >
        <ion-icon
          name="arrow-redo-outline"
          style="margin-right: 2px"
        ></ion-icon>
        <span fxShow.gt-xs="true" fxShow="false">{{
          "post.share" | translate
        }}</span>
      </ion-button>
      <p
        style="margin: 0"
        *ngIf="!isPost"
        (click)="goToPost(news.news._id)"
        class="profile-name"
      >
        {{ news.shareds.length }} {{ "post.shared" | translate }}
      </p>
      <p
        style="margin: 0"
        *ngIf="isPost"
        (click)="seeShareds()"
        class="profile-name"
      >
        {{ news.shareds.length }} {{ "post.shared" | translate }}
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
