/* Stream */
#agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
}

.remote-containers div{
    height: 250px;
    width: 250px;
}

.player {
    width: 100%;
  }
  /* Stream fin*/

  .rowStyle{
    background: white;
    border-radius: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
 }

.comments{
    height: 78%;
    width: 100%; 
}

@media screen and (max-width: 991px) {
    .comments{
        height: 300px;
        width: 100%; 
    }
  }