/* Stream */
#agora_local{
    height: 500px;
    width: 500px;
    display: inline-block;
}

.remote-containers div{
    height: 250px;
    width: 250px;
}

.player {
    width: 480px;
    height: 320px;
  }
  /* Stream fin*/

  .rowStyle{
    background: white;
    border-radius: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
 }