<ion-content>
  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row
      class="height-100vh ion-align-items-center ion-justify-content-center"
    >
      <ion-col class="max-widht-520" size-lg="5" size-md="8" size-sm="12">
        <ion-card ngClass.xs="login-xs" style="box-shadow: none !important">
          <ion-card-header class="text-center">
            <ion-img
              class="img-login"
              style="cursor: pointer"
              (click)="userService.goLanding()"
              src="assets/logos/logo.png"
            ></ion-img>
            <ng-container *ngIf="chat; else chatError">
              <ion-card-title>{{
                "chat.group.invitation.header" | translate
              }}</ion-card-title>
              <img src="{{ chat.image }}" style="max-width: 150px" />
              <ion-card-subtitle> {{ chat.name }}</ion-card-subtitle>
            </ng-container>
            <ng-template #chatError>
              <ion-card-title>{{
                "chat.group.invitation.no_exist" | translate
              }}</ion-card-title>
            </ng-template>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    (click)="join()"
                    class="btn-primary"
                    expand="block"
                    fill="outline"
                    *ngIf="chat && !inside"
                    >{{ "chat.group.join" | translate }}</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
