.icon-notifications {
  font-size: 28px;
  color: white;
  margin-right: 3px;
}

.notification-btn {
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.badge {
  bottom: 0;
  position: absolute;
  background: white;
  color: black;
  right: 0;
}
