<ion-header>
  <ion-buttons slot="start">
    <ion-back-button style="color: white"></ion-back-button>
  </ion-buttons>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'news.newsSport'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content *ngIf="news.length > 0" class="main-bg">
<ion-grid>
  <ion-row>
    <ion-col size="12">
      <h1 class="title">{{'news.last' | translate}}</h1>
      <!--<ion-text color="black">
         <h1 style="font-size:35px;color: white; text-align: center;"><i></i></h1> 
      </ion-text>-->
    </ion-col>
    <!-- <ion-col *ngFor="let new of newsFollowthree" size-xs="12" size-lg="4">
      <div (click)="OpenNews(new._id)" class="threeNews">
        <div style="background: black;">
          <ion-img *ngIf="new.principalImage" style=" width: 100%;max-width: 256px; ;
          margin-left: auto;
          margin-right: auto;"  [src]="new.principalImage"></ion-img>
          <div *ngIf="new.principalVideo" style="position: relative ;width: 100%;">
            <video
              controls="controls"
              preload="metadata"
              autoplay="autoplay"
              webkit-playsinline="webkit-playsinline"
              class="videoPlayerNews"
            >
              <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
            </video> 
          </div> 
        </div>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <h3 style="margin-bottom: -8px;padding-left: 10px;color: rgb(58, 58, 58);text-align: justify; font-size: 9px;">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;margin-left:8px !important">{{new.date | customDisplayDate}}</span>
                 </h3>
              </ion-col>
              <ion-col style="text-align: center;" size="6">
               
                  <ion-avatar style="width: 25px;height: 25px;margin-left: auto; margin-right: auto;" (click)="userService.goToProfile(new.user.username,news.user._id,'news',undefined)">
                    <img class="user-img-shadow" [src]="new.user.photo" />
                   </ion-avatar>
            
                <h3  style="font-size: 8px !important;margin-left:8px !important;margin-top: 0px;color: rgb(0, 0, 0) ;cursor: pointer;" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >{{new.user.name}} {{new.user.last_name}}</h3>
              </ion-col>
              <ion-col size="12">
                <h2 style="margin-top: 0px;padding-right: 10px;padding-left: 10px;padding-bottom: 10px; color: black;text-align: justify; font-size: 15px;"><b>{{new.headline}}</b></h2>
              </ion-col>
            </ion-row>
          </ion-grid>
      </div>
      </div>
    </ion-col> -->
  </ion-row>
</ion-grid>
<ion-fab-button style="z-index:1000;" *ngIf="userService.User?.profile_user == 'press' "  [routerLink]="'/news/create'" class="new addNews"><ion-icon name="add"></ion-icon></ion-fab-button>

<!-- Noticias generales  -->
<ion-card>
  <!--  <ion-card-header>
    <ion-text color="black">
     <h1 style="font-size:35px;color: black; text-align: center;"><i>Más noticias</i></h1>  de {{'sport.'+userService.User?.sport| translate}}
   </ion-text>
  </ion-card-header> -->
  
  <ion-card-content  *ngIf="newsSportUser.length > 0">
      <ion-list>
       <!--  <ion-item  *ngFor="let new of newsSportUser?.slice(0,indexLast )">

          <ion-note slot="start">
            <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
            <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
              <video
                controls="controls"
                preload="metadata"
                autoplay="autoplay"
                webkit-playsinline="webkit-playsinline"
                class="videoPlayerNews"
              >
                <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
              </video>
            </div> 
          </ion-note>
          <br>
          <div>
            <h5 class="deporteTitle">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate}}</span>
              <div style="float: rightf;">
              <ion-avatar style="width: 25px;height: 25px;margin-left: auto; margin-right: auto;" (click)="userService.goToProfile(new.user.username,news.user._id,'news',undefined)">
                <img class="user-img-shadow" [src]="new.user.photo" />
               </ion-avatar>
              <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)">{{new.user.name}} {{new.user.last_name}}</span>
            </div>
            </h5><br>
            <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
          </div>   
        </ion-item> -->
        <ion-grid>
          <ion-row  *ngFor="let new of newsSportUser?.slice(0,indexLast )">

            <ion-col style="text-align: left;" size-xs="12" size-lg="3">
              <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
              <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
                <video
                  controls="controls"
                  preload="metadata"
                  autoplay="autoplay"
                  webkit-playsinline="webkit-playsinline"
                  class="videoPlayerNews"
                >
                  <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
                </video>
              </div> 
            </ion-col>
            
            <ion-col size-xs="12" size-lg="9">
              <h5 class="deporteTitle">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
                <div style="float: right;">
                <ion-avatar style="width: 25px;height: 25px;margin-left: auto; margin-right: auto;" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >
                  <img class="user-img-shadow" [src]="new.user.photo" />
                </ion-avatar>
                <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)">{{new.user.name}} {{new.user.last_name}}</span>
              </div>
              </h5>
              <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
            </ion-col>   
            <div style="background: rgb(136, 136, 136); height: 1px;width: 100%;margin-bottom: 10px;"></div>
          </ion-row>
         
        </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexLast < newsSportUser.length" class="main-bg"  (click)="verMasSport()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="newsSportUser.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- Noticias de mis seguidos -->
<!-- <ion-card>
  <ion-card-header>
    <ion-text color="black">
      <h1 style="font-size:35px;color: black; text-align: center;"><i>Más noticias de mis seguidos</i></h1> 
   </ion-text>
  </ion-card-header>
  
  <ion-card-content *ngIf="newsFollow.length > 0">
      <ion-list>
        <ion-item  *ngFor="let new of newsFollow?.slice(0,indexLastFollow )">
          <ion-note slot="start">
            <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
            <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
              <video
                controls="controls"
                preload="metadata"
                autoplay="autoplay"
                webkit-playsinline="webkit-playsinline"
                class="videoPlayerNews"
              >
                <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
              </video>
            </div> 
          </ion-note>
          <br>
          <div>
            <h5 class="deporteTitle">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate}}</span>
              <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)">{{new.user.name}} {{new.user.last_name}}</span>
            </h5><br>
            <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
          </div>   
        </ion-item>
        <div style="text-align: center;">
          <ion-button *ngIf="indexLastFollow < newsFollow.length" class="main-bg"  (click)="verMasfollow()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="newsFollow.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card> -->

<!-- Streamings -->
<ion-card *ngIf="stream != undefined">
  <ion-card-header>
    <ion-text color="black">
      <h1 style="font-size:35px;color: black; text-align: center;"><i>{{'news.live' | translate}}</i></h1> 
   </ion-text>
  </ion-card-header>
  
  <ion-card-content *ngIf="stream.length > 0">
      <ion-list>
        <ion-grid>
         <ion-row  *ngFor="let new of stream?.slice(0,indexStreaming )">
          <ion-col slot="start">
            <div>
              Aqui el estream
            </div> 
          </ion-col>
          <br>
          <ion-col>
            <h5 class="deporteTitle">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
              <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)">{{new.user.name}} {{new.user.last_name}}</span>
            </h5><br>
            <h3 (click)="goToStream(new.postStream,new._id)" class="newsTitle">{{new.headline}}</h3>
          </ion-col>   
        </ion-row>
      </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexStreaming < stream.length" class="main-bg"  (click)="verMasStreaming()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="stream.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- Noticias Propias del usuario (press) -->
<ion-card *ngIf="userService.User?.profile_user == 'press'">
  <ion-card-header>
    <ion-text color="black">
      <h1 style="font-size:35px;color: black; text-align: center;"><i>{{ 'news.my_news'| translate}}</i></h1> 
   </ion-text>
  </ion-card-header>
  
  <ion-card-content *ngIf="myNews.length > 0">
      <ion-list>
        <ion-grid>
        <ion-row  *ngFor="let new of myNews?.slice(0,indexLastMy )">
          <ion-col size-xs="12" size-lg="3" >
            <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
            <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
              <video
                controls="controls"
                preload="metadata"
                autoplay="autoplay"
                webkit-playsinline="webkit-playsinline"
                class="videoPlayerNews"
              >
                <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
              </video>
            </div> 
          </ion-col>
          
          <ion-col size-xs="12" size-lg="9">
            <h5 class="deporteTitle">{{ 'sport.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
              <div style="float: right;">
              <ion-avatar style="width: 25px;height: 25px;margin-left: auto; margin-right: auto;" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >  <!-- (click)="userService.goToProfile(new.user.username,news.user._id,'news',undefined)" -->
                <img class="user-img-shadow" [src]="new.user.photo" />
              </ion-avatar>
              <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >{{new.user.name}} {{new.user.last_name}}</span><!--  (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" -->
            </div>
            </h5>
            <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
          </ion-col>   
          <div style="background: rgb(136, 136, 136); height: 1px;width: 100%;margin-bottom: 10px;"></div>
        </ion-row>
      </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexLastMy < myNews.length" class="main-bg"  (click)="verMasMy()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="myNews.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
</ion-content>


<ion-content *ngIf="news.length == 0" class="main-bg">
  <ion-grid>
    <ion-row>
      <ion-col size="12"> 
        <ion-img class="iconNotNews" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
        <h1 style="text-align: center;color:white">{{ 'news.notNews'| translate}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab-button style="z-index:1000;" *ngIf="userService.User?.profile_user == 'press' "  [routerLink]="'/news/create'" class="new addNews"><ion-icon name="add"></ion-icon></ion-fab-button>
</ion-content>