<ion-header>
  <!-- <ion-buttons slot="end">
    <ion-back-button style="color: white"></ion-back-button>
  </ion-buttons> -->
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'news.newsSport'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content
#content
[scrollEvents]="true"
(ionScrollEnd)="logScrolling($event)"
class="main-bg">
  <ion-grid>
    <ion-row style="justify-content: center;">
      <ion-button
        *ngIf="news.length > 0"
        class="reload-btn"
        #reloadButton
        style="z-index: 10"
        shape="round"
        (click)="getNews(null,true)"
        >
          <span><ion-icon name="reload"></ion-icon> {{'reload'| translate}}</span>
        </ion-button>
    </ion-row>
    <ion-row >
      
      <ion-col size="12">  
        <ion-card style="margin: auto;">
          <ion-segment (ionChange)="segmentChanged($event)"> <!--  [(ngModule)]="segment"  (ionChange)="segmentChanged($event)" -->
            <ion-segment-button value="last">
              <img  class="iconsPost" src="assets/images/news-icon.png">
              <ion-label style="margin: 0px;">{{'news.last' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="live">
              <img  class="iconsPost" src="assets/images/stream-icon.png">
              <ion-label style="margin: 0px;">{{'news.live' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="userService.User?.profile_user == 'press'" value="my_news">
              <img  class="iconsPost" src="assets/images/myNews-icon.png">
              <ion-label style="margin: 0px;">{{'news.my_news' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card>
      </ion-col>
      <ion-col style="text-align: center;" *ngIf="userService.User?.profile_user == 'press' " size="12">
        <ion-button style="--border-radius: 25px;"   [routerLink]="'/news/create'">Agregar notica</ion-button>
      </ion-col>
      <!-- <ion-col style="text-align: center;">
        <ion-button
        *ngIf="news.length > 0"
        class="reload-btn"
        #reloadButton
        style="z-index: 10"
        shape="round"
        (click)="getNews(null,true)"
        >
          <span><ion-icon name="reload"></ion-icon> {{'reload'| translate}}</span>
        </ion-button>
      </ion-col> -->

      <ion-col   size="12"><!--  *ngFor="let new of news" -->
        <ion-card style="margin: auto;" >
          <ion-card-header>
            <ion-text color="black">
              <h1 style="font-size:35px;color: black; text-align: center;"><i>{{ 'news.'+segment| translate}}</i></h1> 
           </ion-text>
          </ion-card-header>
          
          <ion-card-content *ngIf="news.length > 0">
                <ion-grid>
                <ion-row > <!-- ?.slice(0,indexLastMy ) -->
                  <ion-col size="12" *ngFor="let new of news">
                    <news-wall (openNew)="OpenNews(new._id)" [new]="new"> </news-wall>
                  </ion-col>
                </ion-row>
              </ion-grid>
                <!-- <div style="text-align: center;">
                  <ion-button *ngIf="indexLastMy < news.length" class="main-bg"  (click)="verMas()">{{ 'news.see_more'| translate}}</ion-button>
                </div> -->
                
             
          </ion-card-content>
        
          <ion-card-content *ngIf="news.length == 0">
            <ion-grid>
              <ion-row>
                <ion-col size="12"> 
                  <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
                  <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>  
  </ion-grid>


















<!-- 
<ion-grid>
  <ion-row>
  

    <ion-col size="12">

      <h1 class="title">{{'news.last' | translate}}</h1>
   
    </ion-col>
  
  </ion-row>
</ion-grid> -->

<!-- Noticias generales  -->
<!-- <ion-card>
 
  
  <ion-card-content  *ngIf="news.length > 0">
      <ion-list>
        <ion-grid>
          <ion-row  *ngFor="let new of news?.slice(0,indexLast )">
            <ion-col style="text-align: left;" size-xs="12" size-lg="3">
              <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
              <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
                <video
                  [muted]="true"
                  controls="controls"
                  preload="metadata"
                  autoplay="autoplay"
                  webkit-playsinline="webkit-playsinline"
                  class="videoPlayerNews"
                >
                  <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
                </video>
              </div> 
              <div *ngIf="new.principalYoutube">
                <iframe style=" overflow: hidden ;  width: 100%;
                height: 140px"
                  *ngIf="new.principalYoutube | youtube"
                  [src]="new.principalYoutube | youtube"
                  frameborder="0"
              ></iframe>
              </div>

            </ion-col>
            
            <ion-col size-xs="9" size-lg="7">
              <h5 class="deporteTitle">{{ 'allSports.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
      
              </h5>
              <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
              <h4 (click)="OpenNews(new._id)" class="newsSubitle">{{new.principalSubtitle}}</h4>
            </ion-col>  
            <ion-col size-xs="3" size-lg="2">
              <div class="userAvatar">
                <ion-avatar class="avatar" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >
                  <img class="user-img-shadow" [src]="new.user.photo" />
                </ion-avatar>
                <p  class="nameUser"  (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)">{{new.user.name}} {{new.user.last_name}}</p>
              </div>
            </ion-col> 
            <div style="background: rgb(136, 136, 136); height: 1px;width: 100%;margin-bottom: 10px;"></div>
          </ion-row>
         
        </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexLast < news.length" class="main-bg"  (click)="verMasSport()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="news.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card> -->


<!-- Streamings -->
<!-- <ion-card *ngIf="stream != undefined">
  <ion-card-header>
    <ion-text color="black">
      <h1 style="font-size:35px;color: black; text-align: center;"><i>{{'news.live' | translate}}</i></h1> 
   </ion-text>
  </ion-card-header>
  
  <ion-card-content *ngIf="stream.length > 0">
      <ion-list>
        <ion-grid>
         <ion-row  *ngFor="let new of stream?.slice(0,indexStreaming )">
          <ion-col slot="start">
            <div>
              Aqui el estream
            </div> 
          </ion-col>
          <br>
          <ion-col>
            <h5 class="deporteTitle">{{ 'allSports.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
              <span  style="font-size: 8 !important;margin-left:8px !important;color: rgb(0, 0, 0)" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)">{{new.user.name}} {{new.user.last_name}}</span>
            </h5><br>
            <h3 (click)="goToStream(new.postStream,new._id)" class="newsTitle">{{new.headline}}</h3>
          </ion-col>   
        </ion-row>
      </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexStreaming < stream.length" class="main-bg"  (click)="verMasStreaming()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
      </ion-list>
  </ion-card-content>

  <ion-card-content *ngIf="stream.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card> -->

<!-- Noticias Propias del usuario (press) -->
<!-- <ion-card *ngIf="userService.User?.profile_user == 'press'">
  <ion-card-header>
    <ion-text color="black">
      <h1 style="font-size:35px;color: black; text-align: center;"><i>{{ 'news.my_news'| translate}}</i></h1> 
   </ion-text>
  </ion-card-header>
  
  <ion-card-content *ngIf="myNews.length > 0">
     
        <ion-grid>
        <ion-row  *ngFor="let new of myNews?.slice(0,indexLastMy )">
          <ion-col size-xs="12" size-lg="3" >
            <ion-img (click)="OpenNews(new._id)" *ngIf="new.principalImage"  class="imageMiniCard" [src]="new.principalImage"></ion-img>
            <div (click)="OpenNews(new._id)"  *ngIf="new.principalVideo" style="position: relative; cursor: pointer;">
              <video
                [muted]="true"
                controls="controls"
                preload="metadata"
                autoplay="autoplay"
                webkit-playsinline="webkit-playsinline"
                class="videoPlayerNews"
              >
                <source [src]="new.principalVideo | safeUrl" type="video/mp4" />
              </video>
            </div> 
          </ion-col>
          
          <ion-col size-xs="10" size-lg="7">
            <h5 class="deporteTitle">{{ 'allSports.'+new.sport| translate}}<span style="font-size: 8 !important;color: rgb(58, 58, 58);margin-left:15px">{{new.date | customDisplayDate:true}}</span>
              
            </h5>
            <h3 (click)="OpenNews(new._id)" class="newsTitle">{{new.headline}}</h3>
          </ion-col> 
          <ion-col  size-xs="2" size-lg="2">
            <div style="text-align: center;margin-top: 40px;cursor: pointer;" >
              <ion-avatar class="avatar" (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >  
                <img class="user-img-shadow" [src]="new.user.photo" />
              </ion-avatar>
              <p class="nameUser"  (click)="userService.goToProfile(new.user.username,new.user._id,'news',undefined)" >{{new.user.name}} {{new.user.last_name}}</p>
            </div>
          </ion-col>  
          <div style="background: rgb(136, 136, 136); height: 1px;width: 100%;margin-bottom: 10px;"></div>
        </ion-row>
      </ion-grid>
        <div style="text-align: center;">
          <ion-button *ngIf="indexLastMy < myNews.length" class="main-bg"  (click)="verMasMy()">{{ 'news.see_more'| translate}}</ion-button>
        </div>
        
     
  </ion-card-content>

  <ion-card-content *ngIf="myNews.length == 0">
    <ion-grid>
      <ion-row>
        <ion-col size="12"> 
          <ion-img style=" width: 12%;margin-left: auto;margin-right: auto;" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
          <h1 style="text-align: center;color:black">{{ 'news.notNews'| translate}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card> -->
</ion-content>


<!-- <ion-content *ngIf="news.length == 0" class="main-bg">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size="12">
        <ion-button style="--border-radius: 25px;" *ngIf="userService.User?.profile_user == 'press' "  [routerLink]="'/news/create'">Agregar notica</ion-button>
      </ion-col>
      <ion-col size="12"> 
        <ion-img class="iconNotNews" src="https://img.icons8.com/color/344/nothing-found.png" ></ion-img>
        <h1 style="text-align: center;color:white">{{ 'news.notNews'| translate}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->