.answers {
  position: relative;
  color: black;
  border-radius: 30px;
  height: 55px;
  width: 100%;
  background: #6da8d9ad;
  margin-bottom: 15px;
  border: solid #1a1818 1px;
}
.inputAnswer {
  margin-left: 15px;
  width: 500px;
  font-size: 20px;
  color: black;
}
.maxSmartpshone{
  max-width: 270px;
}
.deleteIcon {
  cursor: pointer;
  position: absolute;
  color: black;
  font-size: 25px;
  right: 20px;
  top: 15px;
}

.addAnswerDiv {
    position: relative;
    cursor: pointer;
    color: white;
    background: #2a4c78;
    border: solid 1px;
    border-radius: 30px;
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.headline-input {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: black;
  border-bottom: solid 1px;
}
