.award-description {
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 10px;
}

.last {
  right: 30px;
  position: absolute;
}

.last2{
  right: 80px;
  position: absolute;;
}
