<div
  class="notification"
  (click)="read()"
  [ngClass]="notification.read ? '' : 'unread'"
  routerLink="{{ notification.routerlink }}"
>
  <div class="notification-user">
    <img class="user" [src]="notification.friend.photo" />
    <ion-icon name="chatbox" class="icon"></ion-icon>
  </div>

  <div style="padding-left: 15px">
    <div style="display: flex; align-items: center">
      <p>
        {{ "notifications.comment.text" | translate: notification.friend }}
      </p>
    </div>
    <div *ngIf="notification.comment">
      <view-comment [preview]="true" [comment]="notification.comment"></view-comment>
    </div>

    <span class="date">{{ notification.date | customDisplayDate }}</span>
  </div>
</div>
