ion-item {
  font-size: 8pt;
}

.rank {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.team {
  background-color: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);  
}