<ion-header>
  <ion-toolbar class="main-bg">
    <ion-title style="--color: white"
      >{{'new_post.title' | translate}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" style="--color: white"
        ><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <new-post-header></new-post-header>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="form">
          <span
            *ngIf="form.controls.message.value == ''"
            class="fake-placeholder"
            >{{'dashboard.new_post_placeholder' | translate}}</span
          >
          <div
            #mainInput
            style="max-height: 200px; color: #222121"
            formControlName="message"
            contenteditable
            class="custom-textarea"
            Mentions
            (usersRender)="usersChange($event)"
            (mention)="newValue($event)"
            (click)="stopPropagation($event)"
          ></div>
          <div style="max-height: 400px; overflow: auto">
            <div
              class="users-mentions"
              id="mentionsUser"
              *ngFor="let user of users"
              (click)="setUser(user.user)"
            >
              <ion-avatar class="mention">
                <ion-img [src]="user.user.photo"></ion-img>
              </ion-avatar>
              <span
                style="align-self: center; margin-left: 3px; user-select: none"
              >
                {{user.user.name}} {{user.user.last_name}}</span
              >
            </div>
          </div>

          <post-preview-images
            [loading]="loading"
            [(files)]="files"
          ></post-preview-images>
          <iframe
            *ngIf="form.controls.message.value | youtube"
            [src]="form.controls.message.value | youtube"
            frameborder="0"
          ></iframe>
        </form>
        <post-shared
          *ngIf="post || news"
          [post]="post"
          [news]="news"
        ></post-shared>

        <div *ngIf="urlVideo" style="position: relative">
          <ion-icon
            name="close"
            class="close-video"
            (click)="closeVideo()"
          ></ion-icon>
          <video
            controls="controls"
            preload="metadata"
            autoplay="autoplay"
            webkit-playsinline="webkit-playsinline"
            class="videoPlayer"
          >
            <source [src]="urlVideo | safeUrl" type="video/mp4" />
          </video>
        </div>
      </ion-col>
      <ion-col class="buttons" size="12">
        <div (click)="stopPropagation($event)">
          <emoji-mart
            class="emojis"
            *ngIf="emoji"
            (emojiClick)="addEmoji($event)"
            title="Pick your emoji…"
            emoji="point_up"
            [showPreview]="false"
          ></emoji-mart>
        </div>
        <input
          #openImage
          type="file"
          accept="image/*,video/*"
          (change)="uploadFile($event)"
          hidden
          multiple
        />

        <span (click)="stopPropagation($event)">
          <ion-button (click)="openEmojis()">
            <ion-icon name="happy"></ion-icon>
          </ion-button>
        </span>
        <ion-button (click)="imageActionSheet()">
          <ion-icon name="image"></ion-icon>
        </ion-button>
        <ion-button (click)="openImage.click()">
          <ion-icon name="videocam"></ion-icon>
        </ion-button>
        <ion-button (click)="createQuestion()">
          <ion-icon name="help-outline"></ion-icon>
        </ion-button>
        <ion-button class="btn-rounded-options" (click)="link()">
          <ion-icon name="link"></ion-icon>
        </ion-button>

        <ion-button
          [disabled]="form.invalid && files.length == 0"
          (click)="save()"
        >
          {{'new_post.btn' | translate}}
        </ion-button>
      </ion-col>

      <ion-col size="12" *ngIf="question.questionGroup">
        <edit-question
          #editQuestionHash
          [question]="question.questionGroup"
          [badDate]="badDate"
          (delete)="deleteQuestion()"
          (edit)="editQuestion()"
        ></edit-question>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
