<ion-content>
  <lang-button></lang-button>

  <ion-grid class="main-grid">
    <ion-row class="main-row">
      <ion-col class="main-col" size-lg="5" size-md="8" size-sm="12">
        <ion-card ngClass.xs="login-xs" class="main-card">
          <ion-card-header class="text-center">
            <div
              class="title-project"
              style="cursor: pointer"
              (click)="userService.goLanding()"
            >
              <img
                src="assets/logos/imagotipo_azul.png"
                alt="SportYeah"
                width="200px"
                style="vertical-align: middle !important"
              />
            </div>
            <ion-card-title>{{'forgot.title' | translate}}</ion-card-title>
            <ion-card-subtitle
              >{{'forgot.subtitle' | translate}}</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <form [formGroup]="forgotForm">
                    <ion-grid class="max-widht-300 center">
                      <ion-row>
                        <ion-col size="12">
                          <ion-item>
                            <ion-label position="floating"
                              >{{'forgot.email.label' | translate}}</ion-label
                            >
                            <ion-input
                              formControlName="email"
                              type="email"
                            ></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </form>

                  <div style="text-align: center;padding: 5px;">
                    <ion-button
                      [disabled]="forgotForm.invalid"
                      (click)="send()"
                      class="btn-secondary"
                      >{{'forgot.button' | translate}}</ion-button
                    >
                  </div>
                  <div class="max-widht-300 center margin-top-10 text-center">
                    <a routerLink="/login">{{'forgot.back'| translate}}</a>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
