<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white">{{
      "structure.title.text" | translate
    }}</ion-title>
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!structure" style="text-align: center; padding: 20px">
    <ion-spinner></ion-spinner>
  </div>
  <div *ngIf="structure">
    <div class="header">
      <div class="logo">
        <img [src]="structure.logo" alt="" />
      </div>
      <h1 class="name">{{ structure.name }}</h1>
      <h1 class="title">{{ Texts.title | translate }}</h1>
      <h6>
        {{ Texts.description | translate }}
      </h6>
    </div>
  </div>
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col
          size-md="6"
          size-lg="4"
          size-xs="12"
          *ngFor="let division of divisions"
          [ngClass]="{ deleted: division.deleted }"
        >
          <division-card  [division]="division"> </division-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
