.preview {
  width: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: auto;
  display: flex;
  padding: 10px;
}

.preview-mini {
  background-color: #faefff;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  width: 100% !important;
  display: block !important;
}

.preview-text {
  padding: 10px;
}

.image {
  max-width: 150px !important;
}

.preview-title {
  color: var(--color-primary);
  text-align: center;
}

.description {
  font-size: 12px;
  color: black;
}
