<ion-header>
  <ion-toolbar class="main-bg">
    <ion-item style="--background:inherit">
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="msg.user.photo">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label style="color: white;">
        {{msg.user.name}} {{msg.user.last_name}} <br>
        <span style="font-size: 12px;">{{msg.date | customDisplayDate}}</span>
        
      </ion-label>
      <ion-icon slot="end" style="color: white;" (click)="dismiss()" name="close"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center ion-justify-content-center main-bg">
  <ion-img [src]="msg.image" class="img">

  </ion-img>
</ion-content>
<ion-footer style="text-align: center;color: white;" class="main-bg">
  <span class="message-user" [innerHTML]="msg.message | links"></span>

</ion-footer>