<ion-header>
  <ion-toolbar  class="main-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color:white">{{'analytics-views.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <div [routerLink]="'/profile'" class="search">
        <ion-button>
          <ion-icon name="arrow-undo" style="color:white;"></ion-icon>
          <!-- <ion-title style="--color:white">{{'analytics-views.back-profile' | translate}}</ion-title> -->
        </ion-button>
      </div>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  [scrollEvents]="true" (ionScrollEnd)="logScrolling($event)"  >
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size-lg="12"  size-xs="12" >
          <ion-card-title>{{'analytics-views.subTilte' | translate}}</ion-card-title>
          <ion-card-subtitle>{{'analytics-views.info' | translate}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content>
      <ion-segment scrollable class="segement"   >
        <ion-segment-button  (click)="pieData()" >     
          <p style="visibility: visible">Todas</p>
        </ion-segment-button>
    
        <!-- <ion-segment-button  (click)="postLines()">
          <p style="visibility: visible">Publicaciones</p>
        </ion-segment-button> -->
 
        <ion-segment-button (click)="Sponsor()" >
          <p style="visibility: visible">Patrocinadores</p>
        </ion-segment-button>
      </ion-segment>

      <div  *ngIf="segement == 0">
      <ion-row>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text  (click)="presentToastWithOptions('analytics-views.info_post')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.post'| translate}}<span><ion-icon style="font-size: 20px;color:#385e81" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_chat')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.chat'| translate}}<span><ion-icon style="font-size: 20px;color:#26c281" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_search')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.search'| translate}}<span><ion-icon style="font-size: 20px;color:#d43c3c" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_profile')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.profile'| translate}}<span><ion-icon style="font-size: 20px;color:#6a19b5" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_reaction')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.reaction'| translate}}<span><ion-icon style="font-size: 20px;color:#3880ff" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_comment')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.comment'| translate}}<span><ion-icon style="font-size: 20px;color:#eef130" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

      </ion-row>
    </div>



    <div *ngIf="segement == 2">
      <ion-row>
        <ion-icon size="12">
          <h1>Seleccio</h1>
        </ion-icon>
        <ion-col size="12">
          <!-- SPONSORS -->
            <div>
              <ion-grid>
                <ion-row style=" margin-top: 10px">
                  <ion-col
                    *ngFor="let sponsor of userService.User?.sponsors; let i = index"
                  >
                  <!-- (click)=" generatePdf(sponsor.name)" -->
                  <!-- <ion-segment scrollable class="segement" [(ngModel)] = "sponsorSelect"  >
                    <ion-segment-button [value]="sponsor.name">
                      <img
                     
                      [src]="sponsor.image"
                      style="
                        height: 30px;
                        width: 60px;
                        border-radius: 10px;
                        object-fit: cover;
                        object-position: cover;
                        cursor: pointer;
                      "
                  />     
                      <p style="visibility: visible">{{sponsor.name}}</p>
                    </ion-segment-button>
                  </ion-segment> -->
                    <!-- <div style="text-align: center;"  target="_blank">
                     </div> -->
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
    <!-- TERMINO SPONSORS -->
        </ion-col>
      </ion-row>
    </div>
    </ion-card-content>
  </ion-card>

  
  <ion-card *ngIf="option == 'all'">
    <ion-card-content >
      <ion-grid>
        <ion-row >
          <ion-col size-xs="12"  size-lg="5">
            <ion-card style="background: #e0eaff;">
                  <ion-grid>
                    <ion-row >
                      <ion-col size-xs="5" size-lg="7">
                        <h1 style="float:left;">{{'analytics-views.views' | translate}}: </h1>
                      </ion-col>
                      <ion-col size-xs="1" size-lg="1"></ion-col>
                      <ion-col size-xs="6" size-lg="4">
                        <h1 *ngIf="segement == 0" style="float:left; text-align: end;font-size: 35px;">{{allViews.length}}</h1>
                        <h1 *ngIf="segement == 2" style="float:left; text-align: end;font-size: 35px;">{{totalSponsor}}</h1>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </ion-card>
            <ion-row>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="segement == 0?generateDay():sponsorDay()" >
                    <span >{{'analytics-views.today'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="segement == 0?generateWeek():sponsorWeek()" >
                    <span >{{'analytics-views.weeks'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="segement == 0?generateMonth():sponsorMonth()" >
                    <span >{{'analytics-views.months'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div>
                  <ion-button  class="botons" (click)="segement == 0?generateYear():sponsorYear()" >
                    <span>{{'analytics-views.years'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'years' ">
                <ion-row>
                  <ion-col size="12">
                  <ion-card style="background: #e0eaff;">
                    <ion-grid>
                      <ion-row >
                        <ion-col size-xs="5" size-lg="7" >
                          <h1>{{'analytics-views.year' | translate}}: </h1>
                        </ion-col>
                        <ion-col size-xs="1" size-lg="1" ></ion-col>
                        <ion-col size-xs="6" size-lg="4" >
                          <h1 style="float:left; text-align: end;font-size: 20px;">{{year}}</h1>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                 </ion-card>
                </ion-col>
                      
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeYear(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeYear(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'months' ">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="5" size-lg="6" >
                            <h1>{{'analytics-views.month' | translate}}: </h1>
                          </ion-col>
                          <ion-col size-xs="1" size-lg="1" ></ion-col>
                          <ion-col size-xs="6" size-lg="5" >
                            <h1 style="float:left; text-align: end;font-size: 20px;">{{monthName}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card> 
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeMonth(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeMonth(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'weeks' ">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="12" size-lg="12" >
                            <h1>{{'analytics-views.days' | translate}}:  </h1>
                          </ion-col>
                          <ion-col size-xs="12" size-lg="12" >
                            <h1 style="float:left; text-align: end;font-size: 18px;">{{weekFormat | customDisplayDate:true}} - {{weekEndFormat | customDisplayDate:true}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card>  
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeWeek(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeWeek(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'hours' ">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="5" size-lg="5" >
                            <h1>{{'analytics-views.day' | translate}}:  </h1>
                          </ion-col>
                          <ion-col size-xs="7" size-lg="7" >
                            <h1 style="float:left; text-align: end;font-size: 20px;">{{day.format('YYYY-MM-DD')}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card> 
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeDay(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeDay(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
           
          </ion-col>
  
          <ion-col size-xs="12"  size-lg="7"  >
            
           
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'all'" >
              <canvas  id="polarArea" width="400" height="400"></canvas>
            </div>
            
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'hours' && noData && segement == 0">
              <canvas id="linesHour" width="400" height="400"></canvas>
            </div>
            
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'weeks' && noData && segement == 0">
              <canvas id="lines" width="400" height="400"></canvas>
            </div>

            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'months' && noData && segement == 0">
              <canvas id="linesMonth" width="400" height="400"></canvas>
            </div>

            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'years' && noData && segement == 0">
              <canvas  id="linesYear" width="400" height="400"></canvas>
            </div>



<!-- <day    [sponsorSelect]="sponsorSelect" *ngIf="analyticsToShowSponsor == 'hours' && segement == 2  "></day>
<week  [sponsorSelect]="sponsorSelect" [changeWeekAdd]="changeWeekAdd" [weekchange]="dia"  *ngIf="analyticsToShowSponsor == 'weeks' && segement == 2  "></week>
<month  [sponsorSelect]="sponsorSelect" [changeMonthAdd]="changeMonthAdd" [monthchange]="month"  *ngIf="analyticsToShowSponsor == 'months' && segement == 2  "></month>
<year  [sponsorSelect]="sponsorSelect" [changeYearAdd]="changeYearAdd" [yearchange]="dateStart"  *ngIf="analyticsToShowSponsor == 'years' && segement == 2  "></year> -->


           
            <div  *ngIf="noData === false && segement == 0 " >
              <ion-text  color="black">
                <h1 class="textNoData">No hay datos para esta fecha</h1>
              </ion-text>
              <img class="noData" src="https://img.icons8.com/clouds/344/combo-chart.png" alt="logo de no datos analiticas">
            </div>
            
          </ion-col>
        </ion-row>            
      </ion-grid>
    </ion-card-content>
  </ion-card>


<!-- Post Inicio -->

<ion-grid  *ngIf="option == 'post' && todolosPost.length > 0 ">
  <ion-row>
    <!-- Columna de las reacciones -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''" >
      <div style="background: #95bbfd73;" >
        <div style="cursor: pointer;background: #3880ff73;" > <!-- (click)="actualLikes()" -->
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/344/facebook-like.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.reaction' | translate}}</h4>
          </ion-text>
        </div>
        <div>
          <!-- Si no tiene likes -->
          <ion-text *ngIf="likes.length == 0;"  class="textCenter">
            <h2  class="h1Work">{{'analytics-views.noLike' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of likes?.slice(0,3);let i = index ">   
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.likes.length}}
            </div>
           <ion-card  class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
           <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
           </ion-card>             
          </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #3880ff73;"></div>
      </div>
    </ion-col>

    <!-- Columna si interaccionActual es likes -->
    <ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'likes'" >
      <div style="background: #b0cdff73;"> 
        <div style="background: #3880ff73;" >
          <ion-icon  class="xClose" name="close" ></ion-icon> <!-- (click)="sinInteraccionActual()" -->
          <ion-img class="iconActual"  src="https://img.icons8.com/bubbles/344/facebook-like.png" alt="Reaction icon"></ion-img>
        </div>
        <div>
          <!-- Si no tiene likes -->
          <ion-text *ngIf="likes.length == 0;"  class="textCenter">
            <h2  class="h1Work">{{'analytics-views.noLike' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of likes;let i = index ">   
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.likes.length}} {{'analytics-views.reaction' | translate}}
            </div>
           <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
           <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
           </ion-card>             
          </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #3880ff73;"></div>
      </div>
    </ion-col>

    <!-- Columna de los comentarios -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''" >
      <div style="background: #f5bec369;">
        <div style="background: #f4989e69;cursor: pointer;" > <!-- (click)="actualComments()" -->
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/344/comments.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.comment' | translate}}</h4>
          </ion-text>
        </div>
        <div>
          <!-- Si no tiene comentarios -->
          <ion-text *ngIf="comments.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noComment' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of comments?.slice(0,3);let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.comments.length}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #f4989e69;"></div>
    </div>
    </ion-col>

<!-- Columna si interaccionActual es commnets -->
<ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'comments'" >
  <div  style="background: #f3cccf69;">
    <div style="background: #f4989e69;">
      <ion-icon  class="xClose" name="close" ></ion-icon> <!-- (click)="sinInteraccionActual()" -->
      <ion-img class="iconActual"  src="https://img.icons8.com/bubbles/344/comments.png" alt="Reaction icon"></ion-img>
    </div>
    <div>
      <!-- Si no tiene comentarios -->
      <ion-text *ngIf="comments.length == 0;"  class="textCenter">
        <h2 class="h1Work">{{'analytics-views.noComment' | translate}}</h2>
      </ion-text>
      <div style="margin-bottom: 5%;" *ngFor="let posts of comments;let i = index ">
                
        <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
          <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
          <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
          <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
            {{posts.comments.length}} {{'analytics-views.comment' | translate}}
        </div>
      <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
      <ion-card-header>
          <header-post class="user-header" [post]="posts.post" ></header-post>       
        </ion-card-header>
      
        <ion-card-content  >
          <post-content [post]="posts.post"></post-content>
          <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
        </ion-card-content>
      </ion-card>            
    </div>
    </div>
    <div style=" height: 20px;width: 100%;background-color: #f4989e69;"></div>
</div>
</ion-col>


    <!-- Columna de compartidos -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''">
      <div style="background: #92c9aa85;">
        <div style="background: #67ba8c85;cursor: pointer;"  > <!-- (click)="actualShareds()" -->
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/452/undo.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.shared' | translate}}</h4>
          </ion-text>
        </div>
        <div>
           <!-- Si no ha sido compartido -->
           <ion-text *ngIf="shareds.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noShared' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of shareds?.slice(0,3);let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.shareds.length}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #67ba8c85;"></div>
    </div>
    </ion-col>

    <!-- Columna si interaccionActual es commnets -->
    <ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'shareds'">
      <div style="background: #92c9aa85;">
        <div style="background: #67ba8c85;">
          <ion-icon  name="close" class="xClose" ></ion-icon> <!-- (click)="sinInteraccionActual()" -->
          <ion-img class="iconsPost" style="margin-top: -5%;width: 20%;" src="https://img.icons8.com/bubbles/452/undo.png" alt="shared"></ion-img>
        </div>
        <div>
           <!-- Si no ha sido compartido -->
           <ion-text *ngIf="shareds.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noShared' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of shareds;let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.shareds.length}} {{'analytics-views.shared' | translate}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #67ba8c85;"></div>
    </div>
    </ion-col>

  </ion-row>
</ion-grid>






<ion-card *ngIf="option == 'working'">
  <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col size ="5">
          <ion-text style="position: relative; left: 13%;" class="botons">
            <h1 class="h1Work">{{'analytics-views.working' | translate}}</h1>
          </ion-text>   
          <img class="bottle" src="https://img.icons8.com/cotton/452/sport-bottle.png" alt="sport-bottle">
          <img class="dumbbell" src="https://img.icons8.com/cotton/452/dumbbell--v1.png" alt="dumbbell">
          <img class="helmet" src="https://img.icons8.com/cotton/344/american-football-helmet--v3.png" alt="american-football-helmet">
          
        </ion-col>
        <ion-col size="7">
          <img class="image" src="https://img.icons8.com/clouds/452/work.png" alt="logo trabajando en ello">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="allViews === undefined && option != 'working' ">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div   >
            <ion-text  color="black">
              <h1 class="textNoData">No hay datos para su perfil</h1>
            </ion-text>
            <img class="noData" src="https://img.icons8.com/clouds/344/combo-chart.png" alt="logo de no datos analiticas">
          </div>        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>



</ion-content>