<ion-header >
  <ion-toolbar  class="main-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color:white">{{'analytics-views.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <div [routerLink]="'/profile'" class="search">
        <ion-button>
          <ion-icon name="arrow-undo" style="color:white;"></ion-icon>
          <!-- <ion-title style="--color:white">{{'analytics-views.back-profile' | translate}}</ion-title> -->
        </ion-button>
      </div>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-bg" [scrollEvents]="true" (ionScrollEnd)="logScrolling($event)"  >
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col size-lg="12"  size-xs="12" >
          <ion-card-title>{{'analytics-views.subTilte' | translate}}</ion-card-title>
          <ion-card-subtitle>{{'analytics-views.info' | translate}}</ion-card-subtitle>
        </ion-col>
       <!--  <ion-col size-lg="4"  size-xs="12" >
          <div style="text-align: center;" class="button">
            <ion-button class="botons"  (click)="pieData()">
              {{'analytics-views.all' | translate}}
              <ion-icon class="icon" name="color-filter"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col size-lg="4"  size-xs="12" >
          <div style="text-align: center;"  class="button">
            <ion-button  class="botons" (click)="postLines()"  >
              {{'analytics-views.post' | translate}}
              <ion-icon class="icon" name="browsers"></ion-icon>
            </ion-button>
          </div>
        </ion-col> -->
      </ion-row>
      
    </ion-card-header>

    <ion-card-content>
      <ion-segment scrollable class="segement"   >
        <ion-segment-button  (click)="pieData()" >     
          <p style="visibility: visible">Todas</p>
        </ion-segment-button>
    
        <ion-segment-button (click)="postLines()" >
          <p style="visibility: visible">Publicaciones</p>
        </ion-segment-button>
      </ion-segment>

      <div  *ngIf="segement == 0">
      <ion-row>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text  (click)="presentToastWithOptions('analytics-views.info_post')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.post'| translate}}<span><ion-icon style="font-size: 20px;color:#385e81" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_chat')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.chat'| translate}}<span><ion-icon style="font-size: 20px;color:#26c281" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_search')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.search'| translate}}<span><ion-icon style="font-size: 20px;color:#d43c3c" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_profile')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.profile'| translate}}<span><ion-icon style="font-size: 20px;color:#6a19b5" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_reaction')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.reaction'| translate}}<span><ion-icon style="font-size: 20px;color:#3880ff" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="2">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_comment')"  style="cursor: pointer;;color: black;text-align: center;">
            <h3>{{'analytics-views.comment'| translate}}<span><ion-icon style="font-size: 20px;color:#eef130" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

      </ion-row>
    </div>


    <div *ngIf="segement == 1">
      <ion-row>

        <ion-col size-xs="6" size-md="4"  size-lg="4">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_views_post')"  style="cursor: pointer;color: black;text-align: center;">
            <h3>{{'analytics-views.reaction'| translate}}<span><ion-icon style="font-size: 20px;color:#3880ff" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="4">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_comment')"  style="cursor: pointer;color: black;text-align: center;">
            <h3>{{'analytics-views.comment'| translate}}<span><ion-icon style="font-size: 20px;color:#f4989e" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

        <ion-col size-xs="6" size-md="4"  size-lg="4">
          <ion-text (click)="presentToastWithOptions('analytics-views.info_shared')"  style="cursor: pointer;color: black;text-align: center;">
            <h3>{{'analytics-views.shared'| translate}}<span><ion-icon style="font-size: 20px;color:#67ba8c" name="information-circle-outline" ></ion-icon></span></h3>
          </ion-text>
        </ion-col>

      </ion-row>
    </div>
    </ion-card-content>
  </ion-card>

  
  <ion-card *ngIf="option == 'all'">
    <ion-card-content >
      <ion-grid>
        <ion-row >
          <ion-col size-xs="12"  size-lg="5">
            <ion-card style="background: #e0eaff;">
                  <ion-grid>
                    <ion-row >
                      <ion-col size-xs="5" size-lg="7">
                        <h1 style="float:left;">{{'analytics-views.views' | translate}}: </h1>
                      </ion-col>
                      <ion-col size-xs="1" size-lg="1"></ion-col>
                      <ion-col size-xs="6" size-lg="4">
                        <h1 style="float:left; text-align: end;font-size: 35px;">{{allViews.length}}</h1>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
          </ion-card>
            <ion-row>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="generateDay()" >
                    <span >{{'analytics-views.today'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="generateWeek()" >
                    <span >{{'analytics-views.weeks'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div >
                  <ion-button  class="botons" (click)="generateMonth()" >
                    <span >{{'analytics-views.months'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col class="columDates" size="6">
                <div>
                  <ion-button  class="botons" (click)="generateYear()" >
                    <span >{{'analytics-views.years'| translate}}</span>
                  </ion-button>
                </div>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'years'">
                <ion-row>
                  <ion-col size="12">
                  <ion-card style="background: #e0eaff;">
                    <ion-grid>
                      <ion-row >
                        <ion-col size-xs="5" size-lg="7" >
                          <h1>{{'analytics-views.year' | translate}}: </h1>
                        </ion-col>
                        <ion-col size-xs="1" size-lg="1" ></ion-col>
                        <ion-col size-xs="6" size-lg="4" >
                          <h1 style="float:left; text-align: end;font-size: 20px;">{{year}}</h1>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                 </ion-card>
                </ion-col>
                      
                  
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeYear(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeYear(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
               
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'months'">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="5" size-lg="6" >
                            <h1>{{'analytics-views.month' | translate}}: </h1>
                          </ion-col>
                          <ion-col size-xs="1" size-lg="1" ></ion-col>
                          <ion-col size-xs="6" size-lg="5" >
                            <h1 style="float:left; text-align: end;font-size: 20px;">{{monthName}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card> 
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeMonth(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeMonth(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'weeks'">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="12" size-lg="12" >
                            <h1>{{'analytics-views.days' | translate}}:  </h1>
                          </ion-col>
                          <ion-col size-xs="12" size-lg="12" >
                            <h1 style="float:left; text-align: end;font-size: 18px;">{{daysWeek[0].date}} - {{daysWeek[6].date}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card>  
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeWeek(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeWeek(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="12" *ngIf="analyticsToShow == 'hours'">
                <ion-row>
                  <ion-col size="12">
                    <ion-card style="background: #e0eaff;">
                      <ion-grid>
                        <ion-row >
                          <ion-col size-xs="5" size-lg="5" >
                            <h1>{{'analytics-views.day' | translate}}:  </h1>
                          </ion-col>
                          <ion-col size-xs="7" size-lg="7" >
                            <h1 style="float:left; text-align: end;font-size: 20px;">{{day.format('YYYY-MM-DD')}}</h1>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                   </ion-card> 
                  </ion-col>

                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeDay(-1)">{{'analytics-views.last' | translate}}</ion-button>
                  </ion-col>
                  <ion-col class="columDates" size="6">
                    <ion-button class="week-button"  (click)="changeDay(1)">{{'analytics-views.next' | translate}}</ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>

            </ion-row>
           
          </ion-col>
  
          <ion-col size-xs="12"  size-lg="7"  >
            
           
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'all'" >
              <canvas  id="polarArea" width="400" height="400"></canvas>
            </div>
            
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'hours' && noData ">
              <canvas id="linesHour" width="400" height="400"></canvas>
            </div>
            
            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'weeks' && noData ">
              <canvas id="lines" width="400" height="400"></canvas>
            </div>

            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'months' && noData ">
              <canvas id="linesMonth" width="400" height="400"></canvas>
            </div>

            <div style="margin-left: auto;margin-right: auto;" class="divChart" *ngIf="analyticsToShow == 'years' && noData " >
              <canvas  id="linesYear" width="400" height="400"></canvas>
            </div>
           
            <div  *ngIf="noData === false " >
              <ion-text  color="black">
                <h1 class="textNoData">No hay datos para esta fecha</h1>
              </ion-text>
              <img class="noData" src="https://img.icons8.com/clouds/344/combo-chart.png" alt="logo de no datos analiticas">
            </div>
            
          </ion-col>
        </ion-row>            
      </ion-grid>
    </ion-card-content>
  </ion-card>


<!-- Post Inicio -->

<ion-grid  *ngIf="option == 'post' && todolosPost.length > 0 ">
  <ion-row>
    <!-- Columna de las reacciones -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''" >
      <div style="background: #95bbfd73;" >
        <div style="cursor: pointer;background: #3880ff73;" (click)="actualLikes()">
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/344/facebook-like.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.reaction' | translate}}</h4>
          </ion-text>
        </div>
        <div>
          <!-- Si no tiene likes -->
          <ion-text *ngIf="likes.length == 0;"  class="textCenter">
            <h2  class="h1Work">{{'analytics-views.noLike' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of likes?.slice(0,3);let i = index ">   
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.likes.length}}
            </div>
           <ion-card  class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
           <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
           </ion-card>             
          </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #3880ff73;"></div>
      </div>
    </ion-col>

    <!-- Columna si interaccionActual es likes -->
    <ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'likes'" >
      <div style="background: #b0cdff73;"> 
        <div style="background: #3880ff73;" >
          <ion-icon  class="xClose" name="close" (click)="sinInteraccionActual()"></ion-icon>
          <ion-img class="iconActual"  src="https://img.icons8.com/bubbles/344/facebook-like.png" alt="Reaction icon"></ion-img>
        </div>
        <div>
          <!-- Si no tiene likes -->
          <ion-text *ngIf="likes.length == 0;"  class="textCenter">
            <h2  class="h1Work">{{'analytics-views.noLike' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of likes;let i = index ">   
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.likes.length}} {{'analytics-views.reaction' | translate}}
            </div>
           <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
           <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
           </ion-card>             
          </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #3880ff73;"></div>
      </div>
    </ion-col>

    <!-- Columna de los comentarios -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''" >
      <div style="background: #f5bec369;">
        <div style="background: #f4989e69;cursor: pointer;" (click)="actualComments()">
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/344/comments.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.comment' | translate}}</h4>
          </ion-text>
        </div>
        <div>
          <!-- Si no tiene comentarios -->
          <ion-text *ngIf="comments.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noComment' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of comments?.slice(0,3);let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.comments.length}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #f4989e69;"></div>
    </div>
    </ion-col>

<!-- Columna si interaccionActual es commnets -->
<ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'comments'" >
  <div  style="background: #f3cccf69;">
    <div style="background: #f4989e69;">
      <ion-icon  class="xClose" name="close" (click)="sinInteraccionActual()"></ion-icon>
      <ion-img class="iconActual"  src="https://img.icons8.com/bubbles/344/comments.png" alt="Reaction icon"></ion-img>
    </div>
    <div>
      <!-- Si no tiene comentarios -->
      <ion-text *ngIf="comments.length == 0;"  class="textCenter">
        <h2 class="h1Work">{{'analytics-views.noComment' | translate}}</h2>
      </ion-text>
      <div style="margin-bottom: 5%;" *ngFor="let posts of comments;let i = index ">
                
        <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
          <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
          <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
          <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
            {{posts.comments.length}} {{'analytics-views.comment' | translate}}
        </div>
      <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
      <ion-card-header>
          <header-post class="user-header" [post]="posts.post" ></header-post>       
        </ion-card-header>
      
        <ion-card-content  >
          <post-content [post]="posts.post"></post-content>
          <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
        </ion-card-content>
      </ion-card>            
    </div>
    </div>
    <div style=" height: 20px;width: 100%;background-color: #f4989e69;"></div>
</div>
</ion-col>


    <!-- Columna de compartidos -->
    <ion-col size-lg="4"  size-xs="12" *ngIf="interaccionActual == ''">
      <div style="background: #92c9aa85;">
        <div style="background: #67ba8c85;cursor: pointer;"  (click)="actualShareds()">
          <ion-img class="iconsPost"  src="https://img.icons8.com/bubbles/452/undo.png" alt="Reaction icon"></ion-img>
          <ion-text   class="textCenter">
            <h4 class="semiBlack">{{'analytics-views.shared' | translate}}</h4>
          </ion-text>
        </div>
        <div>
           <!-- Si no ha sido compartido -->
           <ion-text *ngIf="shareds.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noShared' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of shareds?.slice(0,3);let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.shareds.length}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #67ba8c85;"></div>
    </div>
    </ion-col>

    <!-- Columna si interaccionActual es commnets -->
    <ion-col size="12" style="margin-top: 5%;" *ngIf="interaccionActual == 'shareds'">
      <div style="background: #92c9aa85;">
        <div style="background: #67ba8c85;">
          <ion-icon  name="close" class="xClose" (click)="sinInteraccionActual()"></ion-icon>
          <ion-img class="iconsPost" style="margin-top: -5%;width: 20%;" src="https://img.icons8.com/bubbles/452/undo.png" alt="shared"></ion-img>
        </div>
        <div>
           <!-- Si no ha sido compartido -->
           <ion-text *ngIf="shareds.length == 0;"  class="textCenter">
            <h2 class="h1Work">{{'analytics-views.noShared' | translate}}</h2>
          </ion-text>
          <div style="margin-bottom: 5%;" *ngFor="let posts of shareds;let i = index ">
                    
            <div style="position: relative;margin-bottom: -5%;margin-top: 5%; left: 0%;color: black; text-align: center;">
              <ion-icon *ngIf="i == 0" name="medal" style="color:#FFD700"></ion-icon>
              <ion-icon *ngIf="i == 1" name="medal" style="color:#C0C0C0"></ion-icon>
              <ion-icon *ngIf="i == 2" name="medal" style="color:#cd7f32 "></ion-icon>
                {{posts.shareds.length}} {{'analytics-views.shared' | translate}}
            </div>
          <ion-card class="scale" ngClass.xs="m-p-0"  style="width: 98%;margin-top:7%;margin-left: 1%;">
          <ion-card-header>
              <header-post class="user-header" [post]="posts.post" ></header-post>       
            </ion-card-header>
          
            <ion-card-content  >
              <post-content [post]="posts.post"></post-content>
              <post-shared *ngIf="posts.post.post" [post]="posts.post.post" ></post-shared>
            </ion-card-content>
          </ion-card>            
        </div>
        </div>
        <div style=" height: 20px;width: 100%;background-color: #67ba8c85;"></div>
    </div>
    </ion-col>

  </ion-row>
</ion-grid>

<!-- Post Final -->




<!--  Aqui comentare TODO hasta el final de lo que tengo; -->
 <!--  <div *ngIf="option == 'post'">
    <ion-segment   class="segement"  [(ngModel)]="segment" >
      <ion-segment-button  value='vistas'>     
        <p style="visibility: visible">Post con mas redirecciones al peril</p>
      </ion-segment-button>
    
    <ion-segment-button  value='usuarios'>     
      <p style="visibility: visible">Usuarios que visitaron el perfil desde post</p>
    </ion-segment-button>
  </ion-segment>
  </div>

  <ion-card *ngIf="segment == 'vistas' && option == 'post'">
    
    <ion-card-content>
      <ion-grid>
        <ion-row>

          <ion-col  style="padding: 0px;" size-xs="12"  size-lg="12">           
              <ion-list>
                
                <ion-item>
                  <ion-label>
                    <ion-text color="black">
                      <h1>Publicaciones</h1>
                    </ion-text>
                  </ion-label>
                  <ion-text color="black">
                    <h2>Total: {{totalViewsPost}}</h2>
                  </ion-text>  
                </ion-item>
                
                <ion-item *ngFor="let posts of postDeVerdad ">
                  
                    <ion-label>
                      <ion-icon name="eye-outline"></ion-icon>
                        {{posts.count}}
                     
                    </ion-label>
                    <ion-note class="scale">
                   <ion-card ngClass.xs="m-p-0"  style="width: 100%;">
                   <ion-card-header>
                      <header-post class="user-header" [post]="posts" ></header-post>       
                    </ion-card-header>
                  
                    <ion-card-content  >
                      <post-content [post]="posts"></post-content>
                      <post-shared *ngIf="posts.post" [post]="posts.post" ></post-shared>
                    </ion-card-content>
                   </ion-card> 
                   </ion-note>               
                </ion-item>
              
              
              </ion-list>          
          </ion-col>


        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>

  <ion-card  *ngIf="segment == 'usuarios' && option == 'post'" >
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col  style="padding: 0px;" size-xs="12"  size-lg="12">           
              <ion-list>
                
                <ion-item>
                  <ion-label>
                    <ion-text color="black">
                      <h1>Publicaciones</h1>
                    </ion-text>
                  </ion-label>
                  <ion-text color="black">
                    <h2>Total: {{totalViewsPost}}</h2>
                  </ion-text>  
                </ion-item>
                
                <ion-item *ngFor="let posts of postInfoUser?.slice(0,indexLast ) ">
                  
                    <ion-label>
                      <ion-text>
                          <h5>Usuario: {{posts.user.name}} {{posts.user.last_name}}  </h5>
                          <p>{{posts.Date | customDisplayDate}}</p>
                      </ion-text>
                    </ion-label>
                    <ion-note class="scale">
                   <ion-card ngClass.xs="m-p-0"  style="width: 100%;">
                   <ion-card-header>
                      <header-post class="user-header" [post]="posts.link" ></header-post>       
                    </ion-card-header>
                
                    <ion-card-content  >
                      <post-content [post]="posts.link"></post-content>
                      <post-shared *ngIf="posts.link.post" [post]="posts.link.post" ></post-shared>
                    </ion-card-content>
                   </ion-card> 
                   </ion-note>               
                </ion-item>
              </ion-list>          
          </ion-col>
         
        </ion-row>
      </ion-grid>
    </ion-card-content>

    
  </ion-card> -->
<!--  Aqui llego lo que comente-->

<!-- Seccion no post INICIO -->
<ion-card *ngIf="todolosPost.length == 0">
  <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col style="text-align: center;" size ="12">
          <ion-text  class="botons">
            <h1  class="h1Work">{{'analytics-views.noPost' | translate}}</h1>
          </ion-text>   
          <img  src="https://img.icons8.com/bubbles/344/close-window.png" alt="no post">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<!-- Seccion no post FINAL -->


<ion-card *ngIf="option == 'working'">
  <ion-card-content>
    <ion-grid>
      <ion-row >
        <ion-col size ="5">
          <ion-text style="position: relative; left: 13%;" class="botons">
            <h1 class="h1Work">{{'analytics-views.working' | translate}}</h1>
          </ion-text>   
          <img class="bottle" src="https://img.icons8.com/cotton/452/sport-bottle.png" alt="sport-bottle">
          <img class="dumbbell" src="https://img.icons8.com/cotton/452/dumbbell--v1.png" alt="dumbbell">
          <img class="helmet" src="https://img.icons8.com/cotton/344/american-football-helmet--v3.png" alt="american-football-helmet">
          
        </ion-col>
        <ion-col size="7">
          <img class="image" src="https://img.icons8.com/clouds/452/work.png" alt="logo trabajando en ello">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="allViews === undefined && option != 'working' ">
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div   >
            <ion-text  color="black">
              <h1 class="textNoData">No hay datos para su perfil</h1>
            </ion-text>
            <img class="noData" src="https://img.icons8.com/clouds/344/combo-chart.png" alt="logo de no datos analiticas">
          </div>        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>







</ion-content>