.selected{
    background: #d6edff;
}

.imageSelected{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.imageArray{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.imageMiniCard{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
}

.editIcon{
   font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color:#1b9211;
    cursor: pointer;
    position: relative;
    left: 10px;
}


.videoPlayerNews {
    width: 100% !important;
    height: 114px !important;
  }

.logoSport {
    height: 440px;
}
.logoSportBig {
    height: 165px;
    animation-name: example;
    animation-duration: 1s;
} 
.logoSportOpposite {
    height: 440px;
    animation-name: exampleOpposite;
    animation-duration: 1s;
}
@keyframes example {
        from {height: 440px;}
        to {height: 165px;}
      }
@keyframes exampleOpposite {
    from {height:165px;}
    to {height:440px;}
}