.item-content {
  cursor: pointer;
  border-radius: 10px;
  border: solid var(--color-primary);
  background: white;
  margin: 2px;
  position: relative;
}

.date {
  position: absolute;
  font-size: 12px;
  bottom: 0;
  right: 10px;
  color: black !important;
  
}

.name {
  p {
    
    margin: 0;
    color: black;
  }
}
