<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-button (click)="onClose()">
          <ion-icon 
            slot="icon-only"
            name="close">    
          </ion-icon>
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="stats && stats.length > 0; else emptyState">
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <b>{{ homeName }}</b>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <b>{{ awayName }}</b>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
    <ion-item *ngFor="let stat of stats">
      <ion-label>
        <ion-col size="12">
          <ion-row>
            <ion-col size="1">
              {{ stat.home }}
            </ion-col>
            <ion-col size="10" class="ion-text-center">
              {{ stat.label }}
            </ion-col>
            <ion-col size="1">
              {{ stat.away }}
            </ion-col>    
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-progress-bar 
            [ngClass]="{ 'empty': stat.home == 0 && stat.away == 0 }"
            [value]="stat.homePercent">
          </ion-progress-bar>
        </ion-col>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #emptyState>
  <ion-list lines="none">
    <ion-item class="ion-text-center">
      No hay información para mostrar
    </ion-item>
  </ion-list>
</ng-template>