<ion-card class="sponsors-card main-border" [ngClass]="{empty:sponsors.length == 0}">
  <h5 class="title">
    {{ ((userService.User?._id == user._id)?'sponsors.private_profile.title':'sponsors.public_profile.title')  | translate }}
  </h5>

  <div class="content">
    <img
      *ngIf="sponsors.length == 0"
      class="logo"
      src="assets/logos/imagotipo_azul.png"
      alt=""
    />
    <div *ngIf="loading" style="text-align: center; padding: 15px">
      <ion-spinner></ion-spinner>
    </div>
    <ion-row>
      <ion-col size="4" *ngFor="let sponsor of sponsors.slice(0, 3)">
        <view-sponsor-profile
          [info]="sponsor.idSponsor?.sponsor_info || sponsor.customSponsor"
          [sponsor]="sponsor"
        ></view-sponsor-profile>
      </ion-col>
    </ion-row>
  </div>
  <div style="text-align: center">
    <ion-button
      *ngIf="userService.User?._id == user._id"
      class="btn-primary"
      (click)="createSponsor()"
      >{{ "sponsors.private_profile.add" | translate }}</ion-button
    >
    <ion-button
      *ngIf="sponsors.length > 0"
      class="btn-primary"
      (click)="seeAll()"
      >{{ "sponsors.private_profile.all" | translate }}</ion-button
    >
  </div>
</ion-card>
