.sponsors-card{
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
}

.title{
    text-align: center;margin-top: 3px;
}

.content{
    text-align: center;
    .logo{
        height: 150px;
    }
}

.empty{
    visibility: hidden;
    position: absolute;
}