<ion-header>
  <ion-toolbar class="main-bg">
    <ion-title style="--color:white;">{{'likes' | translate}}</ion-title>
    <ion-buttons slot="end" >
      <ion-button (click)="dismiss()"  style="--color:white"><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-item *ngFor="let like of likes" style="cursor: pointer;" > (click)="goToProfile(like.user._id,like.user.username)" 
    <ion-thumbnail slot="start">
      <ion-avatar class="mini">
        <img [src]="like.user.photo">
      </ion-avatar>
    </ion-thumbnail>
    <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    <span>
      <div class="reacts show"  #reacts >
        <div class="circle" *ngIf="like.type == 1" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" alt=""/>
          <p>{{'post.like' | translate}}</p>
        </div>
        <div class="circle" *ngIf="like.type == 2" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt=""/>
          <p>{{'post.love' | translate}}</p>
        </div>
        <div class="circle" *ngIf="like.type == 3" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt=""/>
          <p>{{'post.haha' | translate}}</p>
        </div>
        <div class="circle" *ngIf="like.type == 4" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt=""/>
          <p>{{'post.wow' | translate}}</p>
        </div>
        <div class="circle" *ngIf="like.type == 5" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt=""/>
          <p>{{'post.sad' | translate}}</p>
        </div>
        <div class="circle" *ngIf="like.type == 6" #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt=""/>
          <p>{{'post.angry' | translate}}</p>
        </div>
      </div>
    </span>
    <div *ngIf="like.user._id != userService.User._id">
      <ion-button *ngIf="!userService.isFollow(like.user._id)" (click)="userService.follow(like.user._id)">{{'search_friends.follow' | translate}}</ion-button>
      <ion-button *ngIf="userService.isFollow(like.user._id)" (click)="userService.unFollow(like.user._id)">{{'search_friends.unfollow' | translate}}</ion-button>
      
    </div> 
  </ion-item>-->
  <ion-segment scrollable class="segement"  [(ngModel)]="segment" >
    <ion-segment-button *ngIf="likes.length > 0 " value=0>     
      <p style="visibility: visible">Todas</p>
    </ion-segment-button>


    <ion-segment-button *ngIf="likE.length > 0 " value=1>
      <div class="reacts show"  #reacts >
      <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" alt=""/>
        <p style="color: #1877F2;" >{{likE.length}}</p>
      </div>
    </div>
    </ion-segment-button>
    <ion-segment-button *ngIf="love.length > 0 " value=2>
      <div class="reacts show"  #reacts >
        <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt=""/>
          <p style="color: #fd5f7a;">{{love.length}}</p>
        </div>
      </div>
    </ion-segment-button>
    <ion-segment-button *ngIf="haha.length > 0 " value=3>
      <div class="reacts show"  #reacts >
        <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt=""/>
         <p style="color: #f0b125;">{{haha.length}}</p>
        </div>
    </div>
    </ion-segment-button>
    <ion-segment-button *ngIf="wow.length > 0 " value=4>
      <div class="reacts show"  #reacts >
        <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt=""/>
          <p style="color: #f0b125;">{{wow.length}}</p>
        </div>
      </div>
    </ion-segment-button>
    <ion-segment-button *ngIf="sad.length > 0 " value=5>
      <div class="reacts show"  #reacts >
        <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt=""/>
          <p style="color: #f0b125;">{{sad.length}}</p>
        </div>
      </div>
    </ion-segment-button>
    <ion-segment-button *ngIf="angry.length > 0 " value=6>
      <div class="reacts show"  #reacts >
        <div class="circle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt=""/>
          <p style="color: #e9651e;">{{angry.length}}</p>
        </div>
      </div>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="segment == 0  ">
    <ion-item  *ngFor="let like of likes"  style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  > 
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
           <span *ngIf="like.type== 1">
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" alt=""/>
            <p style="color: #1877F2;" >{{likE.length}}</p>
          </div>
        </span>
        <span  *ngIf="like.type== 2">
          <div class="miniCircle"   #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt=""/>
            <p style="color: #fd5f7a;">{{love.length}}</p>
          </div>
        </span>
        <span *ngIf="like.type== 3">
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt=""/>
            <p style="color: #f0b125;">{{haha.length}}</p>
           </div>
        </span>
        <span *ngIf="like.type== 4">
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt=""/>
            <p style="color: #f0b125;">{{wow.length}}</p>
          </div>
        </span>
        <span *ngIf="like.type== 5">
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt=""/>
            <p style="color: #f0b125;">{{sad.length}}</p>
          </div>
        </span>
        <span *ngIf="like.type== 6"> 
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt=""/>
            <p style="color: #e9651e;">{{angry.length}}</p>
          </div>
        </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 1  ">
    <ion-item  *ngFor="let like of likE"  style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  > 
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
           <span>
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531171/XZOPuv9_eyqlr2.png" alt=""/>
            <p style="color: #1877F2;" >{{likE.length}}</p>
          </div>
        </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 2  && love.length != 0 ">
    <ion-item  *ngFor="let like of love" style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  >
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
          <span>
            <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/uIjLl6R_cmbnqb.png" alt=""/>
              <p style="color: #fd5f7a;">{{love.length}}</p>
            </div>
          </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 3  && haha.length != 0 ">
    <ion-item  *ngFor="let like of haha" style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  >
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
          <span>
            <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/lsHmtDy_ycqnbp.png" alt=""/>
              <p style="color: #f0b125;">{{haha.length}}</p>
             </div>
          </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 4  && wow.length != 0 ">
    <ion-item  *ngFor="let like of wow" style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  >
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
          <span>
          <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531177/s475u9d_o8trbg.png" alt=""/>
            <p style="color: #f0b125;">{{wow.length}}</p>
          </div>
        </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 5  && sad.length != 0 ">
    <ion-item  *ngFor="let like of sad" style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  >
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
          <span>
            <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531172/JJuD9qb_a7gkmu.png" alt=""/>
              <p style="color: #f0b125;">{{sad.length}}</p>
            </div>
          </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="segment == 6  && angry.length != 0 ">
    <ion-item  *ngFor="let like of angry" style="cursor: pointer;" (click)="idPost?goToProfile(like.user._id,like.user.username):''"  >
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="like.user.photo">
          <span>
            <div class="miniCircle"  #circle><img #img src="https://res.cloudinary.com/prvnbist/image/upload/v1492531178/VDM3zOV_qy9fqj.png" alt=""/>
              <p style="color: #e9651e;">{{angry.length}}</p>
            </div>
          </span>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{like.user.name}} {{like.user.last_name}}</ion-label>
    </ion-item>
  </div>
</ion-content>
