<div class="text-center" style="margin-top: 20px">
  <img
    src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
    style="width: 100px"
  />
  <h1>{{ "create_challenge.header" | translate }}</h1>
</div>

<form [formGroup]="form" class="text-center">
  <ion-item>
    <ion-icon
      class="open-emoji-icon"
      style="float: right"
      (click)="openEmojis($event)"
      name="happy"
    ></ion-icon>
    <ion-input
      type="text"
      (focusout)="focusout($event)"
      (click)="stopPropagation($event)"
      formControlName="title"
      placeholder=" {{ 'challenge.title' | translate }} "
    ></ion-input>
  </ion-item>

  <p
    class="errormsj"
    *ngIf="
      (form.controls.title.dirty || form.controls.title.touched) &&
      form.controls.title.status !== 'VALID'
    "
  >
    {{ "create_challenge.invalid_field" | translate }}
  </p>

  <div class="text-center" (click)="stopPropagation($event)">
    <emoji-mart
      [hidden]="!emojis"
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      emoji="point_up"
      [showPreview]="true"
    ></emoji-mart>
  </div>

  <ion-item>
    <ion-icon
      class="open-emoji-icon"
      style="float: right; margin-top: 15px"
      (click)="openEmojis2($event)"
      name="happy"
    ></ion-icon>
    <ion-textarea
      type="text"
      (focusout)="focusout($event)"
      (click)="stopPropagation($event)"
      formControlName="description"
      placeholder=" {{ 'challenge.description' | translate }} "
    ></ion-textarea>
  </ion-item>

  <p
    class="errormsj"
    *ngIf="
      (form.controls.description.dirty || form.controls.description.touched) &&
      form.controls.description.status !== 'VALID'
    "
  >
    {{ "create_challenge.invalid_field" | translate }}
  </p>

  <div class="text-center" (click)="stopPropagation($event)">
    <emoji-mart
      [hidden]="!emojis2"
      (emojiClick)="addEmoji2($event)"
      title="Pick your emoji…"
      emoji="point_up"
      [showPreview]="true"
    ></emoji-mart>
  </div>
</form>
