<div
  class="text-center"
  style="
    margin-top:20px;
  "
>
  <img src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png" 
    style="width:100px"
  />
  <h1> ¡Crea tu reto para SportYeah! </h1>
</div>


<form [formGroup]="form" class="text-center">

  <ion-item>
    <ion-label position="end">

      <div #emojiButton>
        <ion-button (click)="openEmojis($event)" style="float: right">
          <ion-icon name="happy"></ion-icon>
        </ion-button>
      </div>
    </ion-label>

    <ion-input 
      type="text" 
      #FormElementRef 
      formControlName="title"
      placeholder=" {{ 'challenge.title' | translate }} "
    ></ion-input>

  </ion-item>

  <p 
    class="errormsj "
    *ngIf="
      (form.controls.title.dirty || form.controls.title.touched) &&
      form.controls.title.status !== 'VALID'
    "
  >
    Este campo es invalido
  </p>

  <div class="text-center" #emojiContainer2>
    <emoji-mart
      [hidden]="!emojis"
      (emojiClick)="addEmoji($event)"
      title="Pick your emoji…"
      emoji="point_up"
      [showPreview]="true"
    ></emoji-mart>
  </div>

  <ion-item>
    <ion-label position="start">
      <div #emojiButton>
        <ion-button (click)="openEmojis2($event)" style="float: right">
          <ion-icon name="happy"></ion-icon>
        </ion-button>
      </div>
    </ion-label>
    
    <ion-textarea
      type="text"
      #FormElementRef2
      formControlName="description"
      placeholder=" {{ 'challenge.description' | translate }} "
    ></ion-textarea>

  </ion-item>

  <p 
    class="errormsj "
    *ngIf="
      (form.controls.description.dirty || form.controls.description.touched) &&
      form.controls.description.status !== 'VALID'
    "
  >
    Este campo es invalido
  </p>

  <div class="text-center" #emojiContainer>
    <emoji-mart
      [hidden]="!emojis2"
      (emojiClick)="addEmoji2($event)"
      title="Pick your emoji…"
      emoji="point_up"
      [showPreview]="true"
    ></emoji-mart>
  </div>

</form>

