.read {
  color: #e300ff;
}

.right {
  float: right;
}

.msg-text {
  margin-left: 2px;
  white-space: pre-wrap;
}

.col-date {
  padding: 0px 5px;
  .date {
    float: right;
    font-size: 12px;
  }
}
