<ion-card #content class="msg"  [ngClass]="(message.user._id == userService.User?._id)?'my-msg':''">
  <ion-grid>
    <ion-row>
      <ion-icon style="z-index: 100;" *ngIf="message.user._id == userService.User?._id" name="chevron-down" class="msg-options-icon" (click)="options($event,message)"></ion-icon>
      <ion-col size="11" style="padding: 0;">
        <video *ngIf="message.video != null" controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
          <source [src]="message.video | safeUrl" type="video/mp4" />
         </video>
        <ion-img *ngIf="message.image != ''" [src]="message.image" style="margin-bottom: 5px;"  (click)="openImg()" ></ion-img>
        <p class="msg-text" [innerHTML]="message.message | links | icons"></p> 
      </ion-col>
    
        <ion-col size="12" class="col-date">
          <span class="date" >{{message.date | customDisplayDate}} <ion-icon *ngIf="message.user._id == userService.User?._id" [ngClass]="(message.read)?'read':''" name="checkmark-done" style="font-size: 20px;vertical-align: middle;"></ion-icon></span>
      
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>