<!-- <div *ngIf="!notification.read" [ngClass]="(notification.read)?'':'unread'"><span class="see"><ion-icon style="cursor: pointer;" (click)="read()"   class=" eye "  name="eye-outline"></ion-icon></span></div>
<div class="notification" [ngClass]="(notification.read)?'':'unread'" routerLink="{{notification.routerlink}}">
  <div>
    <img style="width: 50px;" src="https://img.icons8.com/plasticine/344/question-mark.png" alt="">
  </div>
 <div style="padding-left: 10px;">
  <div style="display: flex;align-items: center;">
    <p>Finalizo la votacion de tu questionario</p>
  </div>
   <span class="date">{{notification.date | customDisplayDate}}</span>
 </div>
</div> -->


<div 
class="notification" 
[ngClass]="(notification.read)?'':'unread'" 
routerLink="{{notification.routerlink}}"
>
<div>
  <img style="width: 50px;" src="https://img.icons8.com/plasticine/344/question-mark.png" alt="">
</div>

 <div style="padding-left: 15px;">
    <p>{{'notifications.readall' | translate}}</p>
    <span class="date">{{ notification.date | customDisplayDate }}</span>
 </div>
</div>

