<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      ngClass.gt-xs="max-widht-300"
      [disabled]="userService.User == undefined"
      contentId="main-content"
      type="overlay"
    >
      <ion-content
        style="--background: white !important"
        [scrollbar]="reusableCI.scrollbarStyle"
        allowAllScreens="true"
      >
        <ion-list
          *ngIf="userService.User"
          style="padding-bottom: 0px; padding-top: 0px"
          id="inbox-list"
        >
          <div style="text-align: center">
            <img style="width: 150px" src="assets/logos/imagotipo_azul.png" />
          </div>

          <profile-photo [user]="userService.User" [editable]="true" ></profile-photo>


          <ion-list-header
            style="color: black; margin-top: 10px"
            (click)="goTo('/profile/edit')"
          >
            <span style="margin: auto; font-size: 18px; color: #2a4c78">
              <!-- ENCUENTRA LA BANDERA DEPENDIENDO DE LA IP DEL USUARIO API https://www.countryflags.io/ -->
              <miniflag [user]="userService.User"></miniflag>
              {{ userService.User?.name || "" }}
              {{ userService.User?.last_name || "" }}
            </span>
          </ion-list-header>
          <profile-user-info routerLink="/profile/edit" [user]="userService.User"></profile-user-info>
       

          <ion-list-header style="color: rgb(75, 72, 72)">
            <span style="margin: auto; font-size: 14px">
              @{{ userService.User?.username || "" }}
            </span>
          </ion-list-header>

          <ion-list-header>
            <p class="estado">
              {{
                userService.User?.estado === undefined
                  ? "Hey there I'm in SportYeah."
                  : userService.User?.estado
              }}
              <!-- BOTON DE EDICION AUN NO ME GUSTA COMO QUEDA -->
              <!-- <span><ion-icon name="create-outline" class="editOutline"></ion-icon></span> -->
            </p>
          </ion-list-header>
          <ion-menu-toggle
            *ngIf="userService.User?.role == 'admin'"
            auto-hide="false"
          >
            <ion-item
              (click)="admin()"
              style="cursor: pointer"
              lines="none"
              detail="false"
            >
              <ion-icon
                slot="start"
                ios="settings-outline"
                md="settings-outline"
              ></ion-icon>
              <ion-label>{{ "goToAdmin" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <div *ngFor="let item of appPages">
            <ion-menu-toggle auto-hide="false" *ngIf="item.url">
              <ion-item
                [routerLink]="item.url"
                routerDirection="root"
                routerLinkActive="active"
                lines="none"
              >
                <ion-icon [name]="item.icon" slot="start"></ion-icon>
                <ion-label>
                  {{ item.title | translate }}
                </ion-label>
                <ion-badge
                  *ngIf="item.url == '/chat' && chatService.allUnread"
                  style="--background: var(--color-primary)"
                >
                  {{ chatService.allUnread }}
                </ion-badge>
              </ion-item>
            </ion-menu-toggle>

            <ion-item
              button
              *ngIf="item.children?.length > 0"
              (click)="item.open = !item.open"
              [class.active-parent]="item.open"
              detail="false"
              lines="none"
            >
              <ion-icon [name]="item.icon" slot="start"></ion-icon>
              <ion-label>
                {{ item.title | translate }}
              </ion-label>
              <ion-icon
                slot="end"
                name="chevron-forward"
                *ngIf="!item.open"
              ></ion-icon>
              <ion-icon
                slot="end"
                name="chevron-down"
                *ngIf="item.open"
              ></ion-icon>
            </ion-item>

            <ion-list *ngIf="item.open">
              <ion-menu-toggle auto-hide="false">
                <ion-item
                  class="sub-item"
                  *ngFor="let sub of item.children"
                  [routerLink]="sub.url"
                  routerDirection="root"
                  routerLinkActive="active"
                  lines="none"
                >
                  <ion-icon
                    [name]="sub.icon"
                    slot="start"
                    *ngIf="sub.icon !== ''"
                  ></ion-icon>
                  <span
                    [innerHTML]="sub.fas"
                    *ngIf="sub.icon === ''"
                    style="margin-right: 15px; font-size: 20px"
                  ></span>
                  <ion-label>
                    {{ sub.title | translate }}
                  </ion-label>
                </ion-item>
              </ion-menu-toggle>
            </ion-list>
          </div>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              (click)="logout()"
              routerLink="/"
              lines="none"
              detail="false"
            >
              <ion-icon
                slot="start"
                ios="exit-outline"
                md="exit-outline"
              ></ion-icon>
              <ion-label>{{ "sidebar.logout" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
         
          <!--<ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title | translate }}</ion-label>
              <ion-badge *ngIf="p.url == '/chat' && chatService.allUnread" style="--background: var(--color-primary)">
                {{ chatService.allUnread }}
              </ion-badge>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" routerLink="/" lines="none" detail="false">
              <ion-icon slot="start" ios="exit-outline" md="exit-outline"></ion-icon>
              <ion-label>{{ "sidebar.logout" | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>-->
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content">
      <loading-progress
        *ngIf="fileService.isUploadingPage"
        class="progress"
      ></loading-progress>
    </ion-router-outlet>
  </ion-split-pane>
</ion-app>
