.comment{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.img-comment{
    max-width: 150px;
    max-height: 150px;
}

.progress .progress-indeterminate {
   --background: #3e62a0 !important;
    z-index: 2;
}