<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-back-button style="--color: white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
  class="main-bg"
>
  <ion-grid style="padding: 0">
    <ion-row>
      <ion-col size-xs="12" size-lg="8" ngClass.xs="p-0">
        <ion-grid>
          <ion-row style="background: white" *ngIf="post" class="post-card">
            <ion-col size="12">
              <view-post [postPage]="true" [post]="post"></view-post>
            </ion-col>
            <ion-col *ngIf="userService.User" size="12">
              <comment-post
                postPage="true"
                [post]="post"
              
              ></comment-post>
            </ion-col>
            <ion-col *ngFor="let comment of comments;let i = index" size="12">
              <view-comment
                [comment]="comment"
                (Deletedcomments)="Deletedcomments(i)"
              ></view-comment>
            </ion-col>
            <ion-col >
              <div *ngIf="loading" style="text-align: center">
                <h6>
                  <ion-spinner
                    style="color: var(--color-primary); vertical-align: middle"
                  ></ion-spinner>
                  {{"loading" | translate}}
                </h6>
              </div>
              <div *ngIf="all" style="text-align: center">
                <p>
            
                  {{"allComments" | translate}}
                </p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="notFound" class="ion-justify-content-center">
            <ion-col class="max-widht-520" size-lg="5" size-md="8" size-sm="12">
              <ion-card ngClass.xs="login-xs">
                <ion-card-header class="text-center">
                  <ion-img
                    class="img-login"
                    src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
                  ></ion-img>
                  <ion-card-title>{{'404.title' | translate}}</ion-card-title>
                  <ion-card-subtitle
                    >{{'404.subtitle' | translate}}</ion-card-subtitle
                  >
                  <div class="max-widht-300 center margin-top-10 text-center">
                    <a routerLink="/login">{{'404.back'| translate}}</a>
                  </div>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col
        *ngIf="userService.User != null"
        size-lg="4"
        fxShow.lt-md="false"
        class="ion-justify-content-center ion-align-items-center"
      >
        <div style="position: sticky; top: -300px; padding: 5px">
          <friends-panel-desktop [postPage]="true"></friends-panel-desktop>
          <add-users-panel-desktop [postPage]="true"></add-users-panel-desktop>
          <!-- <popular-groups-panel [postPage]="true"></popular-groups-panel> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
