<ion-header>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-back-button style="--color: white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="main-bg">
  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row>
      <ion-col size-xs="12" size-lg="8" ngClass.xs="p-0">
        <ion-grid>
          <ion-row *ngIf="item && item != 404" class="post-card">
            <ion-card ngClass.xs="m-p-0" style="width: 100%">
              <ion-card-header>
                <header-post
                  class="user-header"
                  [post]="item.post"
                  (deleted)="goBack()"
                  (getPost)="getPost(item.post._id)"
                  [views]="item.post.views.length"
                ></header-post>
              </ion-card-header>

              <ion-card-content>
                <post-content [post]="item.post"></post-content>
                <post-shared
                  *ngIf="item.post.post"
                  [post]="item.post.post"
                ></post-shared>
                <post-shared
                  *ngIf="item.post?.news"
                  [news]="item.post?.news"
                ></post-shared>
              </ion-card-content>

              <div *ngIf="item.post.question" style="padding: 10px">
                <question-comment
                  [questionId]="item.post.question"
                ></question-comment>
              </div>

              <post-options [item]="item" isPost="true"></post-options>
              <ion-grid>
                <ion-row>
                  <ion-col size="12">
                    <comment-post
                      postPage="true"
                      [post]="item.post"
                      (newComment)="newComment($event)"
                    ></comment-post>
                  </ion-col>
                  <ion-col *ngFor="let comment of comments" size="12">
                    <view-comment [comment]="comment"></view-comment>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-row>

          <ion-row *ngIf="item == 404" class="ion-justify-content-center">
            <ion-col class="max-widht-520" size-lg="5" size-md="8" size-sm="12">
              <ion-card ngClass.xs="login-xs">
                <ion-card-header class="text-center">
                  <ion-img
                    class="img-login"
                    src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
                  ></ion-img>
                  <ion-card-title>{{'404.title' | translate}}</ion-card-title>
                  <ion-card-subtitle
                    >{{'404.subtitle' | translate}}</ion-card-subtitle
                  >
                  <div class="max-widht-300 center margin-top-10 text-center">
                    <a routerLink="/login">{{'404.back'| translate}}</a>
                  </div>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col
        size-lg="4"
        fxShow.lt-md="false"
        class="ion-justify-content-center ion-align-items-center"
      >
        <ion-card class="friends-card">
          <ion-card-header>
            {{'dashboard.profile' | translate}}
            <ion-item
              lines="none"
              (click)="goToMyProfile()"
              style="cursor: pointer"
            >
              <ion-thumbnail slot="start">
                <ion-avatar class="mini">
                  <img [src]="userService.User?.photo" />
                </ion-avatar>
              </ion-thumbnail>
              <ion-label>{{userService.User?.name}}</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            {{'dashboard.friends' | translate}}
            <ion-item (click)="searchFriend()" style="cursor: pointer">
              <ion-label>{{'dashboard.search_friend' | translate}}</ion-label>
            </ion-item>
            <ion-item *ngFor="let friend of userService.followings">
              <ion-thumbnail slot="start">
                <ion-avatar class="mini">
                  <img [src]="friend.user.photo" />
                </ion-avatar>
              </ion-thumbnail>
              <ion-label
                >{{friend.user.name}} {{friend.user.last_name}}</ion-label
              >
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
