<ion-segment 
  [value]="currentTab"
  [scrollable]="false"
  (ionChange)="onSegmentChange($event)">
  <ion-segment-button 
    [value]="Tabs.LIVE">
    <ion-label>
      {{ Tabs.LIVE }}
    </ion-label>
  </ion-segment-button>
  <ion-segment-button 
    [value]="Tabs.FINISHED">
    <ion-label>
      {{ Tabs.FINISHED }}
    </ion-label>
  </ion-segment-button>
  <ion-segment-button 
    [value]="Tabs.UPCOMING">
    <ion-label>
      {{ Tabs.UPCOMING }}
    </ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ng-container *ngIf="competitions; else emptyState">
    <ion-card *ngFor="let competition of competitions">
      <ion-card-header color="light">
        <span class="league">
          {{ competition }}
        </span>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ng-container *ngIf="getMatchesOfCompetition(competition).length > 0; else emptyState">
            <ng-container *ngFor="let match of getMatchesOfCompetition(competition)">
              <ng-container [ngSwitch]="currentTab">
                <ng-container *ngSwitchCase="Tabs.LIVE">
                  <ng-container 
                    *ngTemplateOutlet="liveTemplate; context: { $implicit: match }">
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="Tabs.FINISHED">
                  <ng-container 
                    *ngTemplateOutlet="finishedTemplate; context: { $implicit: match }">
                  </ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="Tabs.UPCOMING">
                  <ng-container 
                    *ngTemplateOutlet="upcomingTemplate; context: { $implicit: match }">
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ng-template #liveTemplate let-match>
  <ion-item 
    [button]="true"
    [detail]="false" 
    (click)="onMatchClick(match)">
    <ion-label>
      <ion-row class="date-time">
        <ion-col size="4">
          <span class="time">
            <ng-container [ngSwitch]="match.status">
              <ng-container *ngSwitchCase="MatchStatus.IN_PLAY">
                {{ match.time }}'
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ match.time }}
              </ng-container>
            </ng-container>
          </span>
        </ion-col>
        <ion-col size="4" class="date">
          {{ match.added.format('D MMM YYYY') }}
        </ion-col>
      </ion-row>
      <ion-row class="score-teams">
        <ion-col size="4" class="team">
          {{ match.homeName }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2" class="score">
          {{ match.score || match.etScore }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4" class="team">
          {{ match.awayName }}
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template #finishedTemplate let-match>
  <ion-item 
    [button]="true" 
    [detail]="false"
    (click)="onMatchClick(match)">
    <ion-label>
      <ion-row class="date-time">
        <ion-col size="4">
          <span class="time ft">
            FINALIZADO
          </span>
        </ion-col>
        <ion-col size="4" class="date">
          {{ match.date.format('D MMM YYYY') }}
        </ion-col>
      </ion-row>
      <ion-row class="score-teams">
        <ion-col size="4" class="team">
          {{ match.homeName }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2" class="score">
          {{ match.score || match.etScore }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4" class="team">
          {{ match.awayName }}
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template #upcomingTemplate let-match>
  <ion-item 
    [button]="true" 
    [detail]="false"
    (click)="onMatchClick(match)">
    <ion-label>
      <ion-row class="date-time">
        <ion-col size="4">
        </ion-col>
        <ion-col size="4" class="date">
          {{ match.date.format('D MMM YYYY') }}
        </ion-col>
      </ion-row>
      <ion-row class="score-teams">
        <ion-col size="4" class="team">
          {{ match.homeName }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="2" class="score">
          {{ match.time.format('hh:mm') }}
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="4" class="team">
          {{ match.awayName }}
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ng-template>

<ng-template #emptyState>
  <ion-item>
    No hay encuentros para mostrar
  </ion-item>
</ng-template>