.navbarD{
  padding: 11px;
  height: 39px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #DCDCDC;
  display: block;
}
.navbarItem{
  margin:0;
  color:#666;
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
.breadcrumb{
  color:#666 ;
}
.title{
  font-size: 2.4em;
  margin-left: 19px;
  color:black;
  margin-right: 19px;
  font-weight: bold;
  display:flex;
}
.subtitle{
  margin-left: 19px;
}
.node{
}
.node-title{
  text-align:center;
  font-size: 1.2em;
  color:black;
  font-weight: bold;
  cursor:pointer;
}
.node-title:hover{
  color: var(--color-primary);
}
.node-img{
  height:150px;
  background-size: 100% 100% !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.overlay {
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  //visibility: hidden;
  color: white;
  font-size: 25px;
  padding: 20px;
  text-align: center;
  z-index:9;
}
.overlay:hover{
  visibility: visible;
  opacity:1;
}
.buttons{
  padding: 15px 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.icon-div{
  margin:8%;
}
.icon{
  border-radius:30%;
  cursor:pointer;
}
.select{
  width:100%;
}

.overlay2:hover{
  visibility: visible;
  opacity:1;
}
.overlay2 {
  position:absolute;
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 25px;
  z-index:9;
  display:flex;
  justify-content: center;
}
.icon-div2{
  display:flex;
  height:100%;
}
.icon2{
  border-radius:30%;
  cursor:pointer;
  margin-top:auto;
  margin-bottom:auto;
}
