<div class="user-item">
  <div class="header">
    <div
      class="image"
      (click)="
        userService.goToProfile(user.username, user._id, 'search')
      "
    >
      <img class="banner-img" [src]="user.photoBanner" alt="" />
      <img class="img" [src]="user.photo" />
    </div>

    <div
      class="name-content"
      (click)="
        userService.goToProfile(user.username, user._id, 'search')
      "
    >
      <p class="name"> <miniflag [user]="user"></miniflag> {{ user.name }} {{ user.last_name }}</p>
      <p class="username">@{{ user.username }}</p>
      <profile-user-info

      [user]="user"
    ></profile-user-info>

    </div>
  </div>
  <div
    (click)="
      userService.goToProfile(user.username, user._id, 'search')
    "
    class="content"
  >
    <div>{{ followers }} {{ "followers" | translate }}</div>
    <div>{{ followings }} {{ "followings" | translate }}</div>
  </div>
  <div class="follow">
    <follow-button [user]="user._id"></follow-button>
  </div>
</div>
