.user-item {
  border-radius: 10px;
  border: solid var(--color-primary);
  background: white;
  &:hover{
    background: #9ae6c021;
  }
  .name-content {
    &:hover {
      p {
        color: var(--color-primary);
      }
    }
  }
  .name {
    color: black;
    font-size: 16px;
    margin: 0;
    
    cursor: pointer;
  }
  .username {
    color: black;
    font-size: 14px;
    
    margin: 0;
    cursor: pointer;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 0px 10px;

    .image {
      cursor: pointer;
      padding: 10px;
      .img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 6px black;
        object-fit: cover;
      }
    }
    .name-content {
      flex: auto;
    }
  }

  .content {
    cursor: pointer;
    display: flex;
    padding: 10px;
    div {
      flex: auto;
      text-align: center;
      color: black;
      
    }
  }
}
