@mixin object($width, $height, $bg) {
  width: $width;
  height: $height;
  background: $bg;
}

@mixin transPos($top, $right, $bottom, $left, $transX, $transY) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
  transform: translate($transX, $transY);
}

@media screen and (max-width: 600px) {
  .buttonsLike {
    position: fixed;
    right: 0px;
    top: 100px;
  }
  .buttonsComment {
    position: fixed;
    right: 0px;
    top: 145px;
  }
  .buttonsShare {
    position: fixed;
    right: 0px;
    top: 190px;
  }
}
@media screen and (min-width: 601px) {
  .buttonsLike {
    position: fixed;
    left: 0px;
    top: 100px;
  }
  .buttonsComment {
    position: fixed;
    left: 0px;
    top: 145px;
  }
  .buttonsShare {
    position: fixed;
    left: 0px;
    top: 190px;
  }
}
.reacts {
  // @include object(320px, 70px, #fff);
  border-radius: 90px;
  padding: 15px;
  // display: flex;
  // flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  z-index: 9999999999991;
  visibility: hidden;
  opacity: 0;
  overflow: visible;
  position: absolute;
  top: -20px;
  .circle {
    @include object(40px, 40px, white);
    border-radius: 50%;
    transform-origin: 50% 100%;
    margin-top: 15px;
    animation: slide 0.2s ease-in-out forwards;
    cursor: pointer;
    @keyframes slide {
      0% {
        transform: translateY(30px);
        opacity: 0;
      }
    }
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-duration: calc(0.2s * #{$i});
      }
    }
    &:hover {
      transform: scale(1.3);
    }
    &:hover p {
      opacity: 1;
    }
    img {
      width: 100%;
    }
    position: relative;
    p {
      @include transPos(-30px, null, null, 50%, -50%, 0);
      background: rgba(#000, 0.5);
      padding: 4px 8px;
      display: block;
      color: #fff;
      font-size: 10px;
      border-radius: 90px;
      opacity: 0;
      width: 76px;
      text-align: center;
    }
  }
}

.like {
  @include object(auto, 40px, #fff);
  @include transPos(null, null, calc(50% - 150px), 50%, -50%, -50%);
  clear: both;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
  top: 14px;
  cursor: pointer;
  i,
  p {
    display: inline-block;
    color: #558cff;
    font-size: 18px;
    margin: 0 3px;
  }
  p {
    font-family: Sans-serif;
  }
}

.show {
  opacity: 1;
  visibility: visible !important;
}

@media screen and (max-width: 376px) {
  .reacts {
    transform: scale(0.9);
    // height: 110px;
    // width: 229px;
    top: -35px !important;
    right: 50px;
  }
}

@media screen and (min-width: 377px) {
  .reacts {
    left: 50px;
  }
}
