<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-title>
      <ion-icon name="medal-outline"></ion-icon>
      {{'challenges' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="bg-gradient-person"
  style="margin: 0px"
  [scrollEvents]="scrolling"
>
  <div *ngFor="let challenge of challenges">
    <app-challenges-post [Challenge]="challenge"></app-challenges-post>
  </div>
  <!-- <div size="12" style="margin: 0px">
    <div
      *ngIf="!challenges || challenges.length === 0 "
      class="text-center"
      style="margin: auto"
    >
      <h1 style="color: white">{{'challenge.first' | translate}}</h1>
      <img src="https://img.icons8.com/dusk/64/000000/planning-skill.png" />

      <div
        style="
          position: fixed;
          bottom: 25px;
          text-align: center;
          margin: auto;
          left: 0;
          right: 0;
        "
      >
        <ion-button (click)="create()">
          <ion-icon name="medal-outline"></ion-icon>
          ¡Crea tu propio reto!
        </ion-button>
      </div>
    </div>
    <div
      class="text-center"
      *ngIf="challenge === null"
      style="left: 0; right: 0; margin: auto; margin-top: 40vh"
    >
      <ion-spinner style="color: white; width: 150px"></ion-spinner>
    </div>
    <div
      *ngIf="challenge"
      style="
        border-bottom: 1px grey;
        width: 100%;
        height: 97vh;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
      "
    >
      <div style="text-align: center; margin: auto; justify-content: center">
        <ion-grid>
          <ion-row style="position: absolute; color: white; left: 0; right: 0">
            <ion-col
              size="12"
              style="
                text-align: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.5);
              "
            >
              <img
                [src]="challenge.challenged.userId.data.photo"
                style="width: 30px; border-radius: 50%"
              />
              <br />
              <span
                style="font-weight: bold; margin-right: 5px; font-size: 13px"
                >{{challenge.challenged.userId.data.name}}</span
              >
              <span
                style="font-weight: bold; margin-right: 5px; font-size: 13px"
                >{{challenge.challenged.userId.data.last_name}}</span
              >
              <br />
              <span
                style="line-height: 4px; font-size: 11px; font-weight: bold"
              >
                {{challenge.title}}
              </span>
              <br />
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div
        *ngIf="challenge.challenging.media === challenge.challenged.media"
        style="height: 70vh"
      >
        <video width="100%" height="100%" autoplay>
          <source
            [src]="challenge.challenging.media | safeUrl"
            type="video/mp4"
          />
          <source
            [src]="challenge.challenging.media | safeUrl"
            type="video/ogg"
          />
          <br />
        </video>
      </div>

      <div
        *ngIf="challenge.challenging.media !== challenge.challenged.media"
        style="height: 70vh"
      >
        <video
          width="50%"
          height="100%"
          style="border-radius: 5px"
          autoplay
          controlslist="nodownload"
        >
          <source
            [src]="challenge.challenging.media | safeUrl"
            type="video/mp4"
          />
          <source
            [src]="challenge.challenging.media | safeUrl"
            type="video/ogg"
          />
          <br />
        </video>
        <video
          width="50%"
          height="100%"
          style="border-radius: 5px"
          autoplay
          controlslist="nodownload"
        >
          <source
            [src]="challenge.challenged.media | safeUrl"
            type="video/mp4"
          />
          <source
            [src]="challenge.challenged.media | safeUrl"
            type="video/ogg"
          />
          <br />
        </video>
      </div>

      <div class="buttonsLike">
        <ion-button (click)="reactionon()" *ngIf="reactionsBool === false">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="reactionoff()" *ngIf="reactionsBool === true">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-button>

        <div *ngIf="myVote  && reactionsBool === false" class="VoteDavid">
          <img [src]="myVote" alt="" />
        </div>

        <div class="reacts" #reacts>
          <div
            class="circle"
            #circle
            (click)="like('like','https://img.icons8.com/nolan/64/best-seller.png')"
          >
            <img
              #img
              src="https://img.icons8.com/nolan/64/best-seller.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel1" | translate }}</p>
          </div>
          <div
            class="circle"
            (click)="like('love','https://img.icons8.com/ios/50/000000/wow-button.png')"
            #circle
          >
            <img
              #img
              src="https://img.icons8.com/ios/50/000000/wow-button.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel2" | translate }}</p>
          </div>
          <div
            class="circle"
            (click)="like('haha','https://img.icons8.com/nolan/64/poor-quality.png')"
            #circle
          >
            <img
              #img
              src="https://img.icons8.com/nolan/64/poor-quality.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel3" | translate }}</p>
          </div>
          <div
            class="circle"
            #circle
            (click)="like('wow','https://img.icons8.com/ios/50/000000/disgusting.png')"
          >
            <img
              #img
              src="https://img.icons8.com/ios/50/000000/disgusting.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel4" | translate }}</p>
          </div>
          <div
            class="circle"
            #circle
            (click)="like('sad','https://img.icons8.com/emoji/48/000000/skunk.png')"
          >
            <img
              #img
              src="https://img.icons8.com/emoji/48/000000/skunk.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel5" | translate }}</p>
          </div>
          <div
            class="circle"
            #circle
            (click)="like('angry','https://img.icons8.com/dusk/64/000000/old-woman-skin-type-4.png')"
          >
            <img
              #img
              src="https://img.icons8.com/dusk/64/000000/old-woman-skin-type-4.png"
              alt=""
            />
            <p>{{ "levels-challenge.nivel6" | translate }}</p>
          </div>
        </div>
      </div>
      <div class="buttonsComment">
        <ion-button
          (click)="challengeComments(challenge.challenging.reactions)"
        >
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </ion-button>
      </div>

      <div class="buttonsShare">
        <ion-button (click)="challengeShare()">
          <ion-icon name="arrow-redo-outline"></ion-icon>
        </ion-button>
      </div>

      <div
        style="
          position: fixed;
          bottom: 25px;
          text-align: center;
          margin: auto;
          left: 0;
          right: 0;
        "
      >
        <ion-button (click)="create()">
          <ion-icon name="medal-outline"></ion-icon>
          ¡Crea tu propio reto!
        </ion-button>
      </div>

      <div
        style="
          text-align: center;
          position: fixed;
          bottom: 85px;
          text-align: center;
          left: 0;
          right: 0;
        "
      >
        <ion-button (click)="aceptarReto(challenge.challenged)">
          <ion-icon
            name="arrow-undo-outline"
            style="margin-right: 5px"
          ></ion-icon>
          {{'challenge.retar' | translate}}
        </ion-button>
      </div>
    </div>
  </div> -->
</ion-content>
