<div  style="padding: 10px;color: black;">
  <p style="display: inline">{{'question.limit.title' | translate}}</p>
  <ion-checkbox style="margin-left: 20px" [(ngModel)]="whitTime"></ion-checkbox>

  <input
    style="margin-left: 15px"
    *ngIf="whitTime && question"
    type="date"
    id="start"
    [(ngModel)]="endDate"
    [min]="today"
    [max]="limitYear"
  />
  <p style="color: red" *ngIf="badDate">
    {{'question.limit.max' | translate}}
  </p>
</div>

<div  class="questionDiv">
  <div style="text-align: center; position: relative; padding-top: 1px">
    <h4 style="color: black; margin-top: 0">{{ question.questionHeadline }}</h4>
  </div>
  <div *ngFor="let answer of question.answer" class="answer">
    <p class="answer-text">{{ answer.option }}</p>
  </div>
  <div style="text-align: right">
    <ion-button class="btn-delete" (click)="deleteQuestion()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <ion-button class="btn-primary" (click)="editQuestion()">
      <ion-icon name="pencil-sharp"></ion-icon>
    </ion-button>
  </div>
</div>
