.answer {
  position: relative;
  color: black;
  border-radius: 30px;
  height: 55px;
  width: 100%;
  background: #6da8d9ad;
  margin-bottom: 15px;
  border: solid #1a1818 1px;
}



.answer-text {
  font-size: 16px;
  padding-left: 20px;
  color: black;
}
