
.answer{
    position: relative;
    padding: 0px 20px;
    margin-right: auto;
    color: white;
    height: 53px;
    margin-left: auto;
    margin-bottom: 10px;
    width: 90%;
    background-color:#ffffff61 ;
    border:solid white 1px;
    border-radius: 25px;


}

.questionDiv{
    border-radius: 15px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(
        90deg
        ,rgb(16 42 82),rgb(131 197 247))!important;
}