
<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <!-- <div *ngIf="begingStream"  style="position: absolute;left: 76%;top: 10%;z-index: 10000;">
      <ion-button (click)="leaveCall()">Abandonar directo</ion-button>
     <h3  style="font-size:10px;color: red;">live</h3> 
    </div> -->
    <ion-buttons *ngIf="begingStream"   (click)="leaveCall()" slot="end">
      <ion-icon style="font-size: 36px;cursor: pointer;color:rgb(212, 99, 99) ;" name="power-outline"></ion-icon>
    </ion-buttons>
    <ion-title style="--color: white">{{ 'news.streaming'| translate}}</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content  style="color: white;">
  <ion-grid>
    <ion-row class="rowStyle">
      <ion-col *ngIf="!begingStream" size="12">
        <ion-grid>
          <ion-row >
            <ion-col style="text-align: center;" >
              <ion-button [disabled]="(titulo1 != '' && titulo1 != null) && (deporte != '' && deporte != null)  ?false:true" (click)="startBasicCall()">Transmitir desde la cámara</ion-button>
              <!-- <h3 style="font-size:10px">Transmitir desde la cámara</h3> -->
            </ion-col>
            <ion-col style="text-align: center;" >
              <ion-button [disabled]="(titulo1 != '' && titulo1 != null) && (deporte != '' && deporte != null)  ?false:true" (click)="startScreenTransmision()">Transmision de pantalla</ion-button>       
              <!-- <h3 style="font-size:10px">Transmision de pantalla</h3> -->
            </ion-col>
            <!-- <ion-col *ngIf="begingStream" style="text-align: center;" >
              <ion-button (click)="leaveCall()">leave Call</ion-button>
              <h3 style="font-size:10px;color: red;">live</h3>
            </ion-col> -->
          </ion-row>
        </ion-grid>
         
        <!-- <ion-item>
          <ion-label>Cálidad</ion-label>
          <ion-select [(ngModel)]="formateSelected">  
            <ion-select-option  *ngFor="let video of videoProfiles"  >{{video.value}}</ion-select-option>              
          </ion-select>
        </ion-item> -->
    
<!--     <ion-button (click)="subscribe()">subcribir Call</ion-button>
        <ion-button (click)="unSubscribe()">unSubscribe Call</ion-button> -->
      </ion-col>
      <ion-col size="12" >

        <ion-item *ngIf="!begingStream ">
          <ion-label>{{'news.title' | translate}}</ion-label>
          <ion-input  style="background: white; color: black;" placeholder="Título del stream" [(ngModel)]="titulo1"></ion-input>
<!--           <ion-button (click)="tituloListo()" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
 -->        </ion-item>
        <ion-item  *ngIf="!begingStream ">
          <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
            <ion-select interface="popover" [(ngModel)]="deporte">
              <ion-select-option (click)="deporteListo()" *ngFor="let sport of sports" [value]="sport" >{{ 'sport.'+sport| translate}}</ion-select-option>              
            </ion-select>
          </ion-item>
        <h4 *ngIf="begingStream" style="text-align: center;color: #737373;font-size: 14px;margin-top: 0;">{{ 'sport.'+deporte| translate}}</h4>
        <h1 *ngIf="begingStream" style="text-align: center;font-size: 30px;margin: 0;">{{titulo1}}</h1>
      </ion-col>
      <!-- <ion-col *ngIf="begingStream " >
        
      </ion-col> -->
      <ion-col style="text-align: center;" 	size-lg="8"	size-xs="12">
          <!-- <p id="local-player-name" class="player-name"></p> -->
          <div style="margin-left: auto;margin-right: auto; width: 100%;"> 
            <div *ngIf="begingStream" id="localPlayer" class="player">
        <ion-button (click)="stopMicro()" *ngIf="micro" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="mic-off-outline"></ion-icon></ion-button>
        <ion-button (click)="startMicro()" *ngIf="!micro" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="mic-outline"></ion-icon></ion-button>
        <ion-button (click)="stopCamera()" *ngIf="camera && !screen" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="videocam-off-outline"></ion-icon></ion-button>
        <ion-button (click)="startCamera()" *ngIf="!camera && !screen" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="videocam-outline"></ion-icon></ion-button>
        <ion-button (click)="startScreen()" *ngIf="!screen && !camera" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="desktop-outline"></ion-icon></ion-button>
        <ion-button (click)="stopScreen()" *ngIf="screen && !camera" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="desktop-outline"></ion-icon><div class="line1"></div></ion-button>

            </div>          
            <div class="w-100"></div>
          </div>
                   
         <!-- < div id="remotePlayerlist"></div> -->       
        <!-- REACCIONES -->
<div id="reactsDiv" #reacts
>
<div class="overlay" fxShow="false" fxShow.xs="true"></div>
</div>
<!-- FIN REACCIONES -->

<div *ngIf="news && begingStream"  style="--background: white;width: 100%;margin-top: 5%;margin-left: auto;margin-right: auto;">
  <news-options  style="background: white;"
   [news]="news"
   isPost="false"
 ></news-options>
 </div>
      </ion-col>

       <!-- Comentarios -->
       <ion-col *ngIf="begingStream" size-lg="4"	size-xs="12">
        <ion-content class="comments">
          <ion-card *ngFor="let comment of commnets" class="comment"  >
            <ion-card-header>
              <ion-card-subtitle class="user-header">
                <ion-avatar class="mini">
                <ion-img class="img-user-mini" [src]="comment.user.photo"></ion-img>
                <div class="connectedDIVlittle" *ngIf="comment.user.connected"></div>
              </ion-avatar>
              <div class="user-name">
                <span class="message profile-name"
                 >{{comment.user.name}} {{comment.user.last_name}}<ion-icon *ngIf="comment.user?._id == news.news?.user._id" style="font-size: 10px;color: #ffb100;" name="star"></ion-icon></span><br>
                <span>{{comment.date | customDisplayDate}}</span>
              </div>
              
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <span *ngIf="comment.message" [innerHTML]="comment.message | links"></span>
              <ion-img 
               class="img-comment" *ngIf="comment.image" [src]="comment.image">
              </ion-img>
            </ion-card-content>
            </ion-card>
        </ion-content>
   
        <comment-post  [news]="news?.news" (newComment)="comments($event)"></comment-post>
      </ion-col>
<!-- Fin Comentarios -->
    </ion-row>
  </ion-grid>
</ion-content>