.editIcon{
    font-size: 20px;
     border-radius: 50%;
     color: white;
     background-color:#1b9211;
     cursor: pointer;
     position: relative;
     left: 10px;
 }
 
 .rowStyle{
    background: white;
    border-radius: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
 }

 .player {

   width: 100%;

 }

 .line1 {
  width: 25px;
  height: 51px;
  border-bottom: 1px solid rgb(255, 255, 255);
  transform:
      translateY(-20px)
      translateX(5px)
      rotate(40deg); 
  position: absolute;
  left: 40%;
  /* top: -20px; */
}

.comments{
  height: 78%;
  width: 100%; 
}

@media screen and (max-width: 991px) {
  .comments{
      height: 300px;
      width: 100%; 
  }
}


