<ion-grid style="padding: 0">
  <ion-row>
    <ion-col size-xs="12" size-lg="8" ngClass.xs="p-0" class="center">
      <ion-grid>
        <ion-row *ngIf="Challenge" class="post-card">
          <ion-card ngClass.xs="m-p-0" style="width: 100%">
            <ion-card-header>
              <app-challenges-post-header
                class="user-header"
                [Challenge]="Challenge"
              ></app-challenges-post-header>
            </ion-card-header>
            <ion-card-content>
              <app-challenge-content
                [Challenge]="Challenge"
              ></app-challenge-content>
            </ion-card-content>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
