.go-back {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.edit-img {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.title{
    color: white;
    font-size: 18px;
    margin-top: -20px;
    position: absolute;
    margin-left: 40px;
}