<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-title style="--color: white"
      >{{'edit_post.title' | translate}}</ion-title
    >
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" style="--color: white"
        ><ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loading-progress class="progress"></loading-progress>

  <ion-grid>
    <ion-row>
      <ion-col size="12" class="user-header">
        <ion-avatar class="mini">
          <ion-img
            class="img-user-mini"
            [src]="userService.User?.photo"
          ></ion-img>
        </ion-avatar>
        <div class="user-name">
          <span style="color: #222121"
            >{{userService.User?.name}} {{userService.User?.last_name}}</span
          ><br />
        </div>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="form">
          <span
            *ngIf="form.controls.message.value == ''"
            class="fake-placeholder"
            >{{'dashboard.new_post_placeholder' | translate}}</span
          >
          <div
            #mainInput
            style="max-height: 200px; color: #222121"
            formControlName="message"
            contenteditable
            class="custom-textarea"
            Mentions
            (usersRender)="usersChange($event)"
            (mention)="newValue($event)"
            (click)="stopPropagation($event)"
          ></div>
          <div (click)="stopPropagation($event)">
            <emoji-mart
              *ngIf="emoji"
              (emojiClick)="addEmoji($event)"
              title="Pick your emoji…"
              emoji="point_up"
              [showPreview]="false"
              class="emoji-content"
            ></emoji-mart>
          </div>
          <div style="max-height: 400px; overflow: auto">
            <div
              class="users-mentions"
              id="mentionsUser"
              *ngFor="let user of users"
              (click)="setUser(user.user)"
            >
              <ion-avatar class="mention">
                <ion-img [src]="user.user.photo"></ion-img>
              </ion-avatar>
              <span
                style="align-self: center; margin-left: 3px; user-select: none"
              >
                {{user.user.name}} {{user.user.last_name}}</span
              >
            </div>
          </div>
          <post-preview-images
            [loading]="loading"
            [(files)]="files"
          ></post-preview-images>
          <iframe
            *ngIf="form.controls.message.value | youtube"
            [src]="form.controls.message.value | youtube"
            frameborder="0"
          ></iframe>
        </form>
        <div *ngIf="post.question" style="padding: 10px">
          <question-comment [questionId]="post.question"></question-comment>
        </div>
        <post-shared *ngIf="post.post" [post]="post.post"></post-shared>
      </ion-col>
      <ion-col class="buttons">
        <assets-buttons
          #assetsBtn
          [editPost]="true"
          (videoToUpload)="pushVideoToUpload($event)"
          (newFile)="addFile($event)"
          (emoji)="openEmojis()"
          (emoji)="stopPropagation($event)"
          [files]="files"
          [question]="post.question"
        ></assets-buttons>

        <ion-button
          class="btn-primary"
          [disabled]="form.invalid"
          (click)="save()"
        >
          {{'edit_post.btn' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
