.buttons{
    text-align: end;
    bottom: 10px;
    padding: 0 20px;
    margin-top: 10px;
}

.icon-remove{
    position: absolute;
    font-size: 30px;
    top: 0px;
    right:0px;
    color: #ef5350;
}