
  <ion-col size="12" >
  <ion-row>
    <ion-col size="12">
      <ion-card style="background: #e0eaff;">
        <ion-grid>
          <ion-row >
            <ion-col size-xs="5" size-lg="5" >
              <h1>{{'analytics-views.day' | translate}}:  </h1>
            </ion-col>
            <ion-col size-xs="7" size-lg="7" >
              <h1 style="float:left; text-align: end;font-size: 20px;">{{hour.format('DD-MM-YYYY')}}</h1>
            </ion-col>
          </ion-row>
        </ion-grid>
     </ion-card> 
    </ion-col>

    <ion-col class="columDates" size="6">
      <ion-button class="week-button"  (click)="changeDay(-1)">{{'analytics-views.last' | translate}}</ion-button>
    </ion-col>
    <ion-col class="columDates" size="6">
      <ion-button class="week-button"  (click)="changeDay(1)">{{'analytics-views.next' | translate}}</ion-button>
    </ion-col>
  </ion-row>
</ion-col>




<!-- <button type="button" class="btn btn-primary mt-3 mb-5 mx-auto d-block" (click)="capture()">Crear Imagen</button> 
 
<ng-container *ngIf="imgcreada === true;">
  <div align="center">

     <h4>Imagen Creada:</h4>
     <img [src]=imagenCreada>

  </div>

   <div class="row">
     <a type="button" class="btn btn-success mt-3 mx-auto d-block" [href]="imagenCreada" download> 
     Descargar
 </a>
   </div>
</ng-container> -->

<div id="contenido" style="margin-left: auto;margin-right: auto;" class="divChart" >
  <canvas id="linesHourSponsor" width="400" height="400"></canvas>
</div>


<!-- <button (click)="pdfDay()">PDF</button> -->

<!-- <button (click)="capture()">Take</button> 

<img [src]=img> -->

