<ion-header>
  <ion-toolbar class="main-bg">
    <!-- <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-buttons *ngIf="begingStream"   (click)="leaveCall()" slot="end">
      <ion-icon style="font-size: 36px;cursor: pointer;color:rgb(212, 99, 99) ;" name="power-outline"></ion-icon>
    </ion-buttons> -->
    <ion-title style="--color: white">{{ 'streaming.transmission'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-left: auto;margin-right: auto; width: 100%;"> 
    <h1>ESTE ES EL STREAM</h1>
    <div  id="localPlayer" class="player">
  <!-- <ion-button (click)="stopMicro()" *ngIf="micro" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="mic-off-outline"></ion-icon></ion-button>
  <ion-button (click)="startMicro()" *ngIf="!micro" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="mic-outline"></ion-icon></ion-button>
  <ion-button (click)="stopCamera()" *ngIf="camera && !screen" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="videocam-off-outline"></ion-icon></ion-button>
  <ion-button (click)="startCamera()" *ngIf="!camera && !screen" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="videocam-outline"></ion-icon></ion-button>
  <ion-button (click)="startScreen()" *ngIf="!screen && !camera" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="desktop-outline"></ion-icon></ion-button>
  <ion-button (click)="stopScreen()" *ngIf="screen && !camera" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="desktop-outline"></ion-icon><div class="line1"></div></ion-button> -->
  
    </div>          
    <div class="w-100"></div>
  </div>
</ion-content>
