<input
  #fileChooser
  (change)="img.uploadFile($event)"
  hidden="true"
  accept="video/*"
  type="file"
/>
<app-camara-browser *ngIf="videoHere" (media)="camaraBrowserAns($event)">
</app-camara-browser>
<div 
    *ngIf="!media && !videoHere" 
    class="text-center"
    style=" 
      cursor: pointer; 
      margin: 8%;
      height: 70%;
      background-color:rgba(22, 24, 35, 0.03);
      padding-left: 9%;
      padding-right: 9%;
      padding: 30px;
    "
    (click)="challenge()"
>
  <ion-icon 
    name="cloud-upload-outline"
    style="
      font-size: 100px; cursor: pointer;
      color:rgba(22, 24, 35, 0.34)
    "
    (click)="challenge()"
    ></ion-icon>
  <h6 
    style="color: rgba(22, 24, 35, 0.34)"
  >{{ "challenge.upload" | translate }}
  </h6>
  <ul style="text-align:left">
    <li 
      style="color:rgba(22, 24, 35, 0.34)"
    >
      MP4 / WebM
    </li>  
    <li 
      style="color:rgba(22, 24, 35, 0.34)"
    >
      Resolución de al menos 720X1280
    </li>  
    <li 
      style="color:rgba(22, 24, 35, 0.34)"
    >
      Hasta 60 segundos
    </li>  
  </ul>
</div>
<div *ngIf="media && !videoHere" class="text-center">
  <video
    controlslist="nodownload"
    controls="controls"
    preload="metadata"
    id="video"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer bg-black"
  >
    <source [src]="media | safeUrl" type="video/mp4" />
    <source [src]="media | safeUrl" type="video/ogg" />
    <br />
  </video>
  <video
    controlslist="nodownload"
    hidden
    controls="controls"
    preload="metadata"
    id="video2"
    webkit-playsinline="webkit-playsinline"
    class="videoPlayer bg-black"
  >
    <source [src]="media | safeUrl" type="video/mp4" />
    <source [src]="media | safeUrl" type="video/ogg" />
    <br />
  </video>

  <ion-button color="primary" (click)="again()">
    {{ "uploadAgain" | translate }}
  </ion-button>
</div>
<div
  *ngIf="intentos.length > 0 && media"
  class="text-center"
  style="margin-bottom: 100px"
>
  <ion-list>
    <ion-item>
      <ion-label>{{ "intentos" | translate }}</ion-label>
      <ion-toggle color="primary" [(ngModel)]="subirIntentos"></ion-toggle>
    </ion-item>
  </ion-list>
  <hr />
  <ion-row>
    <ion-col *ngFor="let intento of intentos">
      <video
        controlslist="nodownload"
        controls="controls"
        preload="metadata"
        id="video"
        style="width: 80px; height: 80px"
        webkit-playsinline="webkit-playsinline"
        class="videoPlayer bg-black"
      >
        <source [src]="intento | safeUrl" type="video/mp4" />
        <source [src]="intento | safeUrl" type="video/ogg" />
        <br />
      </video>
    </ion-col>
  </ion-row>
</div>
<ion-button
  *ngIf="videoValid"
  expand="full"
  class="bottom-button"
  (click)="nextFunc()"
  >{{ "next" | translate }}</ion-button
>
