.selected{
    background: #d6edff;
}

.imageSelected{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.imageArray{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.imageMiniCard{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;
}



  .editIcon{
    font-size: 20px;
     border-radius: 50%;
     color: white;
     background-color:#1b9211;
     cursor: pointer;
     position: relative;
     left: 10px;
 }

 .videoPlayerNews {
    width: 100% !important;
    height: 114px !important;
  }