<ion-header>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="color: white;font-size:30px;cursor: pointer;" name="person-outline" [routerLink]="'/profile'"></ion-icon>
    </ion-buttons>
    <ion-title style="--color: white">{{ 'news.edit'| translate}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="main-bg">
  
    

<!--  Este muestra el contenido para crear la noticia -->
<ion-content *ngIf="!listoPublicar" style="background: white;">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;color:white" size="12">
        <ion-text  color="dark">
          <h3  >{{ 'news.editNews' | translate }}</h3>
        </ion-text>
      </ion-col>

      <ion-col  size="12">

        <ion-grid>
         <ion-row>
           <ion-col size="12">
           <!--  Header de la noticia -->
         <div>
           <ion-item ><!-- *ngIf="!titlebool" -->
             <ion-label  position="floating">{{'news.title' | translate}}</ion-label>
             <ion-input  style=" color: black;"  [(ngModel)]="titulo1"></ion-input>
<!--                 <ion-button (click)="tituloListo()" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
-->              </ion-item>
           <ion-item ><!-- *ngIf="!subTitlebool" -->
             <ion-label  position="floating">{{'news.subTitle' | translate}}</ion-label>
             <ion-input  style=" color: black;"  [(ngModel)]="subTitle"></ion-input>
<!--                 <ion-button (click)="subTituloListo(1)" [disabled]="(subTitle != null && subTitle != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
-->              </ion-item>
           <ion-item ><!-- *ngIf="!deporte" (click)="deporteListo()"-->
           <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
             <ion-select  [(ngModel)]="deporte">
               <ion-select-option  *ngFor="let sport of sports" [value]="sport" >{{ 'sport.'+sport| translate}}</ion-select-option>              
             </ion-select>
           </ion-item> 
           <ion-item>
            <ion-label position="floating" style="    margin-bottom: 10px;">{{'news.date' | translate}}</ion-label>
            <ion-input  style=" color: black;" type="date"  [(ngModel)]="newDate"></ion-input>
          </ion-item>

        <ion-item>
             <ion-label>
               <ion-text color="black">
                 <h1 style="font-size:14px">{{userService.User?.name}} {{userService.User?.last_name}} </h1>
               </ion-text>
             </ion-label>
            <!--  <ion-text color="black">
               <h2 style="font-size:14px">{{fecha}}</h2>
             </ion-text>  -->  
           </ion-item>
         </div>
           </ion-col>
        


           <ion-col style="text-align: center;" size="12">
            <!-- Boton para imagen Principal -->
           <p *ngIf="!imagenSelected && !urlVideo">Imagen/Video principal</p> 
           <ion-button *ngIf="!imagenSelected && !urlVideo" style="text-align: center;" (click)="takePhotoFrom('principal',1)"  >
            <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
          </ion-button> <br>
          <p *ngIf="!newsAudio">{{'news.audioNews' | translate}}</p> 
          <record-audio-news
        *ngIf="!newsAudio"
        (newAudio)="msgAudio($event)"
      ></record-audio-news>
    

          <div *ngIf="!urlVideo">
            <input
              #openVideo
              type="file"
              accept="video/*"
              (change)="uploadVideo($event,'principal',1)"
              hidden
            />
    </div>
        </ion-col>
       
         <ion-col size="12">

          <div *ngIf="audioNews">
            <msg-audio-news [urlAudio]="audioNews"></msg-audio-news>
            <ion-button class="buttonDelete" (click)="deleteAudio()"  >
              <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
            </ion-button>
          </div>
         <!-- Imagen Principal -->
        <ion-img *ngIf="imagenSelected"    class="imageSelected" [src]="imagenSelected"></ion-img>
         <!-- Boton para cambiar imagen Principal -->
         <div *ngIf="imagenSelected" style="width: 85%;text-align: end;">
          <ion-button  style="text-align: center;height: 25px;" (click)="takePhotoFrom('principal', 1 )"  >
            <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
          </ion-button>
          <ion-button class="buttonDelete" (click)="deleteImagePrincipal()"  >
            <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
          </ion-button>
         </div>
        <!-- Video Principal -->
        <div *ngIf="urlVideo" style="position: relative">
          <ion-icon
          name="close"
          class="close-video"
          (click)="closeVideoPrincipal()"
        ></ion-icon>
          <video
            controls="controls"
            preload="metadata"
            autoplay="autoplay"
            webkit-playsinline="webkit-playsinline"
            class="videoPlayer"
          >
            <source [src]="urlVideo | safeUrl" type="video/mp4" />
          </video>
        </div>
        
        
        <!-- Origen de la imagen o video principal -->
     
          <ion-radio-group  [(ngModel)]="MiprincipalMedia"  *ngIf="MiprincipalMedia == undefined && (urlVideo != null || imagenSelected != null ) && !originPrincipaMedia">
            <ion-item  (ionBlur)="originPrincipaMediaListoMio()" >
              <ion-label>{{'news.my_property' | translate}}</ion-label>
              <ion-radio   slot="start" value="0"></ion-radio>
            </ion-item>
        
            <ion-item  (ionBlur)="originPrincipaMediaListoMio()" >
              <ion-label>{{'news.of_other' | translate}}</ion-label>
              <ion-radio   slot="start" value="1"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-item *ngIf="!agregandoOrigenPrincipaMedia && MiprincipalMedia == 1 ">
            <ion-textarea [(ngModel)]="originPrincipaMedia" placeholder="Porfavor introduce el origen de la noticia"></ion-textarea>
            <ion-button (click)="originPrincipaMediaListo(1)" [disabled]="(originPrincipaMedia != null && originPrincipaMedia != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
          </ion-item>
          <p *ngIf="(originPrincipaMedia == null || originPrincipaMedia == '') && (urlVideo != null || imagenSelected != null )" style="color: rgb(255, 0, 0);">{{'news.intelectual_rights' | translate}}</p>
          <p *ngIf="originPrincipaMedia && agregandoOrigenPrincipaMedia == true" style="text-align: center;color: #737373;font-size: 14px;"><i>{{originPrincipaMedia}}</i><ion-icon  (click)="originPrincipaMediaListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
       
   </ion-col> 

         <!--  Cuerpo de la noticia -->
         <ion-col size="12">
          <div *ngFor="let parrafo of parrafos;let i = index">
            <ion-grid>
              <ion-row>
                <ion-col  size="12">
                <!-- Este es el Subtitulo -->
              
                
                <!-- Esto edita el texto del subtitulo -->
                <ion-button  (click)="editandoSubtitulo()" *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle"  >Editar Subtítulo</ion-button>
                <ion-button *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle" style="--background:rgba(255, 100, 100, 0.685);" (click)="eliminarSubtitulo()" >{{'news.delete' | translate}}</ion-button>
                <ion-button *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle"  (click)="cancelarSubtitle()" >{{'news.cancel' | translate}}</ion-button>
                <ion-input *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="subTitleParrafo"></ion-input> 
                <!-- Este agrega subtitulos si el parrafo no los tiene -->
                <div style="text-align: center;">
<!--                     <ion-button *ngIf="(parrafo.subtitle == '' || parrafo.subtitle == undefined) && parrafo.position != 0" (click)="agregandoSubtitulo?agregarSubtitulo(parrafo.position):agregandoSubtitulo = true && poisionAgregarSubtitulo = i"  float-right ion-button >Agregar Subtitulo</ion-button>
-->                    <ion-input *ngIf="parrafo.position != 0" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="parrafo.subtitle"></ion-input>   
           
                  <!-- <ion-item >
                  <ion-label>{{'news.subTitle' | translate}}</ion-label>    
                </ion-item> -->
                </div>
                
                  <!-- Este es el parrafo -->
                  <div [ngClass]="(positionEditactual == parrafo.position)?'selected':''" 
                  
                   style="color: black;text-align: justify;"  [innerHTML]="parrafo.parrafo">
                  </div>
                  <!-- Esto edita el texto del parrafo -->
                  <div *ngIf="editando && parrafo.position == number">
                    <ngx-wig style="color: black;" [(ngModel)]="text1" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
                    <ion-button *ngIf="parrafos.length > 0 " style="font-size: 10px;--background:rgba(255, 0, 0, 0.685);" (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button><br>
                  </div>
                  <div *ngIf="parrafo.parrafo != '' && parrafo.parrafo != undefined ">
                  <ion-button *ngIf="parrafos.length > 0  " [disabled]="(text1 == '' && text1 == null)?true:false" style="font-size: 10px;"  (click)="(positionEditactual != parrafo.position)?selectParrafoCards(parrafo.position):EditParrafo()" >{{((positionEditactual != parrafo.position)?'news.edit':'news.save') | translate}}</ion-button>
                  <ion-button *ngIf="parrafos.length > 0 && !editando" style="--background:rgba(255, 0, 0, 0.685);font-size: 10px;" (click)="eliminarParrafo(parrafo.position)" >{{'news.delete' | translate}}</ion-button>
                  </div>
                
                
                </ion-col>
                 
                <!-- Boton para agregar imagenes a este parrafo -->
                <!-- <ion-col style="text-align: center;" *ngIf="!parrafo.image  && !parrafo.video" size="12">
                  <p >Agregar imagen</p> 
                  <ion-button  style="text-align: center;" (click)="takePhotoFrom('notPrincipal',i)"  >
                    <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
                  </ion-button>
                  <input
                            #openVideoParrafo
                            type="file"
                            accept="video/*"
                            (change)="uploadVideo($event,'notPrincipal',parrafo.position)"
                            hidden
                          />
                 </ion-col> -->
                 
                  
                  <ion-col *ngIf="parrafo.image || parrafo.video || parrafo.url || parrafo.link || parrafo.question" size="12">
                            <!--  Imagen del parrafo -->
                  <ion-img  *ngIf="parrafo.image " (click)="clickImageArray(i)"  class="imageArray" [src]="parrafo.image"></ion-img>
                  <div *ngIf="parrafo.image " style="    width: 80%;text-align: end;">
                    <ion-button  style="text-align: center;height: 25px;" (click)="editFile(parrafo.format,parrafo.position)"  >
                      <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
                    </ion-button>
                    <ion-button class="buttonDelete" (click)="eliminarParrafo(i)"><!-- deleteImage -->
                      <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
                    </ion-button>
                   </div>
                  <!-- Videos notPrincipal (del parrafo) -->
                <div *ngIf=" parrafo.video" style="position: relative">
                  <ion-icon
                    name="close"
                    class="close-video"
                    (click)="eliminarParrafo(parrafo.position)"
                  ></ion-icon>
                  <video
                    controls="controls"
                    preload="metadata"
                    autoplay="autoplay"
                    webkit-playsinline="webkit-playsinline"
                    class="videoPlayer"
                  >
                    <source [src]="parrafo.video | safeUrl" type="video/mp4" />
                  </video>
                </div>

                <div *ngIf="parrafo.url">
                    <iframe
                *ngIf="parrafo.url | youtube"
                [src]="parrafo.url | youtube"
                frameborder="0"
                  ></iframe>
                  <div  style="text-align: center;" *ngIf="editYoutube">
                    <div
                    #mainInputEdit
                    style="max-height: 200px; color: #222121;background: #2a4c7854;border-radius: 9px;"
                    contenteditable
                  ></div>
                  
                <ion-button (click)="saveEditYoutube(parrafo.position)"  >{{'news.addYoutube' | translate}}</ion-button>
                  </div>
                  <ion-button  style="text-align: center;height: 25px;" (click)="editYoutube = true"  >
                    <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
                  </ion-button>
                  <ion-button class="buttonDelete" (click)="eliminarParrafo(i)"><!-- deleteImage -->
                    <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
                  </ion-button>
                </div>
              
                <div *ngIf="parrafo.link">
                  <attach-link-preview-news  [file]="parrafo.link"></attach-link-preview-news>
                  <ion-button  style="text-align: center;height: 25px;" (click)="editLink(parrafo.position)"  >
                    <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
                  </ion-button>
                  <ion-button class="buttonDelete" (click)="eliminarParrafo(i)"><!-- deleteImage -->
                    <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
                  </ion-button>
                </div>

                <div *ngIf="parrafo.question">
                  <question-comment
                   *ngIf="parrafo.question"
                   [questionId]="parrafo.question"
                 ></question-comment>
                </div>
                
                <!-- Origen de la imagen o video Parrafo -->
         
            <ion-radio-group  [(ngModel)]="MiParrafoMedia"  *ngIf="!parrafo.originMedia && MiParrafoMedia == undefined && !parrafo.link && !parrafo.question">
              <ion-item  (ionBlur)="origenParrafoListoMio(i)" >
                <ion-label>{{'news.my_property' | translate}}</ion-label>
                <ion-radio   slot="start" value="0"></ion-radio>
              </ion-item>
          
              <ion-item  (ionBlur)="origenParrafoListoMio(i)" >
                <ion-label>{{'news.of_other' | translate}}</ion-label>
                <ion-radio   slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-radio-group>
          <ion-item *ngIf="MiParrafoMedia == 1 && !parrafo.originMedia">
            <ion-textarea [(ngModel)]="originParrafoMedia" placeholder="Porfavor introduce el origen del archio multimedia"></ion-textarea>
            <ion-button (click)="origenParrafoListo(i,0)" [disabled]="(originParrafoMedia != null && originParrafoMedia != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
          </ion-item>
          <p *ngIf="parrafo.originMedia" style="text-align: center;color: #737373;font-size: 14px;cursor: pointer;"><i>{{parrafo.originMedia}}</i><ion-icon  (click)="origenParrafoEditar(i)" class="editIcon" name="pencil-outline" ></ion-icon></p>
          <p *ngIf="!parrafo.originMedia && (parrafo.video != null || parrafo.image != null )  " style="color: rgb(255, 0, 0);">{{ 'news.intelectual_rights' | translate}}</p>
              </ion-col>
              
              
              </ion-row>
            </ion-grid>
             </div>
            </ion-col>
            
            <ion-col size="12">
              <div *ngIf="agregandoParrafo">
              <!-- Para agregar subtitulos -->
              <p *ngIf="parrafos.length > 0">Agregar Subtítulo</p>
              <ion-input *ngIf="parrafos.length > 0" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="subTitleParrafo"></ion-input> 
   
  
            <!-- Para agregar parrafo -->
                <ngx-wig style="color: black;" [(ngModel)]="text1" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
                <ion-button (click)="consol() " *ngIf="!editando"  >{{'news.add' | translate}}</ion-button>
                <ion-button *ngIf="!editando"   (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button>
                <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="EditParrafo()" >{{'news.edit' | translate}}</ion-button>
  <!--               <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null" style="--background:rgba(255, 100, 100, 0.685);" (click)="eliminarParrafo(parrafo.position)" >{{'news.delete' | translate}}</ion-button>-->              <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button><br>
                <span *ngIf="parrafos.length > 0 && positionEditactual != null">{{'news.editParagraph' | translate}}: {{positionEditactual+1}}...: </span>
              </div>
  
              <div style="text-align: center;" *ngIf="agregandoYoutube">
                <div>{{'news.addYoutube' | translate}}:</div>
                <div
                #mainInput
                style="max-height: 200px; color: #222121;background: #2a4c7854;border-radius: 9px;"
                contenteditable
              ></div>
              
            <ion-button (click)="addYoutube()"  >{{'news.addVideo' | translate}}</ion-button>
          </div>
               </ion-col>
               <ion-col style="text-align: center;"  size="12">
             
                <!-- <ion-button *ngIf="!agregandoParrafo" (click)="agregandoParrafo = true"  float-right ion-button >Agregar párrafo</ion-button> -->
                <buttons-options 
                #optionsBtn
                (videoToUpload)="pushVideoToUpload($event)"
                (newFile)="addFile($event)"
                (newText)="agregandoParrafo = !agregandoParrafo"
                (newYoutube)="agregandoYoutube = !agregandoYoutube"
                (newQuestion)="newQuestion($event)"
                (questionEdited)="questionEdited($event)"
                (editLink)="editedLink($event)"

                (editedFile)="editedFile($event)"
                [question]="question.questionGroup"
              ></buttons-options>  
              </ion-col>
              <ion-col  size="12">
                <!-- <ion-item *ngIf="miNoticia == undefined && !origen">
                <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
                  <ion-select [(ngModel)]="miNoticia" (ionChange)="origenListoMio()">
                    <ion-select-option  *ngFor="let propiedad of origenSelect"  [value]="propiedad.value" >{{ 'sport.'+propiedad.origenSelect| translate}}</ion-select-option>              
                  </ion-select>
                </ion-item> --> 
                          <ion-radio-group  [(ngModel)]="miNoticia"  *ngIf="miNoticia == undefined && !origen">
                            <ion-item  (ionBlur)="origenListoMio()" >
                              <ion-label>{{'news.my_property' | translate}}</ion-label>
                              <ion-radio   slot="start" value="0"></ion-radio>
                            </ion-item>
                        
                            <ion-item  (ionBlur)="origenListoMio()" >
                              <ion-label>{{'news.of_other' | translate}}</ion-label>
                              <ion-radio   slot="start" value="1"></ion-radio>
                            </ion-item>
                          </ion-radio-group>
                <ion-item *ngIf="!agregandoOrigen && miNoticia == 1 ">
                  <ion-textarea [(ngModel)]="origen" placeholder="Porfavor introduce el origen de la noticia"></ion-textarea>
                  <ion-button (click)="origenListo(1)" [disabled]="(origen != null && origen != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
                </ion-item>
                <p *ngIf="origen == null || origen == ''" style="color: rgb(255, 0, 0);" >{{'news.intelectual_rights_news' | translate}}</p>
                <p *ngIf="origen && agregandoOrigen == true" style="text-align: center;color: #737373;font-size: 14px;"><i>{{origen}}</i><ion-icon  (click)="origenListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
              </ion-col>
         <ion-col style="text-align: center;" size="12">
          <ion-button  (click)="todoConOrigen()" [disabled]="(titulo1 != null && titulo1 != '') && (deporte != null && deporte != '') && ((urlVideo != null && urlVideo != '') || (parrafos.length > 0)) && ((origen != null && origen != '')) ?false:true"  >Listo para editar</ion-button>
        </ion-col>
        <ion-col size="12" style="text-align: center;">
          <ion-button (click)="porgramDate()">{{ 'news.program_date_news' | translate}}</ion-button>
        </ion-col> 
          </ion-row>
        </ion-grid>
      
     </ion-col>
</ion-row>
</ion-grid>
</ion-content>



<!--  Listo para publicar -->
<ion-content *ngIf="listoPublicar">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-icon (click)="listoParaPublicar()" style="font-size: 41px;" name="arrow-back-circle-outline"></ion-icon>
      </ion-col> 
      <ion-col size="12" style="text-align: center;">
        <ion-button (click)="editar()">{{ 'news.publish' | translate}}</ion-button>
      </ion-col>  
      <ion-col size="12" tyle="text-align: center;">
        <ion-card style="width: 45%;margin: auto;height: 82%;">
          <ion-card-header>
            <ion-card-subtitle style="text-align: center;" *ngIf="deporte">{{ 'sport.'+deporte| translate}}</ion-card-subtitle>
            <ion-card-title style="text-align: center;">{{titulo1}}</ion-card-title>
            <ion-item style="transform: scale(0.9);margin-bottom: -3%;">
              <ion-label>
                <ion-text color="black">
                  <h1 style="font-size:14px">{{userService.User?.name}} {{userService.User?.last_name}} </h1>
                </ion-text>
              </ion-label>
              <ion-text color="black">
                <h2 style="font-size:14px" >{{fecha}}</h2>
              </ion-text>   
            </ion-item>
          </ion-card-header>
          <ion-img *ngIf="imagenSelected"   class="imageMiniCard" [src]="imagenSelected"></ion-img>
          <!-- Video Principal -->
          <div *ngIf="urlVideo" style="position: relative">
            <video
              controls="controls"
              preload="metadata"
              autoplay="autoplay"
              webkit-playsinline="webkit-playsinline"
              class="videoPlayerNews"
            >
              <source [src]="urlVideo | safeUrl" type="video/mp4" />
            </video>
          </div> 
        </ion-card>
      </ion-col>
</ion-row>
</ion-grid>
</ion-content>

</ion-content>


