<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="color: white;font-size:30px;cursor: pointer;" name="person-outline" [routerLink]="'/profile'"></ion-icon>
    </ion-buttons>
    <ion-title style="--color: white">{{ 'news.edit'| translate}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="bg-gradient-person">
  
    
  <!--  <ion-content  class="bg-gradient-person">
<ion-grid>
<ion-row>
  <ion-col size="12">
    <div style="margin-bottom: -2%;">
      <ion-button  type="submit" style="--background:#428cff96;position: relative;left: 6%;font-size: 12px;top: -2%;" float-right ion-button  class="btnNext" (click)="next(slides)">{{ 'news.next' | translate}}</ion-button>
    </div>
  </ion-col>

  <ion-col size-lg="6"  size-xs="12">-->
    <!--  <ion-button (click)="consol()" *ngIf="!editando"  >{{'news.add' | translate}}</ion-button>
    <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="EditParrafo()" >{{'news.edit' | translate}}</ion-button>
    <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null" style="--background:rgba(255, 100, 100, 0.685);" (click)="eliminarParrafo()" >{{'news.delete' | translate}}</ion-button>
    <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button><br>
    <span *ngIf="parrafos.length > 0 && positionEditactual != null">{{'news.editParagraph' | translate}}: {{positionEditactual+1}}...: </span>

   <ion-item>
      <ion-label>{{'news.title' | translate}}</ion-label>
      <ion-input [hidden]="title" style="background: white; color: black;" placeholder="Titulo" [(ngModel)]="titulo1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
          <ion-select [(ngModel)]="deporte">
            <ion-select-option  *ngFor="let sport of sports" [value]="sport" >{{ 'sport.'+sport| translate}}</ion-select-option>              
          </ion-select>
     </ion-item>  
    <ngx-wig style="color: black;" [(ngModel)]="text1" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
     -->
  
    
 <!--   </ion-col>-->



    
   <!--    <ion-col size-lg="6"  size-xs="12">-->

    <!-- <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align: center;">Imágenes</ion-card-title>
        <ion-card-content>
          <ion-grid>
            <ion-row>
      
          <div *ngFor="let imag of arrayImagenes">
            <ion-col size="6">
            <ion-img *ngIf="!imagen" class="img-user img-edit" [src]="imag"></ion-img>
          </ion-col>
          </div>

        </ion-row>
      </ion-grid>
        </ion-card-content>
      </ion-card-header>
    </ion-card> -->
    

 <!--   
    <ion-card>
      <ion-card-header>
        
        <ion-card-subtitle *ngIf="deporte">{{ 'sport.'+deporte| translate}}</ion-card-subtitle>
        <ion-card-title style="text-align: center;">{{titulo1}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>-->

        <!-- Boton para imagen Principal -->
        <!-- <ion-button *ngIf="!imagenSelected" style="text-align: center;" (click)="takePhotoFrom('principal')"  >
          <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
        </ion-button>-->
        <!-- Imagen Principal -->
        <!--<ion-img style="cursor: pointer;" *ngIf="imagenSelected" (click)="clickImage()"  class="img-user img-edit" [src]="imagenSelected"></ion-img>-->
         <!-- Video Principal -->
         <!--<div *ngIf="urlVideo" style="position: relative">
          <ion-icon
            name="close"
            class="close-video"
            (click)="closeVideoPrincipal()"
          ></ion-icon>
          <video
            controls="controls"
            preload="metadata"
            autoplay="autoplay"
            webkit-playsinline="webkit-playsinline"
            class="videoPlayer"
          >
            <source [src]="urlVideo | safeUrl" type="video/mp4" />
          </video>
        </div> 
<div *ngIf="!urlVideo">
    <input
      #openVideo
      type="file"
      accept="video/*"
      (change)="uploadVideo($event,'principal')"
      hidden
    />
    <ion-button (click)="openVideo.click()">
      <ion-icon name="videocam"></ion-icon>
    </ion-button>
</div>-->
        <!-- Cuadro para cambiar imagen pricipal -->
       <!--  <ion-card *ngIf="open">
            <ion-card-header>
              <ion-card-title style="text-align: center;">{{ 'news.changePrincipalImage' | translate}}<span><ion-icon style="color: red;" (click)="closeImage()" name="close-outline"></ion-icon></span></ion-card-title>
            </ion-card-header>
              <ion-card-content>-->
                <!-- Boton para cambiar imagen Principal -->
                <!--  <ion-button  style="text-align: center;" (click)="takePhotoFrom('principal')"  >
                  <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
                </ion-button>
                <ion-button  style="text-align: center;" (click)="deleteImagePrincipal()"  >
                  <ion-icon  name="trash-outline" style="--color: black;font-size:30px" ></ion-icon>
                </ion-button>
              </ion-card-content>
          </ion-card>

        <div *ngFor="let parrafo of parrafos; let i = index" >
          <ion-card [ngClass]="(positionEditactual == parrafo.position)?'selected':''" (click)="(positionEditactual != parrafo.position)?selectParrafoCards(parrafo.position):cancelar()">-->
            <!-- <ion-card-header>
              <ion-card-subtitle>{{parrafo.subtitle}}</ion-card-subtitle>
              <ion-card-title>{{parrafo.title}}</ion-card-title>
            </ion-card-header> -->
            <!-- <div [innerHTML]="parrafo.parrafo"></div> -->
           <!-- <ion-card-content>
              <div [innerHTML]="parrafo.parrafo"></div>
            </ion-card-content>
          </ion-card>
          <ion-button *ngIf="parrafo.image== '' && !parrafo.video" style="text-align: center;" (click)="takePhotoFrom('notPrincipal',i)"  >
            <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
          </ion-button>
          <ion-img style="cursor: pointer;" *ngIf="parrafo.image != ''" (click)="clickImageArray(i)"  class="img-user img-edit" [src]="parrafo.image"></ion-img>
                    <ion-card *ngIf="openArray && parrafo.position == imagenACambiar">
                      <ion-card-header>
                        <ion-card-title style="text-align: center;">{{ 'news.changeImage'| translate}}<span><ion-icon style="color: red;cursor: pointer;" (click)="closeImageArray()" name="close-outline"></ion-icon></span></ion-card-title>
                      </ion-card-header>
                        <ion-card-content>-->
                          <!-- Boton para cambiar imagen De este parrafo caMBIA LA FUNCION NO L HAS CAMBIADO-->
                           <!-- <ion-button  style="text-align: center;" (click)="takePhotoFrom('other',i)"  >
                              <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
                            </ion-button>
                            <ion-button  style="text-align: center;" (click)="deleteImage(i)"  >
                              <ion-icon  name="trash-outline" style="--color: black;font-size:30px" ></ion-icon>
                            </ion-button>
                        </ion-card-content>
                    </ion-card>-->
                    <!-- Videos notPrincipal -->
       <!--   <div *ngIf="parrafo.video" style="position: relative">
          <ion-icon
            name="close"
            class="close-video"
            (click)="closeVideoNotPrincipal(parrafo.position)"
          ></ion-icon>
          <video
            controls="controls"
            preload="metadata"
            autoplay="autoplay"
            webkit-playsinline="webkit-playsinline"
            class="videoPlayer"
          >
            <source [src]="parrafo.video | safeUrl" type="video/mp4" />
          </video>
        </div> 
          <div *ngIf="!parrafo.video && !parrafo.image">
                  <input
                    #openVideo
                    type="file"
                    accept="video/*"
                    (change)="uploadVideo($event,'notPrincipal',parrafo.position)"
                    hidden
                  />
                  <ion-button (click)="openVideo.click()">
                    <ion-icon name="videocam"></ion-icon>
                  </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    
    
  </ion-col>

  </ion-row>
</ion-grid>

</ion-content> -->  


<!--  Este muestra el contenido para crear la noticia -->
<ion-content *ngIf="!listoPublicar" style="background: white;">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;color:white" size="12">
        <ion-text  color="dark">
          <h3  >{{ 'news.editNews' | translate }}</h3>
        </ion-text>
      </ion-col>

      <ion-col  size="12">

        <ion-grid>
         <ion-row>
           <ion-col size="12">
           <!--  Header de la noticia -->
         <div>
           <ion-item ><!-- *ngIf="!titlebool" -->
             <ion-label>{{'news.title' | translate}}</ion-label>
             <ion-input  style="background: white; color: black;"  [(ngModel)]="titulo1"></ion-input>
<!--                 <ion-button (click)="tituloListo()" [disabled]="(titulo1 != null && titulo1 != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
-->              </ion-item>
           <ion-item ><!-- *ngIf="!subTitlebool" -->
             <ion-label>{{'news.subTitle' | translate}}</ion-label>
             <ion-input  style="background: white; color: black;"  [(ngModel)]="subTitle"></ion-input>
<!--                 <ion-button (click)="subTituloListo(1)" [disabled]="(subTitle != null && subTitle != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
-->              </ion-item>
           <ion-item ><!-- *ngIf="!deporte" (click)="deporteListo()"-->
           <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
             <ion-select  [(ngModel)]="deporte">
               <ion-select-option  *ngFor="let sport of sports" [value]="sport" >{{ 'sport.'+sport| translate}}</ion-select-option>              
             </ion-select>
           </ion-item> 
          <!--  <h4 *ngIf="deporte" style="text-align: center;color: #737373;font-size: 14px;">{{ 'sport.'+deporte| translate}}<ion-icon  (click)="deporteListo()" class="editIcon" name="pencil-outline" ></ion-icon></h4>
           <h1 *ngIf="titlebool" style="text-align: center;font-size: 30px;">{{titulo1}}<ion-icon (click)="tituloListo()"  class="editIcon" name="pencil-outline" ></ion-icon></h1>
           <h2 *ngIf="subTitlebool" style="text-align: center;color: #5a5a5a;">{{subTitle}}<ion-icon (click)="subTituloListo(1)"  class="editIcon" name="pencil-outline" ></ion-icon></h2>
           --> <ion-item>
             <ion-label>
               <ion-text color="black">
                 <h1 style="font-size:14px">{{userService.User?.name}} {{userService.User?.last_name}} </h1>
               </ion-text>
             </ion-label>
             <ion-text color="black">
               <h2 style="font-size:14px">{{fecha}}</h2>
             </ion-text>   
           </ion-item>
         </div>
           </ion-col>
        


         <ion-col style="text-align: center;" size="12">
           <!-- Boton para imagen Principal -->
          <p *ngIf="!imagenSelected && !urlVideo">Imagen/Video principal</p> 
          <ion-button *ngIf="!imagenSelected && !urlVideo" style="text-align: center;" (click)="takePhotoFrom('principal',1)"  >
           <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
         </ion-button> 

         <div *ngIf="!urlVideo">
           <input
             #openVideo
             type="file"
             accept="video/*"
             (change)="uploadVideo($event,'principal',1)"
             hidden
           />
           <!-- <p *ngIf="!imagenSelected && !urlVideo">Video principal</p> 
           <ion-button *ngIf="!imagenSelected" (click)="openVideo.click()">
             <ion-icon name="videocam"></ion-icon>
           </ion-button> -->
   </div>
       </ion-col>
       <!--<ion-col size="6">
          Boton para Video Principal
         
       </ion-col> -->
      <!-- <ion-col size="12">
          Cuadro para cambiar imagen pricipal
          <ion-card style="background-color: rgb(255, 219, 219);" *ngIf="open">
             <ion-card-header>
               <ion-card-title style="text-align: center;">{{ 'news.changePrincipalImage' | translate}}<span><ion-icon style="color: red;" (click)="closeImage()" name="close-outline"></ion-icon></span></ion-card-title>
             </ion-card-header>
               <ion-card-content>
                 Boton para cambiar imagen Principal
                 <ion-button  style="text-align: center;height: 25px;" (click)="takePhotoFrom('principal', 1 )">
                   <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
                 </ion-button>
                 <ion-button  style="text-align: center;height: 25px;" (click)="deleteImagePrincipal()">
                   <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
                 </ion-button>
               </ion-card-content>
           </ion-card>
         </ion-col> -->
         <ion-col size="12">
          <!-- Imagen Principal -->
         <ion-img *ngIf="imagenSelected"    class="imageSelected" [src]="imagenSelected"></ion-img>
          <!-- Boton para cambiar imagen Principal -->
          <div *ngIf="imagenSelected" style="width: 85%;text-align: end;">
           <ion-button  style="text-align: center;height: 25px;" (click)="takePhotoFrom('principal', 1 )"  >
             <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
           </ion-button>
           <ion-button  style="text-align: center;height: 25px;" (click)="deleteImagePrincipal()"  >
             <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
           </ion-button>
          </div>
         <!-- Video Principal -->
         <div *ngIf="urlVideo" style="position: relative">
           <ion-icon
           name="close"
           class="close-video"
           (click)="closeVideoPrincipal()"
         ></ion-icon>
           <video
             controls="controls"
             preload="metadata"
             autoplay="autoplay"
             webkit-playsinline="webkit-playsinline"
             class="videoPlayer"
           >
             <source [src]="urlVideo | safeUrl" type="video/mp4" />
           </video>
         </div>

         <!-- Origen de la imagen o video principal -->
         <!-- <ion-item *ngIf="MiprincipalMedia == undefined && (urlVideo != null || imagenSelected != null ) && !originPrincipaMedia">
           <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
             <ion-select [(ngModel)]="MiprincipalMedia" (ionChange)="originPrincipaMediaListoMio()">
               <ion-select-option  *ngFor="let propiedad of origenSelect"  [value]="propiedad.value" >{{ 'sport.'+propiedad.origenSelect| translate}}</ion-select-option>              
             </ion-select>
           </ion-item> --> 
           <ion-radio-group  [(ngModel)]="MiprincipalMedia"  *ngIf="MiprincipalMedia == undefined && (urlVideo != null || imagenSelected != null ) && !originPrincipaMedia">
             <ion-item  (ionBlur)="originPrincipaMediaListoMio()" >
               <ion-label>De mi propiedad</ion-label>
               <ion-radio   slot="start" value="0"></ion-radio>
             </ion-item>
         
             <ion-item  (ionBlur)="originPrincipaMediaListoMio()" >
               <ion-label>Propiedad de otro</ion-label>
               <ion-radio   slot="start" value="1"></ion-radio>
             </ion-item>
           </ion-radio-group>
           <ion-item *ngIf="!agregandoOrigenPrincipaMedia && MiprincipalMedia == 1 ">
             <ion-textarea [(ngModel)]="originPrincipaMedia" placeholder="Porfavor introduce el origen de la noticia"></ion-textarea>
             <ion-button (click)="originPrincipaMediaListo(1)" [disabled]="(originPrincipaMedia != null && originPrincipaMedia != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
           </ion-item>
           <p *ngIf="(originPrincipaMedia == null || originPrincipaMedia == '') && (urlVideo != null || imagenSelected != null )" style="color: rgb(255, 0, 0);">Porfavor introduce la propiedad de la noticia</p>
           <p *ngIf="originPrincipaMedia && agregandoOrigenPrincipaMedia == true" style="text-align: center;color: #737373;font-size: 14px;"><i>{{originPrincipaMedia}}</i><ion-icon  (click)="originPrincipaMediaListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
        
    </ion-col> 

         <!--  Cuerpo de la noticia -->
       <ion-col size="12">
         <div *ngFor="let parrafo of parrafos;let i = index">
           <ion-grid>
             <ion-row>
               <ion-col  size="12">
               <!-- Este es el Subtitulo -->
               <!-- <div style="text-align: center;"> 
                 <h2 *ngIf="parrafo.subtitle" [ngClass]="(positionEditactualSubtitle == parrafo.position)?'selected':''" 
                 (click)="(positionEditactualSubtitle != parrafo.position)?selectsubTitulo(parrafo.position):cancelarSubtitle()"
                 style="text-align: center;color: #5a5a5a;font-size: 23px;">{{parrafo.subtitle}}
                 </h2>
               </div> -->
               
               <!-- Esto edita el texto del subtitulo -->
               <ion-button  (click)="editandoSubtitulo()" *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle"  >Editar Subtítulo</ion-button>
               <ion-button *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle" style="--background:rgba(255, 100, 100, 0.685);" (click)="eliminarSubtitulo()" >{{'news.delete' | translate}}</ion-button>
               <ion-button *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle"  (click)="cancelarSubtitle()" >{{'news.cancel' | translate}}</ion-button>
               <ion-input *ngIf="editandoSubTitle  && parrafo.position == numberSubtitle" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="subTitleParrafo"></ion-input> 
               <!-- Este agrega subtitulos si el parrafo no los tiene -->
               <div style="text-align: center;">
<!--                     <ion-button *ngIf="(parrafo.subtitle == '' || parrafo.subtitle == undefined) && parrafo.position != 0" (click)="agregandoSubtitulo?agregarSubtitulo(parrafo.position):agregandoSubtitulo = true && poisionAgregarSubtitulo = i"  float-right ion-button >Agregar Subtitulo</ion-button>
-->                    <ion-input *ngIf="parrafo.position != 0" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="parrafo.subtitle"></ion-input>   
          
                 <!-- <ion-item >
                 <ion-label>{{'news.subTitle' | translate}}</ion-label>    
               </ion-item> -->
               </div>
               
                 <!-- Este es el parrafo -->
                 <div [ngClass]="(positionEditactual == parrafo.position)?'selected':''" 
                 
                  style="color: black;text-align: justify;"  [innerHTML]="parrafo.parrafo">
                 </div>
                 <!-- Esto edita el texto del parrafo -->
                 <div *ngIf="editando && parrafo.position == number">
                   <ngx-wig style="color: black;" [(ngModel)]="text1" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
                   <ion-button *ngIf="parrafos.length > 0 " style="font-size: 10px;" (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button><br>
<!--                <span *ngIf="parrafos.length > 0 && positionEditactual != null">{{'news.editParagraph' | translate}}: {{positionEditactual+1}}...: </span>
-->              </div>
                 <div>
                 <ion-button *ngIf="parrafos.length > 0  " [disabled]="(text1 == '' && text1 == null)?true:false" style="font-size: 10px;"  (click)="(positionEditactual != parrafo.position)?selectParrafoCards(parrafo.position):EditParrafo()" >{{'news.edit' | translate}}</ion-button>
                 <ion-button *ngIf="parrafos.length > 0 " style="--background:rgba(255, 100, 100, 0.685);font-size: 10px;" (click)="eliminarParrafo(parrafo.position)" >{{'news.delete' | translate}}</ion-button>
                 </div>
               
               
               </ion-col>

               <ion-col style="text-align: center;" *ngIf="!parrafo.image  && !parrafo.video" size="12">
                 <!-- Boton para agregar imagenes a este parrafo -->
                 <p >Agregar imagen</p> 
                 <ion-button  style="text-align: center;" (click)="takePhotoFrom('notPrincipal',i)"  >
                   <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
                 </ion-button>
                 <input
                           #openVideoParrafo
                           type="file"
                           accept="video/*"
                           (change)="uploadVideo($event,'notPrincipal',parrafo.position)"
                           hidden
                         />
                </ion-col>
                <!--  <ion-col size="12" *ngIf="openArray && parrafo.position == imagenACambiar">
                Boton para cambiar imagen De este parrafo
                           <ion-card style="background-color: rgb(255, 219, 219);" >
                             <ion-card-header>
                               <ion-card-title style="text-align: center;">{{ 'news.changeImage'| translate}}<span><ion-icon style="color: red;cursor: pointer;" (click)="closeImageArray()" name="close-outline"></ion-icon></span></ion-card-title>
                             </ion-card-header>
                               <ion-card-content>
                                   <ion-button  style="text-align: center;" (click)="takePhotoFrom('other',i)"  >
                                     <ion-icon  name="images" style="--color: black;font-size:30px" ></ion-icon>
                                   </ion-button>
                                   <ion-button  style="text-align: center;" (click)="deleteImage(i)"  >
                                     <ion-icon  name="trash-outline" style="--color: black;font-size:30px" ></ion-icon>
                                   </ion-button>
                               </ion-card-content>
                           </ion-card>
                 </ion-col>     -->
                 
                 <ion-col *ngIf="parrafo.image || parrafo.video" size="12">
                           <!--  Imagen del parrafo -->
                 <ion-img  *ngIf="parrafo.image " (click)="clickImageArray(i)"  class="imageArray" [src]="parrafo.image"></ion-img>
                 <div *ngIf="parrafo.image " style="    width: 80%;text-align: end;">
                   <ion-button  style="text-align: center;height: 25px;" (click)="takePhotoFrom('other',i)"  >
                     <ion-icon  name="pencil-outline" style="--color: black;font-size:20px" ></ion-icon>
                   </ion-button>
                   <ion-button  style="text-align: center;height: 25px;" (click)="deleteImage(i)">
                     <ion-icon  name="trash-outline" style="--color: black;font-size:20px" ></ion-icon>
                   </ion-button>
                  </div>
                 <!-- Videos notPrincipal (del parrafo) -->
               <div *ngIf=" parrafo.video" style="position: relative">
                 <ion-icon
                   name="close"
                   class="close-video"
                   (click)="closeVideoNotPrincipal(parrafo.position)"
                 ></ion-icon>
                 <video
                   controls="controls"
                   preload="metadata"
                   autoplay="autoplay"
                   webkit-playsinline="webkit-playsinline"
                   class="videoPlayer"
                 >
                   <source [src]="parrafo.video | safeUrl" type="video/mp4" />
                 </video>
               </div>
               
               <!-- Origen de la imagen o video Parrafo -->
           <!-- <ion-item *ngIf="!parrafo.originMedia && MiParrafoMedia == undefined ">
             <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
               <ion-select  [(ngModel)]="MiParrafoMedia" (ionChange)="origenParrafoListoMio(i)">
                 <ion-select-option  *ngFor="let propiedad of origenParrafoMedia" [value]="propiedad.value" >{{ 'sport.'+propiedad.origenSelect| translate}}</ion-select-option>              
               </ion-select>
           </ion-item>  -->
           <ion-radio-group  [(ngModel)]="MiParrafoMedia"  *ngIf="!parrafo.originMedia && MiParrafoMedia == undefined ">
             <ion-item  (ionBlur)="origenParrafoListoMio(i)" >
               <ion-label>De mi propiedad</ion-label>
               <ion-radio   slot="start" value="0"></ion-radio>
             </ion-item>
         
             <ion-item  (ionBlur)="origenParrafoListoMio(i)" >
               <ion-label>Propiedad de otro</ion-label>
               <ion-radio   slot="start" value="1"></ion-radio>
             </ion-item>
           </ion-radio-group>
         <ion-item *ngIf="MiParrafoMedia == 1 && !parrafo.originMedia">
           <ion-textarea [(ngModel)]="originParrafoMedia" placeholder="Porfavor introduce el origen del archio multimedia"></ion-textarea>
           <ion-button (click)="origenParrafoListo(i,0)" [disabled]="(originParrafoMedia != null && originParrafoMedia != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
         </ion-item>
         <p *ngIf="parrafo.originMedia" style="text-align: center;color: #737373;font-size: 14px;"><i>{{parrafo.originMedia}}</i><ion-icon  (click)="origenParrafoEditar(i)" class="editIcon" name="pencil-outline" ></ion-icon></p>
         <p *ngIf="!parrafo.originMedia && (parrafo.video != null || parrafo.image != null )  " style="color: rgb(255, 0, 0);">Porfavor introduce el origen de este archivo</p>
             </ion-col>
               <!-- <ion-col *ngIf="!parrafo.video && !parrafo.image" size="6">
                 <div >
                         <input
                           #openVideo
                           type="file"
                           accept="video/*"
                           (change)="uploadVideo($event,'notPrincipal',parrafo.position)"
                           hidden
                         />
                         <p>Agregar video</p> 
                         <ion-button (click)="openVideo.click()">
                           <ion-icon name="videocam"></ion-icon>
                         </ion-button>
                 </div>
                  </ion-col> -->
             
             </ion-row>
           </ion-grid>
            </div>
           </ion-col>
            
         <ion-col size="12">
         <div *ngIf="agregandoParrafo">
         <!-- Para agregar subtitulos -->
         <p *ngIf="parrafos.length > 0">Agregar Subtítulo</p>
         <ion-input *ngIf="parrafos.length > 0" style="background: white; color: black;" placeholder="Agrege el subtítulo aquí" [(ngModel)]="subTitleParrafo"></ion-input> 


       <!-- Para agregar parrafo -->
           <ngx-wig style="color: black;" [(ngModel)]="text1" [buttons]="'list1,list2,bold,italic,link,underline'"></ngx-wig>
           <ion-button (click)="consol() " *ngIf="!editando"  >{{'news.add' | translate}}</ion-button>
           <ion-button *ngIf="!editando"   (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button>
           <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="EditParrafo()" >{{'news.edit' | translate}}</ion-button>
<!--            <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null" style="--background:rgba(255, 100, 100, 0.685);" (click)="eliminarParrafo(parrafo.position)" >{{'news.delete' | translate}}</ion-button>
 -->           <ion-button *ngIf="parrafos.length > 0 && positionEditactual != null"  (click)="cancelar()" >{{'news.cancel' | translate}}</ion-button><br>
           <span *ngIf="parrafos.length > 0 && positionEditactual != null">{{'news.editParagraph' | translate}}: {{positionEditactual+1}}...: </span>
         </div>
          </ion-col>
          <ion-col style="text-align: center;"  size="12">
          
         <ion-button *ngIf="!agregandoParrafo" (click)="agregandoParrafo = true"  float-right ion-button >Agregar párrafo</ion-button>
         </ion-col>
         <ion-col  size="12">
           <!-- <ion-item *ngIf="miNoticia == undefined && !origen">
           <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
             <ion-select [(ngModel)]="miNoticia" (ionChange)="origenListoMio()">
               <ion-select-option  *ngFor="let propiedad of origenSelect"  [value]="propiedad.value" >{{ 'sport.'+propiedad.origenSelect| translate}}</ion-select-option>              
             </ion-select>
           </ion-item> --> 
                     <ion-radio-group  [(ngModel)]="miNoticia"  *ngIf="miNoticia == undefined && !origen">
                       <ion-item  (ionBlur)="origenListoMio()" >
                         <ion-label>De mi propiedad</ion-label>
                         <ion-radio   slot="start" value="0"></ion-radio>
                       </ion-item>
                   
                       <ion-item  (ionBlur)="origenListoMio()" >
                         <ion-label>Propiedad de otro</ion-label>
                         <ion-radio   slot="start" value="1"></ion-radio>
                       </ion-item>
                     </ion-radio-group>
           <ion-item *ngIf="!agregandoOrigen && miNoticia == 1 ">
             <ion-textarea [(ngModel)]="origen" placeholder="Porfavor introduce el origen de la noticia"></ion-textarea>
             <ion-button (click)="origenListo(1)" [disabled]="(origen != null && origen != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
           </ion-item>
           <p *ngIf="origen == null || origen == ''" style="color: rgb(255, 0, 0);">Porfavor introduce la propiedad de la noticia</p>
           <p *ngIf="origen && agregandoOrigen == true" style="text-align: center;color: #737373;font-size: 14px;"><i>{{origen}}</i><ion-icon  (click)="origenListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
         </ion-col>
         <ion-col style="text-align: center;" size="12">
          <ion-button  (click)="todoConOrigen()" [disabled]="(titulo1 != null && titulo1 != '') && (deporte != null && deporte != '') && ((urlVideo != null && urlVideo != '') || (parrafos.length > 0)) && ((origen != null && origen != '')) ?false:true"  >Listo para editar</ion-button>
        </ion-col>
        <ion-col style="text-align: center;" size="12">
          <ion-button (click)="createQuestion()">
            <ion-icon name="help-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <edit-question #editQuestionHash [badDate]="badDate" [question]="question.questionGroup" (delete)="deleteQuestion($event)" (edit)="editQuestion($event)"></edit-question>
        </ion-col>
         <!-- <ion-col  size="12">
           <ion-item *ngIf="miNoticia == undefined ">
           <ion-label position="floating">{{'sport.sport' | translate}}</ion-label>
             <ion-select [(ngModel)]="miNoticia">
               <ion-select-option  *ngFor="let propiedad of origenSelect"  [value]="propiedad.value" >{{ 'sport.'+propiedad.origenSelect| translate}}</ion-select-option>              
             </ion-select>
           </ion-item> 
           <ion-item *ngIf="!agregandoOrigen && !miNoticia && miNoticia != undefined ">
             <ion-textarea [(ngModel)]="origen" placeholder="Porfavor introduce el origen de la noticia"></ion-textarea>
             <ion-button (click)="origenListo(1)" [disabled]="(origen != null && origen != '')?false:true"  float-right ion-button ><ion-icon name="add"></ion-icon></ion-button>
           </ion-item>
           <p *ngIf="(origen == null || origen == '') && !miNoticia" style="color: rgb(255, 0, 0);">Porfavor introduce la propiedad de la noticia</p>
           <p *ngIf="(origen && agregandoOrigen == true) && !miNoticia " style="text-align: center;color: #737373;font-size: 14px;"><i>{{origen}}</i><ion-icon  (click)="origenListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
           <p *ngIf="miNoticia" style="text-align: center;color: #737373;font-size: 14px;"><i>De mi propiedad</i><ion-icon  (click)="origenListo(0)" class="editIcon" name="pencil-outline" ></ion-icon></p>
         </ion-col> -->
          </ion-row>
        </ion-grid>
      
     </ion-col>
</ion-row>
</ion-grid>
</ion-content>



<!--  Listo para publicar -->
<ion-content *ngIf="listoPublicar">
  <ion-grid>
    <ion-row>
      <ion-col size="12" tyle="text-align: center;">
        <ion-text  color="dark">
          <span (click)="listoParaPublicar()"><ion-icon style="font-size: 41px;" name="arrow-back-circle-outline"></ion-icon></span><h3 style="text-align: center;color:black"><ion-button (click)="editar()">{{ 'news.publish' | translate}}</ion-button></h3>
        </ion-text>
      
        
<ion-card style="width: 45%;margin: auto;height: 82%;">
  <ion-card-header>
    <ion-card-subtitle style="text-align: center;" *ngIf="deporte">{{ 'sport.'+deporte| translate}}</ion-card-subtitle>
    <ion-card-title style="text-align: center;">{{titulo1}}</ion-card-title>
    <ion-item style="transform: scale(0.9);margin-bottom: -3%;">
      <ion-label>
        <ion-text color="black">
          <h1 style="font-size:14px">{{userService.User?.name}} {{userService.User?.last_name}} </h1>
        </ion-text>
      </ion-label>
      <ion-text color="black">
        <h2 style="font-size:14px" >{{fecha}}</h2>
      </ion-text>   
    </ion-item>
  </ion-card-header>
  <ion-img *ngIf="imagenSelected"   class="imageMiniCard" [src]="imagenSelected"></ion-img>
  <!-- Video Principal -->
  <div *ngIf="urlVideo" style="position: relative">
    <video
      controls="controls"
      preload="metadata"
      autoplay="autoplay"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayerNews"
    >
      <source [src]="urlVideo | safeUrl" type="video/mp4" />
    </video>
  </div> 
</ion-card>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>

</ion-content>


