<ion-header>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'structure.title.text' | translate}}</ion-title
    >
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="user"
  >
    <app-structure
      [ID]="user._id"
    >
    </app-structure>
  </ng-container>
</ion-content>
