<div *ngFor="let group of data.question;index as i " style="border-radius: 15px;border: groove;margin-bottom: 10px;width: 80%;margin-left: auto;margin-right: auto;">
  <div style="text-align: center;position: relative;">
    <h1>{{group.questionHeadline}}</h1>  
  </div>    
  <div (click)="selectAnswer(answer._id)" *ngFor="let answer of group.answer" class="progress-item" [ngClass]="answer._id | canVote:group.questionGroup._id | async">
    <ion-icon name="checkmark-circle-outline" class="voted"></ion-icon>
    <p  style="position: absolute;left: 50px;z-index: 1000;">{{answer.option}}</p>
    <p class="percentage">{{((100 * answer.users/group.total)).toFixed(1)}}%</p>
    <ion-progress-bar class="barProgres"  [value]="((100 * answer.users/group.total)/100).toFixed(2)"  ></ion-progress-bar>
  </div>
</div>

