.content {
  text-align: center;

  .logo {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px black;
    object-fit: cover;
  }
  .name {
    margin: 2px;
    font-weight: 600;
  }
}
