.audio {
  width: 200px;
  border-radius: 5px;
}
.date {
  float: right;
  font-size: 12px;
  margin-bottom: -8px;
}

.my-msg {
  .play {
    color: white !important;
  }

  .duration {
    color: white;
  }
}

.play {
  color: black;
  font-size: 32px;
  vertical-align: text-top;
  cursor: pointer;
}

.p-10-0 {
  padding: 0 10px !important;
}

.bar {
  place-self: center !important;
}
.duration {
  font-size: 10px;
  position: absolute;
  bottom: -10px;
  color: black;
}

.read {
  color: var(--color-secondary);
}

.bar-width {
  width: 90%;
}

.date{
  font-size: 10px;
}

@media (max-width: 500px) {
  .bar-width {
    width: 80%;
  }
}
