<ion-content>
  <form [formGroup]="form">
    <span *ngIf="form.controls.message.value == ''" class="fake-placeholder">{{
      "new_comment_placeholder" | translate
    }}</span>
    <div
      style="
        max-height: 200px;
        color: #222121;
        border-radius: 50px;
        border: whitesmoke solid;
      "
      formControlName="message"
      contenteditable
      class="custom-textarea"
      Mentions
      (usersRender)="usersChange($event)"
      (mention)="newValue($event)"
      #FormElementRef
    ></div>
    <div style="max-height: 400px; overflow: auto">
      <div
        class="users-mentions"
        id="mentionsUser"
        *ngFor="let user of users"
        (click)="setUser(user.user)"
      >
        <ion-avatar class="mention">
          <ion-img [src]="user.user.photo"></ion-img>
        </ion-avatar>
        <span style="align-self: center; margin-left: 3px; user-select: none">
          {{ user.user.name }} {{ user.user.last_name }}</span
        >
      </div>
    </div>

    <ion-avatar
      style="width: 150px; height: 150px; position: relative"
      *ngIf="
        form.controls.image.value != '' && form.controls.image.value != null
      "
    >
      <ion-icon
        (click)="removeImg()"
        class="icon-remove"
        style="cursor: pointer"
        name="close"
      ></ion-icon>

      <ion-img
        style="border-radius: 5px !important"
        [src]="form.controls.image.value"
      >
      </ion-img>
    </ion-avatar>

    <div style="text-align: right">
      <div #emojisContainer>
        <emoji-mart
          *ngIf="emoji"
          (emojiClick)="addEmoji($event)"
          title="Pick your emoji…"
          emoji="point_up"
          [showPreview]="false"
          #emojisContainer
        ></emoji-mart>
      </div>
      <input
        #openImage
        type="file"
        accept="image/*"
        (change)="uploadImg($event)"
        hidden
      />

      <span #emojiButton>
        <ion-button (click)="openEmojis()">
          <ion-icon name="happy"></ion-icon>
        </ion-button>
      </span>
      <ion-button (click)="openImage.click()">
        <ion-icon name="image"></ion-icon>
      </ion-button>
    </div>
  </form>
  <div class="text-center">
    <ion-button
      [disabled]="form.value.message === '' && form.value.image === ''"
      (click)="send()"
    >
      {{ "new_comment.btn" | translate }}
    </ion-button>
    <ion-button (click)="mc.dismiss()">
      {{ "back" | translate }}
    </ion-button>
  </div>
  <ion-infinite-scroll
    threshold="1px"
    (ionInfinite)="loadData()"
    class="text-center"
  >
    <ion-list>
      <div *ngFor="let comment of commentsShown">
        <div style="max-height: 400px; overflow: auto">
          <div
            class="users-mentions"
            id="mentionsUser"
            (click)="setUser(comment.userData)"
          >
            <ion-avatar class="mention">
              <ion-img [src]="comment.userData.photo"></ion-img>
            </ion-avatar>
            <span class="name-mention" style="font-weight: bold">
              {{ comment.userData.name }}
              {{ comment.userData.last_name }}</span
            >
            <span
              style="
                text-align: right;
                position: absolute;
                right: 25px;
                font-size: 12px;
                margin-top: 10px;
                color: gray;
              "
              >{{ comment.createdAt | customDisplayDate }}</span
            >
          </div>
        </div>
        <div
          style="text-align: left; padding: 20px; color: gray; font-size: 11px"
          [innerHtml]="comment.comment | links"
        ></div>
        <div *ngIf="comment.image">
          <ion-img [src]="comment.image"></ion-img>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      *ngIf="commentsShown.length !== comments.length"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
