<div 
  class="text-center body" 
  style="position:absolute;bottom:5px; left:0; right:0;"
>
  <ion-button
    shape="round"
    class="movement"
    fill="solid"
    color="light"
    style="padding: 0; margin: 0"
    (click)="aceptarReto(Challenge.challenged, Challenge)"
  >
    <img
      src="https://img.icons8.com/color/48/000000/kicking.png"
      style="width: 30px"
    />
    {{ "challenge.retar" | translate }} {{ userService.User.name }}?
  </ion-button>
</div>
<div
  style="position:absolute;bottom:95px; right:5px;"
  class="text-center"
  *ngIf="Challenge.awards.length > 0 || Challenge.intentos?.length > 0"
>
  <ion-button 
    *ngIf="Challenge.awards.length > 0" 
    (click)="showAwards()"
    color="light"
    fill="clear"
    style="background:rgb(0 0 0 / 70%); border:0"
  >
    <ion-icon name="trophy-outline"></ion-icon>
  </ion-button>
  <ion-button
    shape="round"
    style="background:rgb(0 0 0 / 70%); border-radius:50px;"
    fill="clear"
  color="light"
    *ngIf="Challenge.intentos?.length > 0"
    (click)="openTrys()"
  >
    {{ "verIntentos" | translate }}
  </ion-button>
</div>
<ion-row
  style="position:absolute;bottom:45px; right:5px;"
>
  <ion-col size="4" class="text-center">
    <app-challenge-reactions [challenge]="Challenge"></app-challenge-reactions>
  </ion-col>
  <ion-col size="4" class="text-center">
    <app-button-comments [Challenge]="Challenge"></app-button-comments>
  </ion-col>
  <ion-col size="4" class="text-center">
    <app-button-shared [Challenge]="Challenge"></app-button-shared>
  </ion-col>
</ion-row>
