<ion-header>
  <ion-buttons slot="start">
    <ion-back-button style="color: white"></ion-back-button>
  </ion-buttons>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'sidebar.event'| translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row class="height-100vh ion-justify-content-center">
        <ion-col style="text-align: center;" size-md="8" size-sm="12">
          <ion-button *ngIf="!eventRead"  (click)="createEvent()" style="--border-radius: 25px;">
            {{'event.create_event' | translate}}
          </ion-button>
          <show-events *ngIf="!eventRead" (readEvent)="readEvent($event)"></show-events>
          <read-event *ngIf="eventRead" (backEvent)="backToEvents()" (ticketChange)="ticketChange()" [event]="eventRead"></read-event>
        </ion-col>
     
      <ion-col size-md="4" class="panel-desktop">
        <will-event-attend [ticket]="ticket" (readEvent)="readEvent($event)"></will-event-attend>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
