<ion-content style="--background: var(--color-secondary);">
  <div style="padding: 10px; height: 100%">
    <ion-icon
      class="close"
      name="close"
      (click)="modalCtrl.dismiss()"
    ></ion-icon>
    <div style="color: white; text-align: center">
      <h2 style="margin-bottom: 0.5em; color: white">
        {{ "chat.group.addUsers.header" | translate }}
      </h2>
    </div>

    <ion-item *ngFor="let user of chat.pending" class="user-item">
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="user.photo" />
        </ion-avatar>
      </ion-thumbnail>
      <ion-label>
        <span style="font-size: 12px">@{{ user.username }}</span>
      </ion-label>
      <ion-chip class="reject" (click)="handleUserRequest(false, user)"
        >{{ "chat.group.addUsers.reject" | translate }}
      </ion-chip>
      <ion-chip class="accept" (click)="handleUserRequest(true, user)">
        {{ "chat.group.addUsers.acceptSingular" | translate }}</ion-chip
      >
    </ion-item>
    <div
      style="color: white; text-align: center"
      *ngIf="chat.pending.length == 0"
    >
      <p style="margin-top: 1em; color: white">
        {{ "chat.group.addUsers.noUsersToAdd" | translate }}
      </p>
    </div>
  </div>
</ion-content>
