<ion-icon
  name="close-outline"
  (click)="mc.dismiss()"
  style="
    color: gray;
    right: 5px;
    top: 15px;
    position: absolute;
    font-size: 40px;
    z-index: 9999999;
    cursor: pointer;
  "
></ion-icon>
<ion-content class="content">
  <form [formGroup]="form">
    <div class="text">
      Selecciona la imagen de la marca
    </div>
    <div class="image-container">
      <img 
        class="img"
        [src]="form.value.image" 
        (click)="add()"
      />
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">
          Pagina de la marca
        </ion-label>
        <ion-input
          placeholder="https://app.sportyeah.com/"
          type="text"
          formControlName="url"
        ></ion-input>
      </ion-item>
      <p 
        class="errormsj"
        *ngIf="
          (form.get('url').dirty || 
          form.get('url').touched) &&
          form.get('url').status !== 
          'VALID'
        "
      >
        No corresponde con una URL
      </p>
      <ion-item>
        <ion-label position="stacked">
          Nombre de la marca
        </ion-label>
        <ion-input
          placeholder="SportYeah!"
          type="text"
          formControlName="name"
        ></ion-input>
      </ion-item>
      <p 
        class="errormsj"
        *ngIf="
          (form.get('name').dirty || 
          form.get('name').touched) &&
          form.get('name').status !== 
          'VALID'
        "
      >
        Introduce el nombre de la marca
      </p>
    </ion-list>
  </form>
  <ion-button
    fill="outline"
    (click)="send()"
    [disabled]="form.status !== 'VALID'"
  >
    Guardar Marca
  </ion-button>
</ion-content>
