<ion-card class="friends-card" >
  <ion-card-header>
    {{'dashboard.profile' | translate}}
    <ion-item lines="none" (click)="goToMyProfile()" style="cursor: pointer;">
      <ion-thumbnail slot="start">
        <ion-avatar class="mini">
          <img [src]="userService.User?.photo">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label >{{userService.User?.name}}</ion-label>

    </ion-item>
  </ion-card-header>
  <ion-card-content>
    {{'dashboard.friends' | translate}}
    <ion-item class="friends-button" (click)="searchFriend()" style="cursor: pointer;">
      <ion-icon name="search" style="color: var(--color-primary);"></ion-icon>
      <ion-label>{{'dashboard.search_friend' | translate}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let friend of userService.followings" class="profile-name" (click)="userService.goToProfile(friend.user.username,'search',null)">
      <ion-thumbnail slot="start">
        <ion-avatar class="mini" >
          <img [src]="friend.user?.photo">
          <div class="connectedDIVlittle" *ngIf="friend.user?.connected"></div>
        </ion-avatar>
      </ion-thumbnail>
      <ion-label  style="line-height: normal !important">
        <span >{{friend.user?.name}} {{friend.user?.last_name}}</span>
        <br>
        <span style="font-size: 12px;">@{{friend.user?.username}}</span>
      </ion-label>
    </ion-item>
   
     
        
  </ion-card-content>
</ion-card>