
.options-down {
    cursor: pointer;
    position: absolute;
    right: 16px;
    font-size: 18px;
  }
  .imageMiniCard{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10%;  
    cursor: pointer;
}
