
<ion-header
  *ngIf="!loadingInit"
  >
  <ion-toolbar class="bg-gradient-person">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'profile.title' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content
  class="bg-gradient-person"
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
  *ngIf="!loadingInit"
>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="getPosts(user._id,$event,true)"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row
      *ngIf="user && user != 404"
      class="height-100vh ion-justify-content-center"
    >
      <ion-col ngClass.xs="m-p-0" size-md="8" size-sm="12">
        <ion-card ngClass.xs="m-p-0" class="post-card">
          <ion-card-header class="text-center"
          style="padding-top: 0; padding-left: 0; padding-right: 0">
            <ion-card
              class="banner"
              [ngStyle]="{'background-image': 'url(' + user?.photoBanner + ')'}"
            >
            <ion-avatar class="big user_photo"
            >
              <ion-img class="img-user" [src]="user?.photo"></ion-img>
              <div class="connectedDIV" *ngIf="user?.connected"></div>
            </ion-avatar>
          </ion-card>
            <ion-card-title>
              <img
                *ngIf="ipLoaded | async"
                class="bandera"
                [src]="'https://www.countryflags.io/'+banderaIP[0]+banderaIP[1]+'/flat/64.png'"
                alt=""
              />
              {{user?.name}} {{user?.last_name}}
              <ion-icon
                style="vertical-align: middle; cursor: pointer"
                *ngIf="userService.isFollow(user._id)"
                (click)="createChat(user)"
                name="chatbubble-ellipses-outline"
              ></ion-icon>
            </ion-card-title>
            <ion-button
              class="follow"
              *ngIf="!userService.isFollow(user._id)"
              (click)="userService.follow(user._id)"
              >{{'search_friends.follow' | translate}}</ion-button
            >
            <ion-button
              class="follow"
              *ngIf="userService.isFollow(user._id)"
              (click)="userService.unFollow(user._id)"
              >{{'search_friends.unfollow' | translate}}</ion-button
            >

            <ion-card-subtitle class="estado">
              {{user?.estado}}
            </ion-card-subtitle>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <strong>{{friends?.followers}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.followers' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{friends?.followings}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.followings' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{postsCount}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.posts' | translate}}</span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <div style="margin-top: 20px" *ngIf="!connected">
              <!-- TODO colocarle UTC y translate -->
              Conectado por ultima vez {{lastConection | customDisplayDate}}.
            </div>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
          <div class="text-center">
            <ion-button color="primary"
                *ngIf="landingButton && !landingNotActive"
                [routerLink]="'/landing/'+user.username"
              >
                <ion-icon
                  name="megaphone-outline" style="margin-right: 5px;"
                >
                </ion-icon>
                {{'golandingPublic' | translate}}
              </ion-button>
          </div>

          <ion-segment (ionChange)="segmentChanged($event)"
                      style="border: 1px white;"
          >
            <ion-segment-button value="profile" style="background-color:white;">
              <ion-label>{{'labels-profile-segment.profile' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="posts" style="background-color:white;">
              <ion-label >{{'labels-profile-segment.posts' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button *ngIf="user?.profile_user == 'press'" value="news" style="background-color:white;">
              <ion-label >{{'labels-profile-segment.articles' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-card>



        <!-- PROFILE SEGMENT -->
        
        <div *ngIf="profile">
        <ion-card ngClass.xs="m-p-0" class="post-card mt5">
          <ion-grid style="padding: 0" class="ion-justify-content-center">
            <ion-row class="ion-justify-content-center">
              <ion-col
                ngClass.xs="m-p-0"
                size-md="12"
                size-sm="12"
                size-xs="12"
              >
                <app-carrousel [slider]="slider"></app-carrousel>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

          <app-structure

            [id]="user._id"
           *ngIf="
                  user?.profile_user === 'sponsor'
            "

          ></app-structure>

        <ion-card ngClass.xs="m-p-0" class="post-card mt5"
         *ngIf="
              user?.profile_user !== 'sponsor'
          "
          >
          <ion-grid style="padding: 0" class="ion-justify-content-center">
            <ion-row class="ion-justify-content-center">
              <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                <app-experience [id]="id_visited"></app-experience>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card ngClass.xs="m-p-0" class="post-card mt5">
          <ion-grid style="padding: 0" class="ion-justify-content-center">
            <ion-row class="ion-justify-content-center">
              <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                <app-awards [id]="id_visited"></app-awards>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

        <ion-card ngClass.xs="m-p-0" class="post-card mt5"
          
         *ngIf="
              user?.profile_user !== 'sponsor'
          "
          >
          <ion-grid style="padding: 0" class="ion-justify-content-center">
            <ion-row class="ion-justify-content-center">
              <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                <app-aptitudes [id]="id_visited"></app-aptitudes>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        </div>

        <!-- PROFILE SEGMENT FINISH -->
        <!-- POST SEGMENT -->

        <div *ngIf="postsB">
        <ion-grid ngClass.xs="m-p-0">
          <ion-row *ngFor="let item of posts" class="post-card">
            <ion-card ngClass.xs="m-p-0" style="width: 100%">
              <ion-card-header>
                <header-post
                  class="user-header"
                  [post]="item.post"
                ></header-post>
              </ion-card-header>

              <ion-card-content (click)="goToPost(item.post._id)">
                <post-content [post]="item.post"></post-content>
                <post-shared
                  *ngIf="item.post.post"
                  [post]="item.post.post"
                  (sharedEvent)="getPosts(user._id)"
                ></post-shared>
              </ion-card-content>
              <post-options [item]="item"></post-options>
            </ion-card>
          </ion-row>
        </ion-grid>
        </div>

        <!-- SEGMENT POSTS FINISH -->

        <!-- SEGMENT NEWS -->
        <div *ngIf="newsB">
          <ion-grid ngClass.xs="m-p-0">
            <ion-row *ngFor="let item of news" class="post-card">
              <ion-card style="width: 100%;margin: auto;height: 100%;margin-bottom:3%;cursor: pointer;" (click)="OpenNews(item?._id)">
                <ion-card-header>
                  <ion-card-subtitle style="text-align: center;" *ngIf="item?.sport">{{ 'sport.'+item?.sport| translate}}</ion-card-subtitle>
                  <ion-card-title style="text-align: center;">{{item?.headline}}</ion-card-title>
                  <ion-item style="transform: scale(0.9);margin-bottom: -3%;">
                    <ion-label>
                      <ion-text color="black">
                        <h1 style="font-size:14px">{{item?.user.name}} {{item?.user.last_name}} </h1>
                      </ion-text>
                    </ion-label>
                    <ion-text color="black">
                      <h2 style="font-size:14px" >{{item?.date | customDisplayDate}}</h2>
                    </ion-text>   
                  </ion-item>
                </ion-card-header>
                <ion-img *ngIf="item?.image[0]"   class="imageMiniCard" [src]="item?.image[0]"></ion-img>
              </ion-card>
            </ion-row>
          </ion-grid>
        </div>
        <!-- FINISH SEGMENT NEWS -->
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user == 404" class="ion-justify-content-center">
      <ion-col class="max-widht-520" size-lg="5" size-md="8" size-sm="12">
        <ion-card ngClass.xs="login-xs">
          <ion-card-header class="text-center">
            <ion-img
              class="img-login"
              src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
            ></ion-img>
            <ion-card-title>{{'404.title' | translate}}</ion-card-title>
            <ion-card-subtitle
              >{{'404.subtitle' | translate}}</ion-card-subtitle
            >
            <div class="max-widht-300 center margin-top-10 text-center">
              <a routerLink="/login">{{'404.back'| translate}}</a>
            </div>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
