<ion-header *ngIf="!loadingInit">
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-back-button style="color: white"></ion-back-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'profile.title' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content
  #content
  class="main-bg"
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
  *ngIf="!loadingInit"
>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="getPosts(user._id,$event,true)"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row
      *ngIf="user && user != 404"
      class="height-100vh ion-justify-content-center"
    >
      <ion-col class="profile-col" size-md="7" size-sm="12">
        <ion-card ngClass.xs="m-p-0" style="margin: 0">
          <ion-card-header
            class="text-center"
            style="padding-top: 0; padding-left: 0; padding-right: 0"
          >
            <profile-banner [user]="user"></profile-banner>
            <div style="margin-top: -80px">
              <profile-photo [user]="user"></profile-photo>
            </div>
            <ion-card-title>
              <miniflag [user]="user"></miniflag>
              {{user?.name}} {{user?.last_name}}
            </ion-card-title>

            <ion-card-subtitle class="estado">
              {{user?.estado}}
            </ion-card-subtitle>
            <profile-user-info [user]="user"></profile-user-info>
            <div>
              <follow-button
                [user]="user._id"
                [username]="user.username"
              ></follow-button>
              <ion-button
                *ngIf="userService.isFollow(user._id)"
                (click)="createChat(user)"
                class="btn-chat"
                ><span>
                  <ion-icon
                    style="vertical-align: middle; cursor: pointer"
                    name="chatbubble-ellipses-outline"
                  ></ion-icon>
                  Enviar mensaje</span
                >
              </ion-button>
            </div>
            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <strong>{{friends?.followers}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.followers' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{friends?.followings}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.followings' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4" style="cursor: pointer" (click)="seePosts()">
                  <strong>{{postsCount}}</strong><br />
                  <span class="color-primary"
                    >{{'profile.posts' | translate}}</span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <div style="margin-top: 20px" *ngIf="!connected">
              Conectado por ultima vez {{lastConection | customDisplayDate}}.
            </div>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
          <div class="text-center">
            <ion-button
              color="primary"
              *ngIf="landingButton && !landingNotActive"
              [routerLink]="'/landing/'+user.username"
            >
              <ion-icon name="megaphone-outline" style="margin-right: 5px">
              </ion-icon>
              {{'golandingPublic' | translate}}
            </ion-button>
          </div>

          <ion-segment [(ngModel)]="segment" style="border: 1px white">
            <ion-segment-button
              [value]="segmentOptions.profile"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.profile' | translate}}</ion-label
              >
            </ion-segment-button>
            <ion-segment-button
              [value]="segmentOptions.posts"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.posts' | translate}}</ion-label
              >
            </ion-segment-button>
            <ion-segment-button
              *ngIf="user?.profile_user == 'press'"
              [value]="segmentOptions.news"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.articles' | translate}}</ion-label
              >
            </ion-segment-button>
          </ion-segment>
        </ion-card>

        <!-- PROFILE SEGMENT -->
        <div [ngSwitch]="segment">
          <div *ngSwitchCase="segmentOptions.profile">
            <app-carrousel
              *ngIf="slider.length > 0"
              [slider]="slider"
            ></app-carrousel>

            <app-structure
              [ID]="user._id"
              *ngIf="
                    user?.profile_user === 'sponsor' ||
                    user?.profile_user === 'association' ||
                    user?.profile_user === 'foundation' ||
                    user?.profile_user === 'representative' ||
                    user?.profile_user === 'federation' ||
                    user?.profile_user === 'club'
              "
            ></app-structure>

            <experience
              *ngIf="['player','scout','press', 'executive','staff'].includes(user?.profile_user)"
              [user]="user"
            ></experience>

            <awards
              *ngIf="['player','scout','press', 'executive','staff'].includes(user?.profile_user)"
              [user]="user"
            ></awards>

            <ion-card
              ngClass.xs="m-p-0"
              class="mt5"
              *ngIf="
                user?.profile_user !== 'sponsor' &&
                user?.profile_user !== 'association' &&
                user?.profile_user !== 'foundation' &&
                user?.profile_user !== 'representative' &&
                user?.profile_user !== 'federation' &&
                user?.profile_user !== 'club' 
            "
            >
              <ion-grid style="padding: 0" class="ion-justify-content-center">
                <ion-row class="ion-justify-content-center">
                  <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                    <aptitudes [id]="id_visited"></aptitudes>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </div>

          <!-- PROFILE SEGMENT FINISH -->
          <!-- POST SEGMENT -->

          <div *ngSwitchCase="segmentOptions.posts">
            <ion-grid style="padding: 0">
              <ion-row style="justify-content: center">
                <ion-button
                  class="reload-btn"
                  *ngIf="posts.length > 0"
                  #reloadButton
                  style="z-index: 10"
                  shape="round"
                  (click)="getPosts(user._id,null,true)"
                >
                  <span>
                    <ion-icon name="reload"></ion-icon> {{'reload' |
                    translate}}</span
                  ></ion-button
                >
              </ion-row>
              <ion-row *ngFor="let post of posts" class="">
                <ion-col style="padding: 0" size="12">
                  <view-post [post]="post"></view-post>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <!-- SEGMENT POSTS FINISH -->

          <!-- SEGMENT NEWS -->
          <div *ngSwitchCase="segmentOptions.news">
            <ion-grid ngClass.xs="m-p-0">
              <ion-row *ngFor="let item of news" class="">
                <ion-card
                  style="
                    width: 100%;
                    margin: auto;
                    height: 100%;
                    margin-bottom: 3%;
                    cursor: pointer;
                  "
                  (click)="OpenNews(item?._id)"
                >
                  <ion-card-header>
                    <ion-card-subtitle
                      style="text-align: center"
                      *ngIf="item?.sport"
                      >{{ 'sport.'+item?.sport| translate}}</ion-card-subtitle
                    >
                    <ion-card-title style="text-align: center"
                      >{{item?.headline}}</ion-card-title
                    >
                    <ion-item style="transform: scale(0.9); margin-bottom: -3%">
                      <ion-label>
                        <ion-text color="black">
                          <h1 style="font-size: 14px">
                            {{item?.user.name}} {{item?.user.last_name}}
                          </h1>
                        </ion-text>
                      </ion-label>
                      <ion-text color="black">
                        <h2 style="font-size: 14px">
                          {{item?.date | customDisplayDate}}
                        </h2>
                      </ion-text>
                    </ion-item>
                  </ion-card-header>
                  <ion-img
                    *ngIf="item?.principalImage"
                    class="imageMiniCard"
                    [src]="item?.principalImage"
                  ></ion-img>
                  <div *ngIf="item?.principalVideo" style="position: relative">
                    <video
                      controls="controls"
                      preload="metadata"
                      autoplay="autoplay"
                      webkit-playsinline="webkit-playsinline"
                      class="videoPlayer"
                    >
                      <source
                        [src]="item?.principalVideo | safeUrl"
                        type="video/mp4"
                      />
                    </video>
                  </div>
                </ion-card>
              </ion-row>
            </ion-grid>
          </div>
          <!-- FINISH SEGMENT NEWS -->
        </div>
      </ion-col>
      <ion-col
        *ngIf="userService.User != null"
        size-lg="5"
        fxShow.lt-md="false"
        class="ion-justify-content-center ion-align-items-center"
      >
        <div style="position: sticky; top: -300px; padding-left: 5px">
          <profile-sponsors
            *ngIf="user.profile_user !== 'sponsor'"
            [user]="user"
          ></profile-sponsors>
          <friends-panel-desktop></friends-panel-desktop>
          <add-users-panel-desktop></add-users-panel-desktop>
          <!-- <popular-groups-panel></popular-groups-panel> -->
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="user == 404" class="ion-justify-content-center">
      <ion-col class="max-widht-520" size-lg="5" size-md="8" size-sm="12">
        <ion-card ngClass.xs="login-xs">
          <ion-card-header class="text-center">
            <ion-img
              class="img-login"
              src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
            ></ion-img>
            <ion-card-title>{{'404.title' | translate}}</ion-card-title>
            <ion-card-subtitle
              >{{'404.subtitle' | translate}}</ion-card-subtitle
            >
            <div class="max-widht-300 center margin-top-10 text-center">
              <a routerLink="/login">{{'404.back'| translate}}</a>
            </div>
          </ion-card-header>

          <ion-card-content> </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
