<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color: white">
      {{'profile.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content
  [scrollbar]="reusableCI.scrollbarStyle"
  class="main-bg"
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="reload($event)"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row class="height-100vh ion-justify-content-center">
      <ion-col ngClass.xs="m-p-0" size-md="7" size-sm="12">
        <ion-card style="margin: 0; padding: 0">
          <ion-card-header
            class="text-center"
            style="padding-top: 0; padding-left: 0; padding-right: 0"
          >
            <profile-banner
              [user]="userService.User"
              [editable]="true"
            ></profile-banner>
            <div style="margin-top: -80px">
              <profile-photo
                [user]="userService.User"
                [editable]="true"
              ></profile-photo>
            </div>
            <ion-card-title (click)="goTo('/profile/edit')">
              <miniflag [user]="userService.User"></miniflag>
              {{userService.User?.name}} {{userService.User?.last_name}}
              <ion-icon class="edit" name="settings-outline"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle class="estado">
              {{userService.User?.estado}}
            </ion-card-subtitle>
            <profile-user-info
              routerLink="/profile/edit"
              [user]="userService.User"
            ></profile-user-info>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    class="btn-primary"
                    [routerLink]="'/landing/'+userService.User._id+'/analytics-views'"
                    ><ion-icon
                      name="analytics-outline"
                      style="cursor: pointer; color: black"
                    ></ion-icon
                    >{{'analytics-views.title' | translate}}</ion-button
                  >
                </ion-col>
                <ion-col *ngIf="userService.User?.profile_user == 'press'">
                  <ion-button [routerLink]="'/news/profileNews'"
                    ><ion-icon
                      style="margin-right: 8px"
                      name="newspaper-outline"
                    ></ion-icon>
                    {{'news.news' | translate}}</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <strong>{{userService.followers.length}}</strong><br />
                  <span class="profile-name" (click)="goTo('/profile/follower')"
                    >{{'profile.followers' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{views?.length == null?0:views.length}}</strong
                  ><br />
                  <span
                    class="profile-name"
                    (click)="goTo('/profile/view-profile')"
                    >{{'profile.visitors' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{userService.followings.length}}</strong><br />
                  <span
                    class="profile-name"
                    (click)="goTo('/profile/following')"
                    >{{'profile.followings' | translate}}</span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button
              color="primary"
              *ngIf="landingButton"
              [routerLink]="'../landing/'+userService.User.username"
            >
              <ion-icon name="megaphone-outline" style="margin-right: 5px">
              </ion-icon>
              {{'golanding' | translate}}
            </ion-button>
          </ion-card-header>

          <!-- Redes sociales en mobile -->

          <social-networks fxShow="false" fxShow.lt-md="true"></social-networks>

          <private-structure-preview
            fxShow="false"
            fxShow.lt-md="true"
            *ngIf="['club', 'association',
            'foundation',
            'federation'].includes(userService.User.profile_user)"
          ></private-structure-preview>

          <!-- Patrocinadores en mobile -->
          <custom-sponsor
            fxShow="false"
            fxShow.lt-md="true"
            *ngIf="userService.User.profile_user == 'sponsor'"
          ></custom-sponsor>
          <profile-sponsors
            fxShow="false"
            fxShow.lt-md="true"
            *ngIf="userService.User.profile_user !== 'sponsor'"
            [user]="userService.User"
          ></profile-sponsors>
          <!-- Fin patrocinadores movil -->

          <ion-segment [(ngModel)]="segment" style="border: 1px white">
            <ion-segment-button
              [value]="segmentOptions.profile"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.profile' | translate}}</ion-label
              >
            </ion-segment-button>
            <ion-segment-button
              [value]="segmentOptions.posts"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.posts' | translate}}</ion-label
              >
            </ion-segment-button>
          </ion-segment>
        </ion-card>
        <div *ngIf="segment == segmentOptions.profile">
          <private-gallery-preview #gallery></private-gallery-preview>

          <experience
            *ngIf="['player','referee','scout','press', 'executive','staff'].includes(userService.User.profile_user)"
            [id]="userService.User?._id"
            [user]="userService.User"
          ></experience>

          <awards
            *ngIf="['player','referee','scout','press','executive','staff'].includes(userService.User?.profile_user)"
            [user]="userService.User"
          ></awards>

          <aptitudes
            *ngIf="['player','referee','scout','executive','staff'].includes(userService.User?.profile_user)"
            [user]="userService.User"
          ></aptitudes>
        </div>
        <!-- FINISH SEGMENT PROFILE  -->
        <!-- SEGMENT POSTST -->
        <div *ngIf="segment == segmentOptions.posts">
          <ion-grid ngClass.xs="m-p-0">
            <ion-row style="justify-content: center">
              <ion-button
                class="reload-btn"
                *ngIf="posts.length > 0"
                #reloadButton
                style="z-index: 10"
                shape="round"
                (click)="getPost(null,true)"
              >
                <span>
                  <ion-icon name="reload"></ion-icon> {{'reload' |
                  translate}}</span
                ></ion-button
              >
            </ion-row>
            <ion-row *ngFor="let post of posts" class="">
              <ion-col size="12">
                <view-post [post]="post"></view-post>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- FINISH SEGMENT POSTS -->
      </ion-col>

      <ion-col
        size-lg="5"
        fxShow.lt-md="false"
        class="ion-justify-content-center ion-align-items-center"
      >
        <div style="position: sticky; top: -300px; padding-left: 5px">
          <profile-sponsors
            *ngIf="userService.User.profile_user !== 'sponsor'"
            [user]="userService.User"
          ></profile-sponsors>
          <custom-sponsor
            *ngIf="userService.User.profile_user == 'sponsor'"
          ></custom-sponsor>
          <private-structure-preview
            *ngIf="['club', 'association',
            'foundation',
            'federation'].includes(userService.User.profile_user)"
          ></private-structure-preview>

          <friends-panel-desktop></friends-panel-desktop>
          <add-users-panel-desktop></add-users-panel-desktop>
          <social-networks></social-networks>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
