<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color: white">
      {{'profile.title' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-get-media></app-get-media>
<ion-content
  [scrollbar]="reusableCI.scrollbarStyle"
  class="main-bg"
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="getPost($event,true)"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid style="padding: 0" class="height-100vh">
    <ion-row class="height-100vh ion-justify-content-center">
      <ion-col ngClass.xs="m-p-0" size-md="7" size-sm="12">
        <ion-card style="margin: 0; padding: 0">
          <ion-card-header
            class="text-center"
            style="padding-top: 0; padding-left: 0; padding-right: 0"
          >
            <profile-banner
              [user]="userService.User"
              [editable]="true"
            ></profile-banner>
            <div style="margin-top: -80px">
              <profile-photo
                [user]="userService.User"
                [editable]="true"
              ></profile-photo>
            </div>
            <ion-card-title (click)="goTo('/profile/edit')">
              <miniflag [user]="userService.User"></miniflag>
              {{userService.User?.name}} {{userService.User?.last_name}}
              <ion-icon class="edit" name="settings-outline"></ion-icon>
            </ion-card-title>
            <ion-card-subtitle class="estado">
              {{userService.User?.estado}}
            </ion-card-subtitle>
            <profile-user-info
              routerLink="/profile/edit"
              [user]="userService.User"
            ></profile-user-info>

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button
                    class="analythics"
                    [routerLink]="'/landing/'+userService.User._id+'/analytics-views'"
                    ><ion-icon
                      name="analytics-outline"
                      style="cursor: pointer; color: black"
                    ></ion-icon
                    >{{'analytics-views.title' | translate}}</ion-button
                  >
                </ion-col>
                <ion-col *ngIf="userService.User?.profile_user == 'press'">
                  <ion-button [routerLink]="'/news/create'"
                    ><ion-icon
                      style="margin-right: 8px"
                      name="newspaper-outline"
                    ></ion-icon>
                    {{'news.article' | translate}}</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>

            <ion-grid>
              <ion-row>
                <ion-col size="4">
                  <strong>{{userService.followers.length}}</strong><br />
                  <span class="profile-name" (click)="goTo('/profile/follower')"
                    >{{'profile.followers' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{views?.length == null?0:views.length}}</strong
                  ><br />
                  <span
                    class="profile-name"
                    (click)="goTo('/profile/view-profile')"
                    >{{'profile.visitors' | translate}}</span
                  >
                </ion-col>
                <ion-col size="4">
                  <strong>{{userService.followings.length}}</strong><br />
                  <span
                    class="profile-name"
                    (click)="goTo('/profile/following')"
                    >{{'profile.followings' | translate}}</span
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-button
              color="primary"
              *ngIf="landingButton"
              [routerLink]="'../landing/'+userService.User.username"
            >
              <ion-icon name="megaphone-outline" style="margin-right: 5px">
              </ion-icon>
              {{'golanding' | translate}}
            </ion-button>
            <ion-button
              color="primary"
              *ngIf="landingButton"
              [routerLink]="'../structure/'+userService.User.username"
            >
              <ion-icon name="megaphone-outline" style="margin-right: 5px">
              </ion-icon>
              {{'gostructure' | translate}}
            </ion-button>
          </ion-card-header>

          <ion-card-content> </ion-card-content>

          <div style="margin-bottom: 5px">
            <app-sponsor
              [creator]="creator"
              [sponsors]="user.sponsors"
              (action)="changeSponsors($event)"
            ></app-sponsor>
          </div>

          <ion-segment
            (ionChange)="segmentChanged($event)"
            style="border: 1px white"
          >
            <ion-segment-button value="profile" style="background-color: white">
              <ion-label
                >{{'labels-profile-segment.profile' | translate}}</ion-label
              >
            </ion-segment-button>
            <ion-segment-button value="posts" style="background-color: white">
              <ion-label
                >{{'labels-profile-segment.posts' | translate}}</ion-label
              >
            </ion-segment-button>
            <ion-segment-button
              *ngIf="userService.User?.profile_user == 'press'"
              value="news"
              style="background-color: white"
            >
              <ion-label
                >{{'labels-profile-segment.articles' | translate}}</ion-label
              >
            </ion-segment-button>
          </ion-segment>
        </ion-card>
        <div *ngIf="profile">
          <app-carrousel [id]="userService.User?._id"></app-carrousel>
          <ion-card
            ngClass.xs="m-p-0"
            class="mt5"
            *ngIf="
              userService.User.profile_user !== 'sponsor' &&
              userService.User.profile_user !== 'foundation' &&
              userService.User.profile_user !== 'federation' &&
              userService.User.profile_user !== 'amateur' &&
              userService.User.profile_user !== 'club' &&
              userService.User.profile_user !== 'association'
            "
          >
            <ion-grid style="padding: 0" class="ion-justify-content-center">
              <ion-row class="ion-justify-content-center">
                <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                  <app-experience [id]="userService.User?._id"></app-experience>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card
            ngClass.xs="m-p-0"
            class="mt5"
            *ngIf="
              userService.User.profile_user !== 'representative'
            "
          >
            <ion-grid style="padding: 0" class="ion-justify-content-center">
              <ion-row class="ion-justify-content-center">
                <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                  <app-awards [id]="userService.User?._id"></app-awards>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card
            ngClass.xs="m-p-0"
            class="mt5"
            *ngIf="
              userService.User.profile_user !== 'sponsor' &&
              userService.User.profile_user !== 'federation' &&
              userService.User.profile_user !== 'foundation' &&
              userService.User.profile_user !== 'representative' &&
              userService.User.profile_user !== 'association' &&
              userService.User.profile_user !== 'club'
            "
          >
            <ion-grid style="padding: 0" class="ion-justify-content-center">
              <ion-row class="ion-justify-content-center">
                <ion-col ngClass.xs="m-p-0" size-md="12" size-sm="12">
                  <app-aptitudes [id]="userService.User?._id"></app-aptitudes>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
        <!-- FINISH SEGMENT PROFILE  -->
        <!-- SEGMENT POSTST -->
        <div *ngIf="postsB">
          <ion-grid ngClass.xs="m-p-0">
            <ion-row style="justify-content: center">
              <ion-button
                class="reload-btn"
                *ngIf="posts.length > 0"
                #reloadButton
                style="z-index: 10"
                shape="round"
                (click)="getPost(null,true)"
              >
                <span>
                  <ion-icon name="reload"></ion-icon> {{'reload' |
                  translate}}</span
                ></ion-button
              >
            </ion-row>
            <ion-row *ngFor="let post of posts" class="">
              <ion-col size="12">
                <view-post [post]="post"></view-post>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- FINISH SEGMENT POSTS -->
        <!-- SEGMENT NEWS -->
        <div *ngIf="newsB">
          <ion-grid ngClass.xs="m-p-0">
            <ion-row *ngFor="let item of news">
              <ion-card
                style="
                  width: 100%;
                  margin: auto;
                  height: 100%;
                  margin-bottom: 3%;
                "
              >
                <div style="height: 40px; margin-top: 8px">
                  <ion-icon
                    name="chevron-down"
                    (click)="openOptions($event,item)"
                    class="options-down"
                  ></ion-icon>
                </div>
                <ion-card-header
                  (click)="OpenNews(item?._id)"
                  style="cursor: pointer"
                >
                  <ion-card-subtitle
                    style="text-align: center"
                    *ngIf="item?.sport"
                    >{{ 'sport.'+item?.sport| translate}}</ion-card-subtitle
                  >
                  <ion-card-title style="text-align: center"
                    >{{item?.headline}}</ion-card-title
                  >
                  <ion-item style="transform: scale(0.9); margin-bottom: -3%">
                    <ion-label>
                      <ion-text color="black">
                        <h1 style="font-size: 14px">
                          {{item?.user.name}} {{item?.user.last_name}}
                        </h1>
                      </ion-text>
                    </ion-label>
                    <ion-text color="black">
                      <h2 style="font-size: 14px">
                        {{item?.date | customDisplayDate}}
                      </h2>
                    </ion-text>
                  </ion-item>
                </ion-card-header>
                <ion-img
                  *ngIf="item?.principalImage"
                  class="imageMiniCard"
                  [src]="item?.principalImage"
                ></ion-img>
                <div *ngIf="item?.principalVideo" style="position: relative">
                  <video
                    controls="controls"
                    preload="metadata"
                    autoplay="autoplay"
                    webkit-playsinline="webkit-playsinline"
                    class="videoPlayer"
                  >
                    <source
                      [src]="item?.principalVideo | safeUrl"
                      type="video/mp4"
                    />
                  </video>
                </div>
              </ion-card>
            </ion-row>
          </ion-grid>
        </div>
        <!-- FINISH SEGMENT NEWS -->
      </ion-col>

      <ion-col
        size-lg="5"
        fxShow.lt-md="false"
        class="ion-justify-content-center ion-align-items-center"
      >
        <div style="position: sticky; top: -300px; padding-left: 5px">
          <profile-sponsors
            *ngIf="userService.User.profile_user !== 'sponsor'"
          ></profile-sponsors>
          <custom-sponsor
            *ngIf="userService.User.profile_user == 'sponsor'"
          ></custom-sponsor>
          <friends-panel-desktop></friends-panel-desktop>
          <add-users-panel-desktop></add-users-panel-desktop>
          <!-- <popular-groups-panel></popular-groups-panel> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
