.title{
    color: var(--color-primary);
    text-align: center;
}
.add-button{
    font-size: 10px;
    --background: var(--color-primary);
    height: 30px;
}

.white{
    color: var(--color-primary);
}


.close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    background: #080808b5;
    border-radius: 50%;
    color: red;
}


.wish{
    height: 100%;
    padding: 10px;
    overflow: auto;
    background: white;
    border: 10px solid rgb(129, 35, 224);
}

.price{
    color: #243a24;
    font-size: 21px;
}

.price-div{
    text-align: center;
}

.laso{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 9px;
    top: 10px;
    z-index: 100;
}
.laso-mini{
    position: absolute;
    height: 100px;
    width: 100px;
    left: 9px;
    top: 10px;
    z-index: 100;
}

.date{
    text-align: center;
}

.p-mini{
    padding-top: 35px !important;
}