ion-item {
  --background: var(--color-primary);
  border-radius: 10px !important;
  color: black !important;
  &:hover{
    --background: var(--color-green);
  
  }
}
.item-user {
  margin: auto;
  margin-bottom: 10px !important;
  border-radius: 10px;
  max-width: 400px;
  p {
    color: black;
  }
}
