.main-content{
    padding: 0;
    margin:0 !important
}
.views{
    text-align: center;
    width: 80px;
    border-radius: 45px;
    position: absolute;
    background: #669dcd;
    right: 48px;
    top: 15px;
    color: black;
  }