<ion-header>
  <ion-toolbar class="main-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title style="--color: white"
      >{{'dashboard.title' | translate}}</ion-title
    >
    <ion-buttons slot="end">
      <button-search-friend></button-search-friend>
      <button-notification></button-notification>
      <lang-btn-app></lang-btn-app>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  #content
  class="main-bg"
  [scrollbar]="reusableCI.scrollbarStyle"
  allowAllScreens="true"
  [scrollEvents]="true"
  (ionScrollEnd)="logScrolling($event)"
>
  <ion-refresher
    slot="fixed"
    (ionRefresh)="getPost($event,true)"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid class="home-grid">
    <ion-row>
      <ion-col  size-xs="12" size-lg="8" ngClass.xs="p-0">
        <ion-grid class="no-padding">
          <ion-row fxShow.gt-sm="false" fxShow.lt-md="true" class="post-card">
            <ion-col size="12" class="no-padding">
              <friends-mobile></friends-mobile
            ></ion-col>
          </ion-row>
          <ion-row class="main-card-content">
            <ion-col size="12" style="padding: 0 !important">
              <main-card-user></main-card-user>
            </ion-col>
          </ion-row>

          <ion-row style="justify-content: center">
            <ion-button
              class="reload-btn"
              *ngIf="posts.length > 0"
              #reloadButton
              style="z-index: 10"
              shape="round"
              (click)="getPost(null,true)"
            >
              <span>
                <ion-icon name="reload"></ion-icon> {{'reload' |
                translate}}</span
              ></ion-button
            >
            <br />
          </ion-row>
          <ion-row *ngFor="let post of posts;let i = index" class="post-card">
            <ion-col size="12" class="no-padding">
              <view-post [post]="post"></view-post>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size-lg="4" class="panel-desktop">
        <div style="position: sticky; top: -300px; padding-left: 5px">
          <friends-panel-desktop></friends-panel-desktop>
          <add-users-panel-desktop></add-users-panel-desktop>
          <!-- <popular-groups-panel></popular-groups-panel> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab-button color="secondary" (click)="presentModal()" class="new"
    ><ion-icon name="add"></ion-icon
  ></ion-fab-button>
</ion-content>
