ion-slides {
  height: 100%;
  background: black;

}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}



b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);
}

p b {
  color: var(--ion-text-color, #000000);
}

.button-photo-banner {
  color: rgba(35, 112, 61, 0.993);
  margin-top: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: white;
  float: right;
  position: absolute;
  z-index: 10000000000000000000;
  right: 4px;
}

.img-background{
  background-size: cover;
  height: 100%;
}

.img{
  width: 100% !important;
  height: 100% !important;
}

.slide{
  width: 100%;
  height: 350px;
}

.slides-content{
  max-width: 700px; // esto para que no pase lo demas
  margin: auto; // para que siempre este en el medio
  padding: 10px 0px; // este padding para que tenga una separacion de arriba y abajo pero a los costados se vea del mismo tamanio de los demas
  position: relative; // para que los objetos dentro que sean position absolute se guien a partir de aqui

}