<ion-content>
  <ion-icon
    name="close-outline"
    (click)="modalCtrl.dismiss()"
    class="close-modal"
  ></ion-icon>
  <div style="padding: 15px; text-align: center">
    <h6>
      {{
        (userService.User?._id == user._id
          ? "sponsors.allSponsors.title_mine"
          : "sponsors.allSponsors.title_other"
        ) | translate
      }}
    </h6>
  </div>
  <ion-row>
    <ion-col size="4" *ngFor="let sponsor of sponsors">
      <view-sponsor-profile
        [info]="sponsor.idSponsor?.sponsor_info || sponsor.customSponsor"
        [sponsor]="sponsor"
      ></view-sponsor-profile>
      <div *ngIf="userService.User?._id == user._id" style="text-align: center">
        <ion-button (click)="options($event, sponsor)" class="btn-primary"
          ><span
            ><ion-icon name="create-outline"></ion-icon>
            {{ "sponsors.allSponsors.btn" | translate }}</span
          ></ion-button
        >
      </div>
    </ion-col>
  </ion-row>
</ion-content>
