<ion-card>
  <ion-card-header>
    <ion-item lines="none">
      <ion-thumbnail (click)="goToMyProfile()" slot="start">
        <ion-avatar class="mini">
          <img [src]="userService.User?.photo" />
        </ion-avatar>
      </ion-thumbnail>
      <ion-label 
        >{{ userService.User?.name }} {{ userService.User?.last_name }} <br />
      </ion-label>
    </ion-item>

    <ion-input
      readonly
      (ionFocus)="newPost()"
      placeholder="{{ 'challenge.new_challenge' | translate }}"
    ></ion-input>

    <!--{{ "followed" | translate }}
    <div class="friends-mobile" *ngIf="users !== null">
      <ion-avatar
        *ngFor="let friend of users"
        (click)="goToProfile(friend._id, friend.username)"
        class="mini"
        style="margin: 0 5px"
      >
        <img [src]="friend.photo" />
        <div class="connectedDIVlittle" *ngIf="friend.connected"></div>
      </ion-avatar>
    </div>-->
  </ion-card-header>
</ion-card>
