.username {
  font-size: 12px;
  margin: 5px 0px;
}
.name {
  font-size: 16px;
  margin: 5px 0px;

  font-weight: 500;
  cursor: pointer;
}

.content {
  padding: 10px;
}

.user {
  cursor: pointer;
}

ion-thumbnail.userthumb {
  margin-right: 5px;
 
}

.new-post {
  cursor: pointer;
  text-align: center;

  padding: 5px;
}
