<ion-card >
  <ion-card-header>
    <ion-item lines="none">
      <ion-thumbnail (click)="goToMyProfile()" slot="start">
        <ion-avatar class="mini">
          <img [src]="userService.User?.photo">
        </ion-avatar>
      </ion-thumbnail>
      <ion-label style="margin-top: -10px;">{{userService.User?.name}} {{userService.User?.last_name}} <br>
      <ion-input readonly (ionFocus)="newPost()"  placeholder="{{'dashboard.new_post_placeholder' | translate}}"></ion-input>
      </ion-label>
    </ion-item>
    {{'dashboard.friends' | translate}}
    <div class="friends-mobile">
     
      <ion-fab-button class="bg-gradient-person-fab" (click)="searchFriend()" size="small">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-avatar *ngFor="let friend of userService.followings" (click)="goToProfile(friend.user._id,friend.user.username)" class="mini" style="margin: 0 5px;">
        <img [src]="friend.user.photo">
        <div class="connectedDIVlittle" *ngIf="friend.user.connected"></div>
      </ion-avatar>

    </div>
    
  </ion-card-header>
</ion-card>