.spinner{
  height: 90%;
  width: 10%;
}
.noUser{
  margin-top:10%;

}
.content{
  // margin-top:3%;
  background-color: blac;
}
.logo-background{
  background: url("https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png") repeat;
  min-height: 100%;
}
