.imageArray{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .imageSelected{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  
.tablet_view{
    width: 70%;
      margin-left: auto;
      margin-right: auto;
  }
  