@media screen and (max-width: 600px) {
  /**
  Aqui van a ir todos las clases responsivas para el mobile, o clases exclusivas para el mobile
  */

  .main-card-content {
    visibility: hidden !important;
    position: absolute;
    max-width: 700px;
    margin: auto;
  }

  .home-grid {
    padding: 0px;
    height: 100%;
  }

  .preview {
    background-color: #faefff;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    width: 100% !important;
    display: block !important;
    text-align: center;
  }

  .link.message {
    display: block !important;
    max-width: 100% !important;
    .link-text {
      max-width: 100% !important;
      flex: unset !important;
    }
  }

  .postButton {
    width: 80%;
    font-size: 9px;
  }

  .hidden-mobile {
    visibility: hidden !important;
    position: absolute;
  }


  .msg-edit-modal .modal-wrapper {
    height: 350px;
    width: 90%;
    top: 25%;
    position: absolute;
    display: block;
    border-radius: 20px;
  }

  .post-button {
    font-size: 12px !important;
    ion-icon {
      font-size: 18px;
      vertical-align: middle;
      color: #3c3a3a;
    }
  }

  .banner{
    height: 250px !important;
    img{
      height: 250px !important;
    }
  }

  .marginleftforletters {
    margin-left: 25px !important;
  }

  .profile-col{
    padding: 0;
  }
}
