<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-title>{{ "seeImg" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="mc.dismiss()"
        color="dark"
        shape="round"
        style="background-color: white; border-radius: 10px"
      >
        {{ "langs.close" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: black;">
  <div class="slides-content">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slide" >
        <img
          [src]="img"
          class="img"
          alt=""
        />
        <!-- <video
          *ngIf="img.indexOf('video/') !== -1"
          controlslist="nodownload"
          controls="controls"
          preload="metadata"
          webkit-playsinline="webkit-playsinline"
          class="img"
        >
          <source [src]="img | safeUrl" type="video/mp4" />
          <source [src]="img | safeUrl" type="video/ogg" />
        </video>
        <iframe
          [src]="img | youtube"
          *ngIf="img.indexOf('youtube') !== -1 && img | youtube"
        >
        </iframe> -->
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
