ion-avatar {
    --border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    position: relative;
}

.icon-photo{
    position: absolute;
    font-size: 30px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.img-edit{
    cursor: pointer;
}