.banner {
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 250px;
}

.trashIconVideo{
  cursor: pointer;
  color: red;
  font-size: 20px;
  float: right;
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 50%;
}
