
.buttons{
    text-align: end;
    bottom: 10px;
    padding: 0 20px;
}

.icon-remove{
    position: absolute;
    font-size: 30px;
    top: 0px;
    right:0px;
    color: #ef5350;
}

.box-input{
    max-height: 200px;
    color: #222121;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    background-color: #f2f3f5 !important;
    margin-bottom: 5px;

}
