<h1 style="position: relative">
  <span
    ><p style="color: rgb(126, 126, 126); font-size: 9px">
      {{ "ranking.slide" | translate }}
    </p></span
  >Mes
</h1>
<div style="width: 100%">
  <!-- REACCIONES -->
  <div class="podium">
    <ion-grid>
      <ion-row>
        <!--  SEGUNDO LUGAR -->
        <ion-col size="4" style="margin-top: 20px">
          <ion-avatar
            *ngIf="ranking[1] == undefined && load"
            style="margin-left: auto; margin-right: auto"
          >
            <img src="https://img.icons8.com/dusk/344/multiply.png" />
          </ion-avatar>
          <div
            *ngIf="ranking[1] != undefined"
            class="tilt-in-fwd-tl"
            (click)="userService.goToProfile(ranking[1]._id.user.username)"
          >
            <ion-avatar
              style="margin-left: auto; margin-right: auto; cursor: pointer"
            >
              <img [src]="ranking[1]._id.user.photo" />
              <!--  <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> -->
            </ion-avatar>

            <div style="text-align: center; height: 30px; cursor: pointer">
              {{ ranking[1]._id.user.name }} {{ ranking[1]._id.user.last_name }}
            </div>
          </div>

          <div
            style="
              height: 130px;
              width: 60px;
              background: silver;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <div
              style="
                border-bottom-right-radius: 17px;
                border-bottom-left-radius: 17px;
                height: 110px;
                width: 50px;
                background: brown;
                margin: auto;
              "
            >
              <ion-img
                class="medalla"
                src="https://img.icons8.com/emoji/344/2nd-place-medal-emoji.png"
                alt="Podium"
              ></ion-img>
            </div>
          </div>
        </ion-col>

        <!--  PRIMER LUGAR -->
        <ion-col size="4">
          <ion-avatar
            *ngIf="ranking[0] == undefined && load"
            style="margin-left: auto; margin-right: auto"
          >
            <img src="https://img.icons8.com/dusk/344/multiply.png" />
          </ion-avatar>
          <div
            *ngIf="ranking[0] != undefined"
            class="slide-in-bottom"
            (click)="
              userService.goToProfile(ranking[0]._id.user.username)
            "
          >
            <ion-avatar style="margin-left: auto; margin-right: auto">
              <img [src]="ranking[0]?._id.user.photo" />
              <!--  <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> -->
            </ion-avatar>
            <div style="text-align: center; height: 30px">
              {{ ranking[0]?._id.user.name }}
              {{ ranking[0]?._id.user.last_name }}
            </div>
          </div>

          <div
            style="
              height: 150px;
              width: 60px;
              background: gold;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <div
              style="
                border-bottom-right-radius: 17px;
                border-bottom-left-radius: 17px;
                height: 130px;
                width: 50px;
                background: brown;
                margin: auto;
              "
            >
              <ion-img
                class="medalla"
                src="https://img.icons8.com/emoji/344/1st-place-medal-emoji.png"
                alt="Podium"
              ></ion-img>
            </div>
          </div>
        </ion-col>

        <!--  TERCER LUGAR -->
        <ion-col size="4" style="margin-top: 27px">
          <ion-avatar
            *ngIf="ranking[2] == undefined && load"
            style="margin-left: auto; margin-right: auto"
          >
            <img src="https://img.icons8.com/dusk/344/multiply.png" />
          </ion-avatar>
          <div
            *ngIf="ranking[2] != undefined"
            (click)="
              userService.goToProfile(ranking[2]._id.user.username)
            "
            class="tilt-in-fwd-tr"
          >
            <ion-avatar style="margin-left: auto; margin-right: auto">
              <img [src]="ranking[2]?._id.user.photo" />
              <!--  <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> -->
            </ion-avatar>
            <div style="text-align: center; height: 30px">
              {{ ranking[2]?._id.user.name }}
              {{ ranking[2]?._id.user.last_name }}
            </div>
          </div>

          <div
            style="
              height: 122px;
              width: 60px;
              background: #cd7f32;
              margin-top: 10px;
              margin-left: auto;
              margin-right: auto;
            "
          >
            <div
              style="
                border-bottom-right-radius: 17px;
                border-bottom-left-radius: 17px;
                height: 103px;
                width: 50px;
                background: brown;
                margin: auto;
              "
            >
              <ion-img
                class="medalla"
                src="https://img.icons8.com/emoji/344/3rd-place-medal-emoji.png"
                alt="Podium"
              ></ion-img>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

<!-- REACCIONES -->

<!-- <div
  style="width: 99%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 0 && myPosition < total"
>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-avatar style="margin-left: 15%; margin-top: 30px">
              <img [src]="userLike.post.user.photo" />
               <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> 
            </ion-avatar>
            <div style="margin-left: 13%; color: black">
              {{ userLike.post.user.name }} {{ userLike.post.user.last_name }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div style="margin-top: 30px">
              <h3 style="font-size: 55px; color: black">
                <span style="font-size: 30px">Posición</span> {{ positionLike }}
              </h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div> -->
<div
  style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 0 && !(myPosition < total)"
>
  <div style="padding: 10px; text-align: center">
    <img
      src="https://i.pinimg.com/originals/b0/53/fb/b053fbc7aac21ef8877679d6e0a934d0.gif"
      style="height: 100px"
      alt=""
    />
  </div>
  <h1 *ngIf="myPosition == 1 && ranking.length == 0" style="text-align: center">
    Aun no han reaccionado a tus publicaciones, Sigue compartiendo y buscando
    amigos para escalar en el Ranking !
  </h1>
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
    compartiendo para subir en el ranking!
  </h1>
 <!-- <div style="text-align: center; padding: 5px">
     <ion-button (click)="presentModal()" fill="outline" class="btn-outline-blue"
      >Crear publicación</ion-button
    >
    <ion-button fill="outline" class="btn-outline-blue"
      >Buscar amigos</ion-button
    >
  </div> -->
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
    compartiendo para subir en el ranking!
  </h1>
</div>
<div
style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
*ngIf="segment == 0 && (myPosition < total)"> 
<div style="padding: 10px; text-align: center">
  <img
     *ngIf="myPosition <= 3" 
      src="https://i.pinimg.com/originals/d2/61/4e/d2614e2f62dd59b9dfe66e63da15e5e7.gif"
      style="height: 100px"
      alt=""
    />
</div>
<h1 *ngIf="myPosition > 1" style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
  compartiendo publicaciones para subir en el ranking!
</h1>
<h1 *ngIf="myPosition == 1 && myPosition != 2 && myPosition != 3" 
style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. ¡Felicitaciones eres
  el número 1 en el ranking!
</h1>
</div>
<!-- COMENTARIOS -->

<!-- <div
  style="border-radius: 5px; width: 99%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 1 && myPosition < total"
>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-avatar style="margin-left: 15%; margin-top: 30px">
              <img [src]="userComment.post.user.photo" />
                <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> 
            </ion-avatar>
            <div style="margin-left: 13%; color: black">
              {{ userComment.post.user.name }}
              {{ userComment.post.user.last_name }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div style="margin-top: 30px; color: black">
              <h3 style="font-size: 55px">
                <span style="font-size: 30px">Posición</span>
                {{ positionComment }}
              </h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div> -->
<div
  style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 1 && !(myPosition < total)"
>
  <div style="padding: 10px; text-align: center">
    <img
      src="https://i.pinimg.com/originals/b0/53/fb/b053fbc7aac21ef8877679d6e0a934d0.gif"
      style="height: 100px"
      alt=""
    />
  </div>
  <h1 *ngIf="myPosition == 1 && ranking.length == 0" style="text-align: center">
    Aun no no comentan tus publicaciones , comparte mas contenido para que
    comenten
  </h1>
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
    compartiendo para subir en el ranking!
  </h1>
  <!--<div style="text-align: center; padding: 5px">
     <ion-button (click)="presentModal()" fill="outline" class="btn-outline-blue"
      >Crear publicación</ion-button
    >
    <ion-button fill="outline" class="btn-outline-blue"
      >Buscar amigos</ion-button
    > 
  </div>-->
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue compartiendo para subir en
    el ranking!
  </h1>
</div>
<div
style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
*ngIf="segment == 1 && (myPosition < total)"> 
<div style="padding: 10px; text-align: center">
  <img
     *ngIf="myPosition <= 3" 
      src="https://i.pinimg.com/originals/d2/61/4e/d2614e2f62dd59b9dfe66e63da15e5e7.gif"
      style="height: 100px"
      alt=""
    />
</div>
<h1 *ngIf="myPosition > 1" style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
  compartiendo publicaciones para subir en el ranking!
</h1>
<h1 *ngIf="myPosition == 1 && myPosition != 2 && myPosition != 3" 
style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. ¡Felicitaciones eres
  el número 1 en el ranking!
</h1>
</div>
<!-- COMPARTIDOS -->
<!-- 
<div
  style="border-radius: 5px; width: 99%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 2 && myPosition < total"
>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-avatar style="margin-left: 15%; margin-top: 30px">
              <img [src]="userShared.post.user.photo" />
               <div class="connectedDIVlittle" *ngIf="(item.chat.sender?._id != userService.User?._id)?item.chat.sender?.connected:item.chat.receiver?.connected"></div> 
            </ion-avatar>
            <div style="margin-left: 13%; color: black">
              {{ userShared.post.user.name }}
              {{ userShared.post.user.last_name }}
            </div>
          </ion-col>
          <ion-col size="6">
            <div style="margin-top: 30px; color: black">
              <h3 style="font-size: 55px">
                <span style="font-size: 30px">Posición</span>
                {{ positionShared }}
              </h3>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div> -->
<div
  style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
  *ngIf="segment == 2 && !(myPosition < total)"
>
  <div style="padding: 10px; text-align: center">
    <img
      src="https://i.pinimg.com/originals/b0/53/fb/b053fbc7aac21ef8877679d6e0a934d0.gif"
      style="height: 100px"
      alt=""
    />
  </div>
  <h1 *ngIf="myPosition == 1 && ranking.length == 0" style="text-align: center">
    Aun no han compartido tus publicaciones, Sigue creando publicaciones y
    buscando amigos para escalar en el Ranking !
  </h1>
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
    compartiendo para subir en el ranking!
  </h1>
  <!--<div style="text-align: center; padding: 5px">
     <ion-button (click)="presentModal()" fill="outline" class="btn-outline-blue"
      >Crear publicación</ion-button
    >
    <ion-button fill="outline" class="btn-outline-blue"
      >Buscar amigos</ion-button
    >
  </div> -->
  <h1 *ngIf="myPosition > 3" style="text-align: center">
    <strong style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
    compartiendo publicaciones para subir en el ranking!
  </h1>
</div>
<div
style="border-radius: 5px; width: 96%; margin-left: auto; margin-right: auto"
*ngIf="segment == 2 && (myPosition < total)"> 
<div style="padding: 10px; text-align: center">
  <img
     *ngIf="myPosition <= 3" 
      src="https://i.pinimg.com/originals/d2/61/4e/d2614e2f62dd59b9dfe66e63da15e5e7.gif"
      style="height: 100px"
      alt=""
    />
</div>
<h1 *ngIf="myPosition > 1" style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. Sigue
  compartiendo publicaciones para subir en el ranking!
</h1>
<h1 *ngIf="myPosition == 1 && myPosition != 2 && myPosition != 3" 
style="text-align: center">
  <strong  style="font-size: larger">{{ myPosition }}°</strong> Lugar. ¡Felicitaciones eres
  el número 1 en el ranking!
</h1>
</div>
