<ion-content>
  <ion-list>
    <ion-item (click)="deleteChallengeButton()"
      style="cursor:pointer;"   
    >
      <ion-img 
        style="width: 24px;height: 24px;margin-right: 5px;" 
        src="https://img.icons8.com/nolan/64/delete-sign.png"
      >
      </ion-img> 
      Eliminar
    </ion-item>

    <ion-item (click)="close()"
      style="cursor:pointer;"   
    >
      <ion-img 
        style="width: 24px;height: 24px;margin-right: 5px;" 
        src="https://img.icons8.com/nolan/64/circled-left--v1.png"
      >
      </ion-img> 
      Cerrar
    </ion-item>
  </ion-list>
</ion-content>
