.noticontent{
    padding: 0;
    max-height: 100%;
    overflow: auto;
}

.btn{
    font-size: 12px;
    color: var(--color-primary);
    cursor: pointer;
}

.container{
    height: 100%;
    padding: 20px;
}

.container-xs{
    padding: 0px !important;
}