ion-toolbar {
    --background: var(--color-primary)
}

.ion-content-billy {
    --background: #e7e9f1 !important;
}

ion-list {
    --background: #e7e9f1 !important;
}

ion-card {
    border-radius: 15px;
}

ion-img {
    border-radius: 15px !important;
}