<ion-header>
  <ion-toolbar>
    <ion-title>billy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-billy"> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button expand="full" (click)="openModalCreateBilly()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-padding">
          <ion-card-content>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../../assets/images/soccer.jpg" class="rounded"></ion-img>
              </ion-col>

              <ion-col size="4" class="ion-padding-start">
                <div>
                  <h6 class="ion-no-margin color-primary" >Apuesta de futbol</h6>
                </div>
                <div>Monto de apuesta: 200 €</div>
                <div>Monto Acumulado: 0 €</div>
                <ion-badge color="warning" class="ion-text-uppercase">porra privada</ion-badge>
              </ion-col>

              <ion-col size="4">
                <div>
                  <h6 class="ion-no-margin color-primary">Detalles</h6>
                </div>
                <div>Participantes: 6</div>
                <div>Equipos: 10</div>
                <div>Compartir enlace</div>
              </ion-col>

              <ion-col size="2">
                <ion-icon name="football"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
          
      <ion-col size="12">
        <ion-card class="ion-padding">
          <ion-card-content>
            <ion-row>
              <ion-col size="2">
                <ion-img src="../../../assets/images/soccer.jpg" class="rounded"></ion-img>
              </ion-col>

              <ion-col size="4" class="ion-padding-start">
                <div>
                  <h6 class="ion-no-margin color-primary" >Apuesta de futbol</h6>
                </div>
                <div>Monto de apuesta: 200 €</div>
                <div>Monto Acumulado: 0 €</div>
                <ion-badge color="secondary" class="ion-text-uppercase">porra publica</ion-badge>
              </ion-col>

              <ion-col size="4">
                <div>
                  <h6 class="ion-no-margin color-primary">Detalles</h6>
                </div>
                <div>Participantes: 6</div>
                <div>Equipos: 10</div>
                <div>Compartir enlace</div>
              </ion-col>

              <ion-col size="2">
                <ion-icon name="football"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
