<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-title>Ranking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: white">
  <div style="text-align: center; padding: 20px">
    <!-- <img
      src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
      alt="logoSportyeah!"
      style="height: 200px"
    /> -->
    <h1>Ranking Sportyeah!</h1>
    <h5>
      En este ranking seguir a los usuarios que son tendencias en Sportyeah! Se
      uno de ellos...
    </h5>
  </div>

  <div (click)="filterCountry()" style="cursor: pointer; text-align: center">
    <p style="font-size: 12px" *ngIf="!country">Ranking Global</p>
    <p style="font-size: 12px" *ngIf="country">Ranking en mi país</p>
    <img
      *ngIf="(ipLoaded | async) && country"
      class="bandera"
      [src]="'https://www.countryflags.io/'+banderaIP[0]+banderaIP[1]+'/flat/64.png'"
      alt=""
      style="height: 100px"
      class="slide-in-bck-center"
    />
    <img
      *ngIf="!country"
      src="https://img.icons8.com/offices/344/geography.png"
      style="height: 100px"
      alt="planeta tierra"
      class="slide-in-bck-center"
    />
  </div>

  <div class="segmentSection">
    <ion-segment
      style="place-content: center !important"
      scrollable
      class="segment"
      [(ngModel)]="segment"
    >
   
      <ion-segment-button value="0">
        <p class="textoSegment">Reacciones</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/facebook-like.png"
          alt="Reaction icon"
        />
      </ion-segment-button>
    
      <ion-segment-button value="1">
        <p class="textoSegment">Comentarios</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/comments.png"
          alt="Reaction icon"
        />
      </ion-segment-button>

      <ion-segment-button value="2">
        <p class="textoSegment">Compartidos</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/452/undo.png"
          alt="shared icon"
        />
      </ion-segment-button>
      <ion-segment-button value="3">
        <p class="textoSegment">Vistas</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/visible--v2.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="4">
        <p class="textoSegment">Seguidos</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/add-user-male.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="5">
        <p class="textoSegment">Más Buscados</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/452/search.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="6">
        <p class="textoSegment">Visto por rebote</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/bouncing-ball.png"
          alt="view icon"
        />
      </ion-segment-button>

    </ion-segment>
  </div>

  <div
    style="
      border-radius: 5px;
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    "
  >
    <ion-slides pager="true" [options]="slideOpts" style="cursor: pointer">
      <ion-slide>
        <ranking-since-ever
          *ngIf="todolosPost.length != 0"
          style="width: 100%; padding-bottom: 20px"
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-since-ever>
      </ion-slide>
      <ion-slide>
        <ranking-today
          *ngIf="todolosPost.length != 0"
          style="width: 100%; padding-bottom: 20px"
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-today>
      </ion-slide>
      <ion-slide>
        <ranking-week
          *ngIf="todolosPost.length != 0"
          style="width: 100%; padding-bottom: 20px"
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-week>
      </ion-slide>
      <ion-slide>
        <ranking-month
          *ngIf="todolosPost.length != 0"
          style="width: 100%; padding-bottom: 20px"
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-month>
      </ion-slide>
      <ion-slide>
        <raking-year
          *ngIf="todolosPost.length != 0"
          style="width: 100%; padding-bottom: 20px"
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></raking-year>
      </ion-slide>
    </ion-slides>

   
  </div>
</ion-content>
