.podium{
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   margin-top: 1%;
}

.medalla{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

@media screen and (max-width:360px) {
    .podium{
        transform: scale(0.8);
        width: 100%;
    }
   
} 
 @media screen and (max-width:730px) {

    .podium{
     transform: scale(0.8);
     width: 90%;
    }

}

.segmentSection{
    place-content: center  !important;
    border-radius: 5px;
    width: 96%;

    margin-top: 10px;
} 
.contenedor{
    width: 37%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25%;
}
  

.ion-segment-button{
	width:100% !important
}

.iconsPost{
    width: 100%;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  .botons{
    --background: #3d7dff;
    width: 100px;
  }

.textoSegment{
    visibility: visible;
    font-size: 10px;
    font-weight: 600;
}


ion-slides {
    height: 100%;
  }