<ion-header>
  <ion-toolbar class="toolbar-bg">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'ranking.ranking' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background: white">
  <div style="text-align: center; padding: 20px">
    <!-- <img
      src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
      alt="logoSportyeah!"
      style="height: 200px"
    /> -->
    <h1>{{'ranking.ranking_sportyeah' | translate}}</h1>
    <h5>
      {{'ranking.description' | translate}}
    </h5>
  </div>

  <div style="cursor: pointer; text-align: center">
    <p style="font-size: 12px" *ngIf="!country">{{'ranking.global' | translate}}</p>
    <p style="font-size: 12px" *ngIf="country">{{'ranking.country' | translate}}</p>
  
    <img
      *ngIf="!country"
      src="https://img.icons8.com/offices/344/geography.png"
      style="height: 100px"
      alt="planeta tierra"
      class="slide-in-bck-center"
    />
  </div>

  <div class="segmentSection">
    <ion-segment
      scrollable
      class="segment"
      [(ngModel)]="segment"
    >
   
      <ion-segment-button value="0">
        <p class="textoSegment">{{'ranking.react' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/facebook-like.png"
          alt="Reaction icon"
        />
      </ion-segment-button>
    
      <ion-segment-button value="1">
        <p class="textoSegment">{{'ranking.comment' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/comments.png"
          alt="Reaction icon"
        />
      </ion-segment-button>

      <ion-segment-button value="2">
        <p class="textoSegment">{{'ranking.shared' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/452/undo.png"
          alt="shared icon"
        />
      </ion-segment-button>
      <ion-segment-button value="3">
        <p class="textoSegment">{{'ranking.view' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/visible--v2.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="4">
        <p class="textoSegment">{{'ranking.follow' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/add-user-male.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="5">
        <p class="textoSegment">{{'ranking.search' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/452/search.png"
          alt="view icon"
        />
      </ion-segment-button>

      <ion-segment-button value="6">
        <p class="textoSegment">{{'ranking.seen_by_bounce' | translate}}</p>
        <img
          class="iconsPost"
          src="https://img.icons8.com/bubbles/344/bouncing-ball.png"
          alt="view icon"
        />
      </ion-segment-button>

    </ion-segment>
  </div>

  <div
    style="
      border-radius: 5px;
      width: 96%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    "
  >
    <ion-slides #slides pager="true" [options]="slideOpts" style="cursor: pointer">
      <ion-slide>
        <ranking-since-ever
          class="rankingSlide"    
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-since-ever>
        <ion-button class="buttonSlide" (click)="next(slides)">
          <span *ngIf="platform.is('desktop')">{{ 'ranking.today' | translate }}</span><ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-slide>
      <ion-slide >
        <ion-button  class="buttonSlide" (click)="prev(slides)">
          <ion-icon name="chevron-back-outline"></ion-icon><span *ngIf="platform.is('desktop')">{{ 'ranking.sinceEver' | translate }}</span>
        </ion-button>
        <ranking-today
          class="rankingSlide"    
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-today>
        <ion-button  class="buttonSlide" (click)="next(slides)">
          <span *ngIf="platform.is('desktop')">{{ 'ranking.week' | translate }}</span><ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-slide>
      <ion-slide >
        <ion-button  class="buttonSlide" (click)="prev(slides)">
          <ion-icon name="chevron-back-outline"></ion-icon><span *ngIf="platform.is('desktop')">{{ 'ranking.today' | translate }}</span>
        </ion-button>
        <ranking-week
          class="rankingSlide"    
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-week>
        <ion-button  class="buttonSlide" (click)="next(slides)">
          <span *ngIf="platform.is('desktop')">{{ 'ranking.month' | translate }}</span><ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-slide>
      <ion-slide >
        <ion-button  class="buttonSlide" (click)="prev(slides)">
          <ion-icon name="chevron-back-outline"></ion-icon><span *ngIf="platform.is('desktop')">{{ 'ranking.week' | translate }}</span>
        </ion-button>
        <ranking-month
          class="rankingSlide"    
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></ranking-month>
        <ion-button  class="buttonSlide" (click)="next(slides)">
          <span *ngIf="platform.is('desktop')">{{ 'ranking.year' | translate }}</span><ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-slide>
      <ion-slide >
        <ion-button  class="buttonSlide" (click)="prev(slides)">
          <ion-icon name="chevron-back-outline"></ion-icon><span *ngIf="platform.is('desktop')">{{ 'ranking.month' | translate }}</span>
        </ion-button>
        <raking-year
          class="rankingSlide"    
          [segment]="segment"
          [AllPost]="todolosPost"
          [country]="country"
        ></raking-year>
      </ion-slide>
    </ion-slides>

   
  </div>
</ion-content>