<!--<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-title style="--color: white" *ngIf="!retoExistente"
      ><ion-icon name="medal-outline" style="margin-right: 10px"></ion-icon
      >{{ "challenge.createChallenge" | translate }}</ion-title
    >
    <ion-title style="--color: white" *ngIf="retoExistente"
      ><ion-icon name="medal-outline" style="margin-right: 10px"></ion-icon
      >{{ "challenge.acceptChallenge" | translate }}</ion-title
    >
  </ion-toolbar>
</ion-header>-->
<ion-content>
  <div *ngIf="step0" class="text-center" style="padding-bottom: 100px">
    <video
      controlslist="nodownload"
      style="background-color: black"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer"
    >
      <source [src]="Challenge.challenged.media | safeUrl" type="video/mp4" />
      <source [src]="Challenge.challenged.media | safeUrl" type="video/ogg" />
      <br />
    </video>

      <div style="text-align:left; margin-left:'20px;'">
      <h3><b>Titulo:</b> {{ Challenge.title }}</h3>
    <p><b>Descripción:</b> {{ Challenge.description }}</p>
      </div>
    <br />
    <div class="text-center" *ngIf="Challenge.awards.length > 0">
      <ion-button (click)="showAwards()"
        ><ion-icon name="trophy-outline"></ion-icon
        >{{ "challenge.awards" | translate }}</ion-button
      >
    </div>
    <ion-button  (click)="ready()" fill="outline">
      <ion-icon name="flame-outline" style="margin-right:5px"></ion-icon>
      {{ "ready" | translate }}
    </ion-button>
  </div>
  <app-videos-c  
    [mediaa]="media"
    [intentoss]="intentos"
    *ngIf="step2"
    (next)="guardarMedia($event)">
  </app-videos-c>
  <app-create-challenge-form
    [formV]="form"
    *ngIf="step1"
    (next)="guardaForm($event)"
  ></app-create-challenge-form>


  <div 
    class="text-center" 
    *ngIf="step1"
    style="margin-top: 10px"
    >
    <ion-list>
      <ion-item>
        <ion-label>{{ "challenge.public" | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="public"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>{{ "solidary" | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="solidary"></ion-toggle>
      </ion-item>
    </ion-list>
    <div *ngIf="solidary">
      <div *ngIf="cause.src === null">
        <img
          src="https://img.icons8.com/nolan/64/image.png"
          alt=""
          style="width: 100px; cursor: pointer"
          (click)="solidarySrc()"
        />
        <h6>
          Suba una imagen que represente a su causa 
          <span class="error">(opcional)</span>
        </h6>
      </div>
      <div *ngIf="cause.src">
        <img
          [src]="cause.src"
          alt=""
          style="width: 200px; cursor: pointer"
          (click)="solidarySrc()"
        />
      </div>
      <ion-item>
        <ion-label>{{ "reason" | translate }}</ion-label>
        <ion-input
          type="text"
          placeholder=""
          [(ngModel)]="cause.cause"
        ></ion-input>
      </ion-item>
      <p 
        class="errormsj"
        *ngIf="cause.cause === ''"
      >
        Este campo es obligatorio
      </p>

    </div>


  </div>

  <app-awards-list
    *ngIf="step1"
    [awards]="awards"
    [creator]="true"
    (next)="nextAward($event)"
  ></app-awards-list>

  <div class="text-center">
    <ion-button
      style="margin-top:20px;"
      *ngIf="step1"
      fill="outline"
      [disabled]="
        !formbool 
      "
      (click)="finishform()"
    >
      {{ "next" | translate }}
    </ion-button>
  </div>

  <app-create-award-challenge
    *ngIf="createAward"
    (save)="saveAward($event)"
  ></app-create-award-challenge>
  </ion-content>
<ion-icon
  name="close-outline"
  (click)="mc.dismiss()"
  style="
    color: gray;
    right: 5px;
    top: 5px;
    position: absolute;
    font-size: 40px;
    z-index: 9999999;
    cursor: pointer;
  "
></ion-icon>
<div>
  
</div>
