<ion-header>
  <ion-toolbar class="bg-gradient-person">
    <ion-title style="--color: white" *ngIf="!retoExistente"
      ><ion-icon name="medal-outline" style="margin-right: 10px"></ion-icon
      >{{ "challenge.createChallenge" | translate }}</ion-title
    >
    <ion-title style="--color: white" *ngIf="retoExistente"
      ><ion-icon name="medal-outline" style="margin-right: 10px"></ion-icon
      >{{ "challenge.acceptChallenge" | translate }}</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="step0" class="text-center" style="padding-bottom: 100px">
    <video
      controlslist="nodownload"
      style="background-color: black"
      controls="controls"
      preload="metadata"
      webkit-playsinline="webkit-playsinline"
      class="videoPlayer"
    >
      <source [src]="Challenge.challenged.media | safeUrl" type="video/mp4" />
      <source [src]="Challenge.challenged.media | safeUrl" type="video/ogg" />
      <br />
    </video>

    <h3>{{ Challenge.title }}</h3>
    <br />
    <p>{{ Challenge.description }}</p>
    <br />
    <div class="text-center" *ngIf="Challenge.awards.length > 0">
      <ion-button (click)="showAwards()"
        ><ion-icon name="trophy-outline"></ion-icon
        >{{ "challenge.awards" | translate }}</ion-button
      >
    </div>
    <ion-button expand="full" (click)="ready()" class="bottom-button">{{
      "ready" | translate
    }}</ion-button>
  </div>
  <app-videos-c *ngIf="step1" (next)="guardarMedia($event)"></app-videos-c>
  <app-create-challenge-form
    *ngIf="step2"
    (next)="guardaForm($event)"
  ></app-create-challenge-form>
  <app-awards-list
    *ngIf="step3"
    [awards]="awards"
    [creator]="true"
    (next)="nextAward($event)"
  ></app-awards-list>
  <app-create-award-challenge
    *ngIf="createAward"
    (save)="saveAward($event)"
  ></app-create-award-challenge>
  <div class="text-center" *ngIf="step4">
    <ion-list>
      <ion-item>
        <ion-label>{{ "challenge.public" | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="public"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>{{ "solidary" | translate }}</ion-label>
        <ion-toggle color="primary" [(ngModel)]="solidary"></ion-toggle>
      </ion-item>
    </ion-list>
    <div *ngIf="solidary">
      <div *ngIf="cause.src === null">
        <img
          src="https://img.icons8.com/nolan/64/image.png"
          alt=""
          style="width: 100px; cursor: pointer"
          (click)="solidarySrc()"
        />
      </div>
      <div *ngIf="cause.src">
        <img
          [src]="cause.src"
          alt=""
          style="width: 100px; cursor: pointer"
          (click)="solidarySrc()"
        />
      </div>
      <ion-item>
        <ion-label>{{ "reason" | translate }}</ion-label>
        <ion-input
          type="text"
          placeholder=""
          [(ngModel)]="cause.cause"
        ></ion-input>
      </ion-item>
    </div>
    <ion-button
      shape="round"
      expand="full"
      class="bottom-button"
      (click)="saveChallenge()"
      [disabled]="
        solidary
          ? cause.src !== null && cause.cause !== ''
            ? false
            : true
          : false
      "
      ><ion-icon name="medal"></ion-icon
      >{{ "challenge.create" | translate }}</ion-button
    >
  </div>
</ion-content>
<ion-button color="light" (click)="mc.dismiss()">
  {{ "back" | translate }}
</ion-button>
