<div style="background-color:white 0.5;">
  <ion-button
    fill="clear"
  color="light"
    (mouseover)="reactionsON()"
    (mouseout)="Changefalse()"
    (touchstart)="reactionsON()"
  style="background:rgb(0 0 0 / 70%)"
    (click)="like(null)"
  >
    <ion-icon 
      *ngIf="!myVote" 
      name="heart" 
      style="margin-right: 2px"
    ></ion-icon>
    <img 
      #img 
      *ngIf="myVote" 
      [src]="myVote.src" 
      style="width: 30px" 
    />
    <span
      *ngIf="challenge.challenged.reactions"
      style="margin-left:4px;"
      class="profile-name"
    >
  {{ reactionsNum }}
</span>
  </ion-button>
</div>

<div class="reacts" 
  style="left: -79px;"
  #reacts 
  (mouseover)="time = true" 
  (mouseout)="time = false"
>
  <div class="overlay" fxShow="false" fxShow.xs="true"></div>
  <div
    class="circle"
    #circle
    (click)="like(reaction.level)"
    *ngFor="let reaction of reactions"
  >
    <img #img [src]="reaction.src" alt="" />
    <p>{{ "levels-challenge." + reaction.level | translate }}</p>
  </div>
</div>
