<div>
  <ion-button
    fill="clean"
    (mouseover)="reactionsON()"
    (mouseout)="Changefalse()"
    (touchstart)="reactionsON()"
    (click)="like(item.post._id, item.likes, 1, true)"
  >
    <ion-icon *ngIf="!myVote" name="heart" style="margin-right: 2px"></ion-icon>
    <span *ngIf="!myVote" fxShow.gt-xs="true" fxShow="false">{{
      "levels-challenge.reaction" | translate
    }}</span>
    <ion-icon *ngIf="myVote" [name]="myVote.src"></ion-icon>
    <span *ngIf="myVote" fxShow.gt-xs="true" fxShow="false">
      {{ "levels-challenge." + reaction.level | translate }}
    </span>
  </ion-button>
</div>
<p
  *ngIf="challenge.challenged.reactions"
  (click)="goToPost(item.post._id)"
  class="profile-name marginleftforletters"
>
  {{ challenge.challenged.reactions.length }} {{ "post.likes" | translate }}
</p>

<div class="reacts" #reacts (mouseover)="time = true" (mouseout)="time = false">
  <div class="overlay" fxShow="false" fxShow.xs="true"></div>
  <div
    class="circle"
    #circle
    (click)="like(reaction.level, reaction.src)"
    *ngFor="let reaction of reactions"
  >
    <img #img [src]="reaction.src" alt="" />
    <p>{{ "levels-challenge." + reaction.level | translate }}</p>
  </div>
</div>
