<ion-grid>
  <ion-row>
    <ion-col style="text-align: center; position: relative"
      size-xl="8"
      size-xs="12">
      <div style="margin-right: auto; width: 100%">
        <div id="localPlayer" style="position: relative;" class="player">
          <img
          *ngIf="!unpublished"
          src="https://i.ibb.co/g6TFj6G/Logo-TRANSPARENTE.png"
          alt="logoSportyeah!"
          style="height: 200px"
        />
        </div>
        <div class="w-100"></div>
        <!-- <div id="remotePlayerlist"></div> -->
      </div>
    </ion-col>
      <ion-col size="11" class="bar p-10-0">
        <input
          type="range"
          [value]="currentTime / duration"
          min="0"
          max="1"
          step="0.01"
          (input)="changeRange($event)"
        />
        <span class="duration"
        >{{ currentTime | diffTime }} / {{ duration | diffTime }}</span
      >
      </ion-col>
  </ion-row>
</ion-grid>



